<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div tab-scroll xmlns="http://www.w3.org/1999/html">
  <h2 openlmis-message="label.admin.configure.regimenTemplate"></h2>

  <div class="info-box">
    <p><strong openlmis-message="template.programName"></strong>
      <span ng-bind="program.name"></span>
      <a ng-href="{{selectProgramUrl}}" openlmis-message="template.change"></a>
    </p>
  </div>
  <div class="rnr-tabs clearfix">
    <ul>
      <li class="selected" ng-class="{'has-error': regimensError, 'selected' : !showReportingFields}">
        <a openlmis-message="label.regimens" href="" ng-click="showReportingFields=false;"></a>
      </li>
      <li ng-class="{'has-error': reportingFieldsError, 'selected' : showReportingFields}">
        <a openlmis-message="label.reporting.fields" href="" ng-click="showReportingFields=true;"></a>
      </li>
    </ul>
  </div>

  <form name="regimenEditForm" class="regimenForm" ng-submit="save()">

    <ng-switch on="showReportingFields">
      <span ng-switch-when="true">
        <ng-include src="'/public/pages/admin/regimen-template/partials/reporting-fields.html'"></ng-include>
      </span>
      <span ng-switch-default>
        <ng-include src="'/public/pages/admin/regimen-template/partials/new-regimen.html'"></ng-include>
        <ng-include src="'/public/pages/admin/regimen-template/partials/edit-regimen-form.html'"></ng-include>
      </span>
    </ng-switch>

    <div form-toolbar id="action_buttons" class="action-buttons">
      <div class="FORM-cell button-row">
        <input type="submit" class="btn btn-primary save-button" openlmis-message="button.save"/>
        <a ng-href="{{selectProgramUrl}}" class="btn btn-cancel cancel-button" openlmis-message="button.cancel"></a>
      </div>
      <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>

  </form>

</div>
