<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div tab-scroll>
  <h2 openlmis-message="label.admin.configure.regimenTemplate"></h2>

  <div class="info-box">
    <p><strong openlmis-message="template.programName"></strong> {{program.name}} <a ng-href="{{selectProgramUrl}}"
                                                                                     openlmis-message="template.change"></a>
    </p>
  </div>

  <div class="row-fluid">
    <div class="span3">Category</div>
    <div class="span3">Code</div>
    <div class="span3">Name</div>
    <div class="span3">Active</div>
  </div>

  <form name="newRegimenForm">
    <div class="row-fluid">
      <div class="span3"><span><select ng-model="newRegimen.category"
                                       ng-options="regimenCategory as regimenCategory.name for regimenCategory in regimenCategories"
                                       ng-required="true">
      </select></span></div>
      <div class="span3"><span><input type="text" ng-model="newRegimen.code" ng-required="true"/></span></div>
      <div class="span3"><span><input type="text" ng-model="newRegimen.name" ng-required="true"/></span></div>
      <div class="span3"><span><input type="checkbox" ng-model="newRegimen.active" ng-required="true"/></span></div>
    </div>
    <div class="alert alert-error" id="addFailMessage" openlmis-message="newRegimenError" ng-show="newRegimenError">
    </div>
    <div class="row-fluid">
      <input type="button" class="btn btn-primary" openlmis-message="button.add" ng-click="addNewRegimen()"/>
    </div>
  </form>

  <form name="configureRegimenTemplateForm" ng-submit="save()">

    <div class="rnr-template-columns">
      <ul ng-repeat="category in regimenCategories">
        <li><span ng-show="regimensByCategory[category.id].length > 0" ng-bind="category.name">
        </span></li>
        <li ng-repeat="regimen in regimensByCategory[category.id]">
          <div class="drag-handle"></div>
          <span class="tpl-visible">
            <input type="checkbox" ng-model="regimen.active"/>
          </span>
          <span class="tpl-label">

            <input name="regimenCode" type="text" ng-model="regimen.code"/>
          </span>
          <span class="tpl-label">
            <input name="regimenName" type="text" ng-model="regimen.name"/>
          </span>
        </li>
      </ul>
    </div>

    <div form-toolbar class="action-buttons">
      <div class="form-cell button-row">
        <input type="submit" class="btn btn-primary save-button" openlmis-message="button.save"/>
        <a ng-href="{{selectProgramUrl}}" class="btn btn-cancel cancel-button" openlmis-message="button.cancel"></a>
      </div>
      <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>


  </form>
</div>
