<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div id="reportingFields">
  <div class="list-header-container">
    <div class="row-fluid list-header">
      <div class="span1">
        <span class="first-column" openlmis-message="label.visible"></span>
      </div>
      <div class="span6" openlmis-message="label.column.label"><span class="label-required"> *</span></div>
      <div class="span4" openlmis-message="label.data.type"></div>
    </div>
  </div>

  <div class="list-container">
    <div class="row-fluid list-row"
         ng-repeat="regimenColumn in regimenTemplate.columns">
      <div>
        <div class="span1">
          <span class="first-column checkbox-column">
            <input type="checkbox" ng-model="regimenColumn.visible"/>
          </span>
        </div>
        <div class="span6">
          <input type="text" ng-model="regimenColumn.label" ng-class="{'required-error':!regimenColumn.label}"
                 maxlength="100"/>
        </div>
        <div class="span4">
          <span openlmis-message="regimenColumn.dataType"></span>
        </div>
      </div>
    </div>
  </div>
</div>