<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->
<div class="inheritance">
  <div class="rnr-template-columns">
    <div class="list-header-container">
      <div class="row-fluid list-header">
        <div class="span1">
          <span class="first-column" openlmis-message="label.visible"></span>
        </div>
        <div class="span6">
          <span openlmis-message="label.column.label"></span>
          <span class="label-required"> *</span>
        </div>
        <div class="span4" openlmis-message="label.data.type"></div>
      </div>
    </div>

    <ul ui-sortable ng-model="regimenTemplate.columns" id="sortable">

      <li ng-repeat="regimenColumn in regimenTemplate.columns">
        <div class="drag-handle" style="top: 50%"></div>
         <span class="tpl-visible">
          <input type="checkbox" ng-model="regimenColumn.visible"/>
        </span>
        <span class="tpl-label">
          <input type="text" ng-model="regimenColumn.label" ng-class="{'required-error':!regimenColumn.label}"  maxlength="100"/>
        </span>
         <span class="tpl-source">
           <span openlmis-message="regimenColumn.dataType"></span>
         </span>

      </li>
    </ul>
  </div>
</div>
