<div id="reportingFields">
  <div class="row-fluid list-header">
    <div class="span2" openlmis-message="label.visible"></div>
    <div class="span6" openlmis-message="label.column.label"><span class="label-required"> *</span></div>
    <div class="span4" openlmis-message="label.data.type"></div>
  </div>

  <div class="row-fluid list-row"
       ng-repeat="regimenColumn in regimenTemplate.regimenColumns">
    <ng-switch on="regimenColumn.name">
      <div ng-switch-when="name">
        <div class="span2">
          <i class="icon-ok"></i>
        </div>
        <div class="span6">
          <input type="text" ng-model="regimenColumn.label"/>
        </div>
        <div class="span4">
          <span openlmis-message="regimenColumn.dataType"></span>
        </div>
      </div>
      <div ng-switch-when="code">
        <div class="span2">
          <i class="icon-ok"></i>
        </div>
        <div class="span6">
          <input type="text" ng-model="regimenColumn.label"/>
        </div>
        <div class="span4">
          <span openlmis-message="regimenColumn.dataType"></span>
        </div>
      </div>
      <div ng-switch-default>
        <div class="span2">
          <input type="checkbox" ng-model="regimenColumn.visible"/>
        </div>
        <div class="span6">
          <input type="text" ng-model="regimenColumn.label" ng-class="{'required-error':!regimenColumn.label}"
                 maxlength="100"/>
        </div>
        <div class="span4">
          <span openlmis-message="regimenColumn.dataType"></span>
        </div>
      </div>
    </ng-switch>
  </div>
</div>