/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
 */
@import url("mixins.less");

body {
  background-color: #808080;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'); /* Modern Browsers */
}

#wrap {
  min-width: 960px;
}

//bootstrap overrides: buttons

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #356b6f;
}

input[type="text"]::-ms-clear {
  display: none;
}

input, a {
  &.btn-primary {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #356b6f;
    background-image: -moz-linear-gradient(top, #42a7ad, #356b6f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42a7ad), to(#356b6f));
    background-image: -webkit-linear-gradient(top, #42a7ad, #356b6f);
    background-image: -o-linear-gradient(top, #42a7ad, #356b6f);
    background-image: linear-gradient(to bottom, #42a7ad, #356b6f);
    background-repeat: repeat-x;
    border-color: #42a7ad #42a7ad #356b6f;
    border-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42a7ad', endColorstr='#ff004484', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

  &.btn-primary:hover,
  &.btn-primary:active,
  &.btn-primary.active,
  &.btn-primary.disabled,
  &.btn-primary[disabled] {
    color: #ffffff;
    background-color: #356b6f;
  }

  &.btn-cancel {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    background-color: #666666;
    background-image: -moz-linear-gradient(top, #c5c5c5, #777777);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5c5c5), to(#777777));
    background-image: -webkit-linear-gradient(top, #c5c5c5, #777777);
    background-image: -o-linear-gradient(top, #c5c5c5, #777777);
    background-image: linear-gradient(to bottom, #c5c5c5, #777777);
    background-repeat: repeat-x;
    border-color: #777777 #777777 #444444;
    border-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc5c5c5', endColorstr='#ff777777', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }

  &.btn-cancel:hover,
  &.btn-cancel:active,
  &.btn-cancel.active,
  &.btn-cancel.disabled,
  &.btn-cancel[disabled] {
    color: #ffffff;
    background-color: #777777;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
}

a {
  color: #078f97;
  &:hover {
    color: #055e74;
  }
}

textarea {
  resize: none;
}

input[type='file'] {
  line-height: normal;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #17888f;
  outline: 0;
  outline: thin dotted     \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #333;
  background: #D3EBEB;
}

select {
  box-shadow: none;
}

//modal

.modal-header {
  border-color: #CCC;
  h3 {
    color: #17888F;
    font-weight: normal;
    font-size: 1.4em;
  }
}

.modal-footer {
  text-align: left;
}

.right-justified {
  text-align: right !important;
}

.center-justified {
  text-align: center !important;
}

.vertical-middle-aligned {
  vertical-align: middle !important;
}

label.short {
  display: inline;
}

.position-relative {
  position: relative;
}

.clear-floats {
  float: none !important;
}

.full-width {
  width: 100% !important;
}

.half-width {
  width: 50% !important;
}

.submenu li.border-top-none {
  border-top: none;
}

.warning-popup {
  width: 250px;
  position: absolute;
  border-radius: 4px;
  left: -132px;
  padding: 7px 9px;
  bottom: 25px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
  text-align: center;
  white-space: normal;
  color: #FFFFFF;
  .box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  &:after {
    height: 0;
    width: 0;
    border-top: 7px solid rgba(0, 0, 0, 0.7);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    position: absolute;
    left: 132px;
    bottom: -6px;
    content: "";
  }
}