@import url("calendar.less");
.content {
  min-height: 200px;
  background: white;
  padding: 10px 20px 20px;
  margin: 72px 12px 0 265px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0;
    color: #464646;
    border-bottom: 1px solid #d6d6d6;
  }
}

/* TODO: Split into separate screen */
/* RnR Template config */
.rnr-template-head {
  border: 1px solid #BBB;
  background: #EEE;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.app-form {
  border: 1px solid #e6e6e6;
  background: #F8F8F8;
  padding: 10px;
  box-shadow: inset 1px 1px 0 white;
}

.form-row {
  padding: 6px 10px;
  margin: 5px 0;
}
.form-row.error {
  background: #FFEAEA;
}
.form-row label {
  font-size: 0.9em;
  margin-bottom: 2px;
}
.form-row input,
.form-row select {
  margin-bottom: 0;
}
.form-row input[type='radio'] {
  margin: -3px 5px 0 0;
}
.form-row input[type='text'] {
  width: 306px;
}
.form-row input[type='text']:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  color: #555 !important;
}
.form-row select {
  width: 320px;
}
.form-row .form-field {
  position: relative;
}
.form-row .form-field .field-error {
  color: #E93434;
  display: block;
  padding-top: 4px;
  font-size: 0.9em;
}

.form-row .form-field.radio-group .field-error {
  left: 150px;
  top: -6px;
}

.form-group {
  position: relative;
  padding: 16px 0;
  border-top: 1px solid #A0A0A0;
  margin: 20px 0;
  h3 {
    margin-left: 10px;
    background: #F8F8F8;
    display: inline-block;
    position: absolute;
    top: -30px;
    padding: 0 10px;
    left: 10px;
    font-size: 1.2em;
    color: #555;
  }
  .form-row {
    margin: 6px 0;
    padding: 0;
    border-bottom: 1px solid #FFF;
    input[type="text"] {
      width: 87%;
    }
    select {
      width: 90%;
    }
  }
  .form-cell {
    width: 42%;
    float: left;
    padding: 6px 10px 10px;
    &.full-width {
      width: 100%;
    }
  }
}

.label-required {
  color: #D31717;
  font-weight: bold;
  font-size: 1.2em;
}

.form-error {
  color: #E93434;
  font-size: 0.8em;
}

.arithmetic-valid-msg {
  .btn {
    width: 70px;
  }
  strong {
    color: #2063A0;
  }
}

.action-buttons {
  border: 1px solid #CCC;
  border-top: 0;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 265px;
  min-height: 50px;
  .save-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .submit-button {
    position: absolute;
    top: 10px;
    left: 75px;
  }
  .delete-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.toolbar-success,
.toolbar-error {
  font-weight: bold;
  left: 170px;
  position: absolute;
  top: 14px;
}
.toolbar-success {
  color: #86D186;
}
.toolbar-error {
  color: #EB7272;
}
#notifications {
  position: fixed;
  left: 265px;
  top: 60px;
  > div {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    margin: 10px;
  }
}


span[class^="tpl-"] {
  display: inline-block;
  padding: 10px;
  vertical-align: text-top;
}

.rnr-template-head span[class^="tpl-"] {
  padding: 8px 10px;
}

.tpl-used {
  width: 18%;
}

.tpl-label {
  width: 35%;
}

.tpl-indicator {
  width: 30px;
}

.tpl-position input {
  width: 20px;
}

.tpl-source {
  width: 18%;
}

.tpl-visible {
  width: 50px;
  text-align: center;
}

.rnr-template-columns {
  margin-bottom: 10px;
}

.rnr-template-columns ul {
  list-style: none;
  margin: 0;
}

.rnr-template-columns ul > li {
  border: 1px solid #DDD;
  border-color: transparent #BBB #DDD;
  border-top: 0;
  background: #FCFCFC;
  font-size: 0.9em;
  position: relative;
}
.rnr-template-columns ul > li .drag-handle {
  background: url("../images/sort-icon.png") no-repeat left center;
  position: absolute;
  width: 12px;
  height: 16px;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  cursor: move;
  display: none;
}
.rnr-template-columns ul > li:hover .drag-handle {
  display: block;
}

#sortable .ui-sortable-helper {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border: 1px solid rgba(82, 168, 236, 0.8);
}
#sortable .sortable-placeholder {
  border: 2px dashed #5BA5D6;
  margin: 10px 0;
  height: 70px;
  background: #E8F8FF;
}

.rnr-template-columns input[type="text"] {
  margin-bottom: 2px;
  font-size: 1em;
  height: 18px;
  width: 70%;
}
.rnr-template-columns select {
  margin-bottom: 5px;
}

.rnr-template-columns .col-desc {
  font-size: 0.9em;
  display: block;
  width: 74%;
  line-height: 14px;
  color: #555;
  padding: 0 0 0 1px;
}

.rnr-table {
  overflow: auto;
  width: 100%;
}
.rnr-table th {
  background: #EEE;
  font-weight: bold;
  color: #444;
  min-width: 93px;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

input[ui-date] {
  background: #FFF url(../images/calendar-icon.png) no-repeat 98% center;
  cursor: default;
}

.info-box {
  border: 1px solid #B9B9B9;
  background: #F2F2F2;
  margin-bottom: 18px;
  padding: 9px 12px 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 white;
}

.info-box > table td {
  padding: 4px 20px 10px 0;
}

/* R&R form */

/* Cell size: Small */

/* Cell size: Medium */
/* Cell size: Large */
th.col-product,
th.col-remarks,
th.col-reasonForRequestedQuantity,
th.col-reasonForLossesAndAdjustments {
  min-width: 280px;
}
.col-packsToShip {
  min-width: 170px;
}
table td.col-formula {
  text-align: center;
}
.col-formula .indicator,
.rnr-template-columns .indicator {
  display: inline-block;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0 6px;
  color: white;
  background: #CE5959;
  border-radius: 26px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px #999;
}
.rnr-template-columns .indicator {
  font-size: 0.8em;
}

.rnr-form-error {
  color: #E93434;
  font-size: 0.8em;
  padding-bottom: 3px;
}

.col-formula .formula {
  font-style: italic;
  border-top: 1px dashed #AAA;
  margin-top: 6px;
  padding-top: 3px;
  color: #249BD3;
  cursor: pointer;
  font-size: 0.8em;
  min-width: 140px;
  line-height: 15px;
}
.col-formula .formula:hover {
  text-decoration: underline;
}

table tr.highlight td {
  background: #ECFAFF;
  border-bottom: 1px solid #3585CF;
  border-top: 1px solid #3585CF;
}
table td.cell-input {
  padding: 0;
  background-color: #f9f9f9;
}
table td.cell-input .cell-text {
  padding: 4px 8px;
  display: inline-block;
  font-size: 0.9em;
}
.cell-input input[type="text"] {
  margin: 0;
  padding: 0;
  width: 99%;
  height: 26px;
  border: 1px solid #BBB;
  border-radius: 0;
}
.cell-input input[type="text"]:focus {
  box-shadow: inset 0 0 5px rgba(82, 168, 236, 0.9);
  border-color: #60B2F1;
}
.search-query {
  margin-top: 10px;
}
.form-tip {
  font-size: 0.8em;
  color: #666;
  margin: 3px 0 0 5px;
}
.facility-list {
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 3px;
  position: relative;
  h3 {
    line-height: normal;
    padding: 8px 10px;
    margin: 0;
    color: #444;
    text-shadow: 0 1px 0 #FFF;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
  }
  .close-btn {
    position: absolute;
    right: 11px;
    top: 10px;
    width: 16px;
    height: 16px;
    text-indent: -999em;
    background: url(../images/close-icon.png) no-repeat left top;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      border-top: 1px solid #CCC;
      &:first-child {
        border-top: 0;
      }
      a {
        padding: 10px;
        display: block;
      }
      &:hover a {
        background-color: #f9f9f9;
      }
    }
  }
}
h3 {
  font-size: 1.3em;
}

.adjustments-modal {
  .alert-danger {
    margin: 10px 0 0;
  }
}

.adjustment-field {
  input[type="text"] {
    width: 100px;
    border: 1px solid #BBB;
    padding: 1px 6px;
    border-radius: 4px;
    margin-left: 7px;
    text-align: right;
  }
  .rnr-form-error {
    text-align: right;
    padding-right: 5px;
  }
  > * {
    vertical-align: top;
    margin-right: 10px;
  }
}
.adjustment-list {
  border: 1px solid #CCC;
  background: #fafafa;
  margin-top: 10px;
  overflow: auto;
  max-height: 204px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-top: 1px solid #eee;
      &:first-child {
        border-top: 0 none;
      }
      .tpl-adjustment-type {
        line-height: 26px;
        width: 220px;
      }
      .tpl-adjustment-qty {
        float: right;
        text-align: right;
        input {
          width: 70px;
          text-align: right;
          padding-right: 10px;
          border-radius: 3px;
        }
      }
      .tpl-adjustment-delete {
        float: right;
        padding-top: 14px;
      }
    }
  }
}
.checkbox-list {
  input[type="checkbox"] {
    float: left;
    margin-top: 8px;
  }
  label {
    float: left;
    cursor: pointer;
    padding: 5px 10px;

  }
  &:hover {
    background: #EEE;
  }
}
.button-row {
  padding: 10px 0;
}
.gradient-header th {
  background: #EEE;
  font-weight: bold;
  color: #444;
  min-width: 93px;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.total-cost {
  border-radius: 0;
  font-size: 1.1em;
  font-weight: bold;
}
.reason-request {
  display: block;
  margin: 0 0 5px;
  font-size: 0.9em;
  padding: 1px 8px 1px 27px;
  border-radius: 0;
  background-image: url(../images/warning_triangle.png); 
  background-repeat: no-repeat;
  background-position: 5px center;
}
.rnr-adjustment {
  display: block;
  padding: 0 6px;
  text-align: right;
  line-height: 28px;
  background: url(../images/edit-icon.png) no-repeat 8px center;
  .add-adjustment {
    font-size: 0.85em;
  }
  .adjustment-value {
    font-weight: bold;
  }
}
.adjustment-total {
  padding: 10px 52px 10px 10px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 0;
  margin: 10px 0 0;
  border-color: #F0D29F;
  text-align: right;
}

//Schedules

.schedule-header {
  background: #EEE;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  border: 1px solid #CCC;
  border-radius: 5px 5px 0px 0px;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
  div {
    display: inline-block;
    line-height: 40px;
  }
}
.schedule-row {
  padding: 12px 0;
  border: 1px solid #eee;
  border-top: 0;
  input[type="text"] {
    width: 76%;
  }
}
.schedule-form,
.edit-schedule-form {
  margin: 0;
  .schedule-form-active {
    border-style: solid;
    border-width: 2px 1px;
    input {
      margin: 0;
    }
    .schedule-row {
      border: 0 none;
      padding: 16px 0;
    }
    .schedule-button-row {
      padding: 8px 0;
      div {
        min-height: 20px;
      }
    }
  }
  .form-error {
    line-height: 24px;
  }
}
.schedule-form {
  .schedule-form-active {
    background-color: #FFFBDF;
    border-color: #C2A717 #DFDFDF;
    .schedule-button-row {
      background-color: #F3E9B1;
    }
  }
}
.edit-schedule-form {
  .schedule-form-active {
    background-color: #E7F7FF;
    border-color: #479EEE #DFDFDF;
    .schedule-button-row {
      background-color: #BCDFF3;
    }
  }
}

input.required-error {
  border-color: #E9322D !important;
  &:focus {
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
  }
}

input.warning-error {
  border-color: #9e811d !important;
  background-color: #feffe1;
  &:focus {
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
  }
}

input[type='text'] {
  outline: 0 none !important;
}.row-fluid [class*="span"] {
  word-wrap: break-word;
}

input:focus:required:invalid:focus.ng-pristine,
textarea:focus:required:invalid:focus.ng-pristine,
select:focus:required:invalid:focus.ng-pristine {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  color: #555;
}

@-webkit-keyframes highlight {
  0% {
    background: transparent;
  }
  10% {
    background: #FFFFD3;
  }
  50% {
    background: #FFFFD3;
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes highlight {
  0% {
    background: transparent;
  }
  10% {
    background: #FFFFD3;
  }
  50% {
    background: #FFFFD3;
  }
  100% {
    background: transparent;
  }
}
.updated-item {
  -webkit-animation-name: highlight;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: highlight;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: 1;
}
table td.delete-button {
  text-align: center;
}

.cell-error-highlight {
  position: relative;
  display: block;
  background: #FFEFEF;
  color: #CF2323;
  input[type='text'] {
    background-color: transparent !important;
    border: 1px solid #E22B2B;
    color: #CF2323;
    &:focus {
      box-shadow: none;
      border: 1px solid #E22B2B;
    }
  }
  &:hover {
    .row-specific-error {
    display: block !important;
    }
  }
}

.row-error-highlight {
  td {
    border-top: 2px solid #E28E8E;
    border-bottom: 2px solid #E28E8E;
    background-color: #FCDFDF !important;
  }
}

.row-specific-error {
  position: absolute;
  left: 50%;
  bottom: 42px;
  width: 134px;
  margin-left: -82px;
  background: #FFF !important;
  font-size: 0.8em;
  color: #CF2323;
  border: 2px solid #E43D3D;
  padding: 7px 11px;
  line-height: 13px;
  border-radius: 6px;
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  display: none;
  .beak-down {
    width: 0; 
    height: 0;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent;
    border-top: 8px solid #E22F2F;
    position: absolute;
    bottom: -9px;
    left: 46%;
  }
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 400px
}

.editBtn {
    position: relative ;
    left: 700px;
    top: 4px;
}

