
@import url("flaticon.less");

.chart {
  width: 500px;
  height:300px;
  text-align: left;
}
.chartLegend {
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #E6E6E6;
  display: block;
  margin: 5px 25px;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
}

#flotTip {
  z-index: 1040;
  display: none;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.7);
}

.legend table, .legend > div {
  height: 82px !important;
  opacity: 1 !important;
  right: -55px;
  top: 10px;
  width: 116px !important;
}

.legend table {
  border: 1px solid #555;
  padding: 5px;
}
.pieLabel{
  font-size:13px;
  font-weight: bold;
  text-align:center;
  padding:2px;
}


.xaxisLabel, .yaxisLabel{
  font-weight: bold;
  color: #666 !important;
}

.fill-rate-header{
  padding: 10px;
  border: 1px solid #DDD;
  border-top: 0 none;
  border-radius: 3px 0 0;
  background-color: #e0e0e0;
}
.fill-rate-header span{
  font-size: small;
}
.chart-note{
  padding: 8px;
  font-size: 0.9em;
  font-style: normal;
  color: #666;
}

.dashboard-nav {
  font-size: 0.9em;
  margin: 5px 0 10px;
  font-weight: bold;
  ul {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #d6d6d6;
  }
  li {
    float: left;
    margin: 0 2px -1px;
    border: 1px solid #d6d6d6;
    border-radius: 3px 3px 0 0;
    background: #DDD; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0); /* IE6-9 */
    &:first-child {
      margin-left: 5px;
    }
    &:hover, &.selected {
      border-bottom: 1px solid #ffffff;
      background: #FFF; /* Old browsers */
      background: -moz-linear-gradient(top, #d9d9d9 0%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-linear-gradient(top, #d9d9d9 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
      background: -ms-linear-gradient(top, #d9d9d9 0%, #ffffff 100%); /* IE10+ */
      background: linear-gradient(to bottom, #d9d9d9 0%, #ffffff 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    }
  }
  a {
    display: block;
    color: #2c2c2c;
    padding: 8px 14px 6px ;
    text-shadow: 0 1px 0 #FFF;
    &:hover {
      text-decoration: none;
    }
  }
  .icon-remove-sign{
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}

.alert-summary{
  font-size: 0.9em;
  margin: 5px 0 10px;
  font-weight: bold;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    float: left;
    margin: 2px 3px;
    min-width: 22%;
    max-width: 22%;
    padding: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    &:first-child {
      margin-left: 5px;
    }
    &.LATE_RESUPPLIED_FACILITY{
      background: #FFFF6D;
    }
    &.FACILITY_WITH_EMPTY_POD{
      background: #FFCEE7;
    }
    &.EMERGENCY_REQUISITION{
      background: #AFD7FF;
    }
    &.UNSCHEDULED_ORDER{
      background: #EEDEFF;
    }
  }

 }

/***
Accordions
***/
.accordion{
  margin-bottom: 0px;
}
.accordion-heading {
  background: #eee;
  margin-bottom: 0;
}
.accordion-heading a {
  text-decoration: none;
  bottom: 0;
}

.accordion .accordion-heading a.collapsed{
  color: #ffffff;
  background: none repeat scroll 0% 0% rgb(13, 113, 121) !important;
  span{
    background: none repeat scroll 0% 0% rgb(13, 113, 121) !important;
  }
}
.accordion .accordion-heading span {
  padding: 0 !important;
}

.accordion-heading a.open:hover {
  text-decoration: none;
  color: #ffffff;
  background: none repeat scroll 0% 0% rgb(13, 113, 121) !important;
  span{
    background: none repeat scroll 0% 0% rgb(13, 113, 121) !important;
  }
}
.accordion-heading a.collapsed:hover {
  text-decoration: none;
  color: #078f97;
  background: none repeat scroll 0% 0% rgb(248, 248, 248) !important;
  span{
    background: none repeat scroll 0% 0% rgb(248, 248, 248) !important;
  }
}


/*<!-- -- */


.accordion-heading  .accordion-title:after,
.accordion-heading  .accordion-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.accordion-heading  .accordion-title:after {
  clear: both;
}

.accordion-heading  .accordion-title .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.accordion-heading  .accordion-title  .caption > i {
  margin-right: 8px;
}

.accordion-heading  .accordion-title  .tools
{
  display: inline-block;
  padding: 0;
  float: right;
}

.green {
  color: #37AC02;
}
.red {
  color: #F83103;
}
.blue{
  color: #02A8FA;
}
.yellow {
  color: #FAA702;
}
.table td.green{
  border-top: 1px solid #37AC02 !important;
}
.table td.red{
  border-top: 1px solid #F83103 !important;
}
.table td.blue{
  border-top: 1px solid #02A8FA !important;
}
.table td.yellow{
  border-top: 1px solid #FAA702 !important;
}


