/*
 * Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
 *
 * If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.record-facility-data {
  .info-box {
    padding-bottom: 8px;

    .info-box-labels {
      padding-top: 5px;
    }
  }
}

.facility-info {
  min-height: 535px;
  margin-left: 270px;
  background: #fff;
  border-left: 1px solid #d2d2d2;
}

.facility-container {
  background: #f2f2f2;
  border: 1px solid #d2d2d2;
  position: relative;
}
.left-navigation {
  position: absolute;
  width: 270px;
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      border-bottom: 1px solid #d2d2d2;
      a {
        display: block;
        text-decoration: none;
        padding: 15px 13px;
        color: #808080;
        font-size: 1.1em;
      }
      &:hover {
        background: #f5f5f5;
      }
      &.selected {
        background: white;
        border-right: 1px solid white;
        width: 100%;
        position: relative;
        a {
          color: #17888f;
        }
      }
    }

  }
}

.select2-results {
  ul.select2-result-sub {
    &> li {
      .select2-result-label {
        padding-left: 12px;
      }
    }
  }
  .select2-highlighted {
    .status-icon {
      background: #FFF !important;
    }
  }
}

.status-icon {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-right: 6px;
  display: inline-block;
}

.is-incomplete {
  .status-icon {
    background: #f0a513;
  }
}
.is-complete {
  .status-icon {
    background: #52a81e;
  }
}
.is-empty {
  .status-icon {
    background: #cb4040;
  }
}

.facility-toolbar {
  min-height: 41px;
  border-top: 1px solid #d2d2d2;
  a {
    padding: 11px 11px 9px;
    text-decoration: none;
  }
}

.refrigerator-container {
  padding: 15px;
  .status-icon {
    margin-left: 37px;
  }
  h3 {
    margin: 0px;
  }
  .form-group {
    border-top: none;
  }
  #refrigeratorReadingDone {
    margin: 13px 0 0 57px;
  }
  .list-header, .list-row {
    .span2 {
      margin-left: 0;
    }
    .span3 {
      &:last-child {
        a {
            margin-right: 10px;
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.refrigerator-form {
  background: white;
  padding-top: 0;
  margin-left: 58px;
  margin-right: 27px;
  padding-bottom: 0;
  margin-bottom: 0;
  &>.form-row {
    border-bottom: 1px solid #e6e6e6;
    &:last-child {
      border-bottom: none;
    }
  }
  .form-cell {
    width: 47%;
    label {
      display: inline;
      &:first-child {
        display: block;
        font-weight: bold;
      }
    }
    input[type="text"] {
      width: 100px;
      margin-right: 5px;
    }
    input[type="checkbox"] {
      margin: 0 2px 0 10px;
      vertical-align: middle;
    }
    input[type="radio"] {
      margin-top: 0px;
      margin-right: 2px;
    }
    .radio-label {
      margin-right: 24px;
    }
    .checkbox-label {
      vertical-align: middle;
      line-height: normal;
    }
    .problem-form {
      padding-top: 0;
      #otherTextbox {
        margin-left: 10px;
      }
    }
    #notes {
      width: 300px;
      height: 100px;
    }
  }
}
