.navigation {
  background-color: #42a7ad;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
  height: 40px;
  font-size: 0.9em;
  border-bottom: 1px solid #a2cdc5;
  position: relative;
  z-index: 2;
  a {
    display: block;
    text-decoration: none;
    color: #FFF;
  }
  ul {
  list-style: none;
  margin: 0;
  }
  li {
    position: relative;
  }
  > ul {
    padding: 8px 10px;
    > li {
      float: left;
      margin: 0 4px;
      > a {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        padding: 3px 14px;
        border-radius: 3px;
      }
      &:hover > a {
        background: #2e7579;
      }
    }
  }
  .submenu {
    display: none;
    padding-top: 10px;
    position: absolute;
    width: 150px;
    left: 0;
    top: 26px;
  }
  ul ul {
    background: #FFF;
    padding: 2px 0;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    background: #DDD; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 15%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 15%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 15%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 15%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    .submenu {
      padding: 0 0 0 10px;
      left: 143px;
      top: 1px;
    }
    li {
      border-top: 1px solid #d1d1d1;
      box-shadow: inset 0 1px 0 #FFF;
      border-bottom: 0;
      &.beak {
        width: 0; 
        height: 0;
        border-left: 8px solid transparent; 
        border-right: 8px solid transparent;
        border-bottom: 8px solid #FFF;
        position: absolute;
        top: 3px;
        left: 20px;
        border-top: 0;
      }
      li {
        &.beak {
          border-right: 8px solid #FFF; 
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          position: absolute;
          top: 13px;
          left: -5px;
        }
      }
      &:first-child {
        border-top: 0;
      }
      a {
        color: #4a4a4a;
        padding: 11px 12px;
        text-shadow: none;
      }
      &:hover > a {
        background: #e0e0e0;
      }
    }
  }
}
.navigation ul li.is-selected a {
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.navigation ul li.has-children {
  background: url(../images/menu-nested.png) no-repeat 95% center;
}
.navigation ul li:hover > .submenu {
  display: block;
}
