.extra-large-input{
	width:350px;
}

.vertical-centered-div {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
}

.report-label{
	display:inline-block;
	width: 200px;	
}


.report-data{
    display:inline-block;
    width: 100px;
}