.extra-large-input{
	width:350px;
}

.vertical-centered-div {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
}

.report-label{
	display:inline-block;
	width: 200px;	
}


.report-data{
    display:inline-block;
    width: 100px;
}

.gridStyleReport .ngViewport{
  min-height: 50px;
}

table.table td.number{
  text-align: right;
}

th.header {
  z-index: 0;
}

.horizontalFilters{
  float: left;
  margin-left: 10px;
}
.form-cell .labels {
  font-size: small;
}
.gridStyleReport {
  border: 1px solid #d4d4d4;
  margin-bottom: 55px;
}
element.style {
  width: 1293px;
  width: 1310px;
  width: 1293px;
  width: 1317px;
  height: 55px;
}