<div>
    <h3>RnR Template Configuration</h3>
    <h4>Program: {{ $parent.program.name }}</h4>
    <div id="saveFailMsgDiv"></div>
    <div id="saveSuccessMsgDiv" ng-model="message">
        {{message}}
    </div>
    <div>
        <ul>
            <li>
                <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span style="">Name | </span>
                <span style="">Description | </span>
                <span style="">Position | </span>
                <span style="">Label | </span>
                <span style="">Source | </span>
                <span style="">Formula | </span>
                <span style="">Show in form </span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li ng-repeat="rnrColumn in rnrColumnsList">
                <span ng-switch on="rnrColumn.mandatory">
                        <span ng-switch-when="true">
                            <input type="checkbox" ng:model="rnrColumn.used" checked disabled/>
                        </span>
                        <span ng-switch-when="false">
                            <span ng-switch on="rnrColumn.used">
                                <span ng-switch-when="true">
                                    <input type="checkbox" ng:model="rnrColumn.used" checked/>
                                </span>
                                <span ng-switch-default>
                                     <input type="checkbox" ng:model="rnrColumn.used"/>
                                </span>
                            </span>
                        </span>
                </span>
                <input type="hidden" ng:model="rnrColumn.id" value="{{ rnrColumn.id }}"/>
                <span>{{ rnrColumn.name }} | <span/>
                <span><input type="text" ng:model="rnnColumn.label" value ='{{ rnrColumn.label }}' />|<span/>
                <span>{{ rnrColumn.position }}| <span/>
                <span>{{ rnrColumn.description }} | <span/>
                <span>{{ rnrColumn.defaultValue }} | <span/>
                <span>{{ rnrColumn.dataSource }} | <span/>
                <span>{{ rnrColumn.formula }} | <span/>
                <span>{{ rnrColumn.visible }} <span/>
            </li>
        </ul>
    </div>
    <button ng-click="createProgramRnrTemplate()">Save</button>
</div>
