<div>
  <h3>RnR Template Configuration</h3>
  <h4>Program: {{ $parent.program.name }}</h4>

  <div class="rnr-template-head">
    <span class="tpl-visible">Show</span>
    <span class="tpl-label">Label</span>
    <!--<span class="tpl-position">Position</span>-->
    <span class="tpl-source">Source</span>
    <!--<span class="tpl-used">Used</span>-->
  </div>
  <form ng-submit="createProgramRnrTemplate()">
    <div class="rnr-template-columns">
      <ul id="sortable">
        <li ng-repeat="rnrColumn in rnrColumnsList">
         <span ng-switch on="rnrColumn.mandatory">
          <span ng-switch-when="true" class="tpl-visible">
            <input type="checkbox" ng:model="rnrColumn.visible" checked disabled/>
          </span>
          <span ng-switch-default>
                <span ng-switch on="rnrColumn.visible">
                  <span ng-switch-when="true" class="tpl-visible">
                    <input type="checkbox" ng:model="rnrColumn.visible" checked/>
                  </span>
                  <span ng-switch-default class="tpl-visible">
                    <input type="checkbox" ng:model="rnrColumn.visible"/>
                  </span>
              </span>
          </span>
        </span>
          <input type="hidden" ng:model="rnrColumn.id" value="{{ rnrColumn.id }}"/>
        <span class="tpl-label">

            <input name="label" type="text" ng:model="rnrColumn.label" value="{{ rnrColumn.label }}" required/>
          <span class="default-label">
            Default: {{ rnrColumn.name }} (<a rel="tooltip" data-placement="right"
                                              data-original-title="{{ rnrColumn.description }}" ui-jq="tooltip">?</a>)
          </span>
        </span>
        <!--<span class="tpl-position">-->
          <input type="hidden" ng:model="rnrColumn.position" value="{{ rnrColumn.position }}"/>
        <!--</span>-->
        <span class="tpl-source">
          {{ rnrColumn.dataSource }}
          <br/>
          {{ rnrColumn.formula }}
        </span>
          <!--<span class="tpl-shown">{{ rnrColumn.used }} </span>-->
        </li>
      </ul>
    </div>
    <div class="alert alert-error" id="saveSuccessMsgDiv" ng-model="error" ng-show="error">
      {{error}}
    </div>
    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-model="message" ng-show="message">
      {{message}}
    </div>

    <input type="submit" class="btn" value="Save" />
  </form>
</div>
