<!DOCTYPE html>
<style type="text/css">
    body {
        font-family: "helvetica";
        color : #333;
    }
    .chart {

        width: 500px;
        height:300px;
        text-align: left;
    }
    .chartLegend {
        background-color: #fff;
        padding: 2px;
        margin-bottom: 8px;
        border-radius: 3px 3px 3px 3px;
        border: 1px solid #E6E6E6;
        display: inline-block;
        margin: 0 auto;
    }

    #flotTip {white-space: nowrap; border: 1px solid #111; padding: 3px 8px; background:#fff; font-size:12px;}
    .legend table, .legend > div {
        height: 82px !important;
        opacity: 1 !important;
        right: -55px;
        top: 10px;
        width: 116px !important;
    }

    .legend table {
        border: 1px solid #555;
        padding: 5px;
    }

    .nav-tabs > li .close {
        margin: 4px 0 0 10px;
        font-size: 18px;
        padding: 5px 0;
        float: right;
    }

    .nav-tabs > li a[data-toggle=tab] {
        float: left!important;
    }

</style>

<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN TAB PORTLET-->
            <div class="portlet box blue tabbable">
                <div class="portlet-title">
                        <div class="caption">
                                    <i class="fa fa-reorder"></i>Sample Tabs
                        </div>
                </div>
                <div class="portlet-body">
                    <div class=" portlet-tabs">
                        <ul class="nav nav-tabs" id="dashboard-tabs">
                            <li id="dashboard-tab-1" class="active"><a href="#dashboard-tab-1-1" data-toggle="tab">Tab 1</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="dashboard-tab-1-1">
                                <a-float id="afloat1" af-option="barChartOption" af-data="barChartData"  class="chart"></a-float>
                                <div id="barChartLegend" class="chartLegend"></div>
                            </div>
                            <div class="tab-pane" id="dashboard-tab-2-2">
                                <h2>District Reporting Performance</h2>
                                <a-float id="afloat2" af-option="pieChartOption" af-data="pieChartData" class="chart"></a-float>
                            </div>
                            <div class="tab-pane" id="dashboard-tab-3-3">
                               <!-- <div   ng-model="eventSources" calendar="myCalendar"  ui-calendar="uiConfig.calendar"></div>-->
                                <a-float id="multipleBars" af-option="multipleBarsOption" af-data="multiBarsData" class="chart"> </a-float>
                                <div id="multiBarsLegend" class="chartLegend"></div>
                            </div>
                            <div class="tab-pane" id="dashboard-tab-4-4">
                                    <span class="easychart" easypiechart options="option1" percent="percent1">
			                            <span class="easychart-percent" ng-bind="percent1"></span>
                                    </span>
                                    <span class="easychart" easypiechart   options="option2" percent="percent2">
			                            <span class="easychart-percent" ng-bind="percent2"></span>
                                    </span>
                                    <span class="easychart" easypiechart  options="option3" percent="percent3">
			                            <span class="easychart-percent" ng-bind="percent3"></span>
                                    </span>
                                    <span class="easychart" easypiechart   options="option4" percent="percent4">
			                            <span class="easychart-percent" ng-bind="percent4"></span>
                                    </span>
                                    <input type="range" min="-100" max="100" step="1" ng-model="percent4" />
                                    <!--span class="easychart" easypiechart percent="anotherPercent" options="anotherOptions">
                                        <span class="easychart-percent" ng-bind="anotherPercent"></span>
                                    </span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TAB PORTLET-->
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="center-justified"><h2>Events</h2></div>
                        <div style="margin-bottom: 3px;">
                            <button type="button" class="btn btn-primary" ng-click="addEvent()">
                                Add Event
                            </button>
                        </div>
                        <div>
                            <ul class="unstyled">
                                <li ng-repeat="e in events">
                                    <div class="row-fluid" style="margin-bottom: 3px;">
                                        <div class="span7"><div><input ng-model="e.title"/></div></div>
                                        <div class="span3"><div>{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}</div></div>
                                        <div class="span2"><div><button class="btn btn-primary" ng-click="remove($index)">Remove</button></div></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="center-justified"><h2>Calendar Events View</h2></div>
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <button class="btn" ng-click="changeView('agendaDay', myCalendar)">AgendaDay</button>
                                <button class="btn" ng-click="changeView('agendaWeek', myCalendar)">AgendaWeek</button>
                                <button class="btn" ng-click="changeView('month', myCalendar)">Month</button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


