<!DOCTYPE html>

<h2><span>{{ detailTable }}</span> </h2>
<notification-detail ng-model="notificationDetail"></notification-detail>
<!--

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered" ng-show="notificationsDetail == undefined || notificationsDetail.length == 0">
            <tr>
                <td>No data to show for selected alert type</td>
            </tr>
        </table>
        <table ng-show="notificationsDetail.length > 0" class="table-bordered table table-striped pull-right"
               ng-table="tableParams">
            <thead>
            <tr class="gradient-header">
                <th ng-repeat="col in notificationColumns" ng-hide="{{ col.hide }}"><div>{{ col.title }}</div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="notification in notificationsDetail">
                    <td ng-repeat="col in notificationColumns" ng-hide="{{ col.hide }}">{{ notification[col.name] }}</td>
                </tr>
            </tbody>

        </table>


    </div>

</div>
-->
