<script id="template/accordion/accordion.html" type="text/ng-template">
    <div class="accordion" ng-transclude></div>
</script>

<script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="accordion-group">
        <div class="accordion-heading" style="margin-bottom:0; border-bottom:0">
            <a style="bottom:0" class="accordion-toggle" ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a>
        </div>
        <div class="accordion-body" style="display:block; margin-bottom:0" collapse="!isOpen">

            <div class="accordion-inner" ng-transclude></div>
        </div>
    </div>
</script>
<div xmlns="http://www.w3.org/1999/html">

    <h2><span openlmis-message="label.summary.of.rnr.status"></span></h2>


    <div class="row-fluid">
        <div class="span12">

            <ng-include src="'/public/pages/dashboard/shared/dashboard-form.html'"></ng-include>


        </div>
    </div>
    <accordion>
        <accordion-group is-open="rnrStatus.openPanel">

            <accordion-heading>
                <div class="accordion-title">
                    <div class="caption">
                        <i class="flaticon-pie2"></i> <span
                            openlmis-message="label.rnr.status.summary.report"></span>
                    </div>
                    <div class="tools">
                        <i  ng-class="{'icon-minus-sign': rnrStatus.openPanel, 'icon-plus-sign': !rnrStatus.openPanel}"></i>
                    </div>
                </div>
            </accordion-heading>


            <div class="row-fluid">
                <div class="app-form span6">


                    <div class="span6">

                        <div ng-hide="RnRStatusPieChartData"><label class="chart-note">No data to render chart</label></div>
                        <div  ng-show="RnRStatusPieChartData">
                            <a-float id="rnr-status-report" af-option="rnRStatusPieChartOption" af-data="RnRStatusPieChartData" class="chart"></a-float>
                            <div id="rnrStatusReportLegend" style="width:500px;" class="chartLegend"></div>
                        </div>

                    </div>
                </div>
                <div class="app-form span6">

                    <div ng-hide="RnRStatusPieChartData"><label class="chart-note">No data to show under selected filter</label></div>
                    <div ng-show ="RnRStatusPieChartData !== undefined && RnRStatusPieChartData.length > 0">
                        <table ng-show="RnRStatusPieChartData.length > 0" class="table-bordered table table-striped pull-right"
                               ng-table="tableParams">
                            <tbody>
                            <tr ng-repeat="row in dataRows">
                                <td data-title="'Status'" >{{row.status}}</td>
                                <td data-title="'Number Of RnR Created'" >{{row.totalStatus}}</td>


                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td class="number"  style="font-weight: bold;text-align: left;">{{total}}

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </accordion-group>
    </accordion>
</div>
<div id="flotTip"></div>