<!-- slide district top 5 adequately stocked  -->
<slide>
    <accordion>
        <accordion-group class="gray-cascade" is-open="product.stockingEfficiencyChart.openPanel">
            <accordion-heading >
                <div class="accordion-title">
                    <div class="caption">

                        <span ><span openlmis-message="title.top.district.adequately.stocked.out"></span> : {{product.name}}  </span>
                    </div>
                    <div class="tools">
                        <i  ng-class="'icon-info-sign'" ns-popover ns-popover-template="stocking-chart-info" ns-popover-trigger="mouseenter" ns-popover-theme="ns-popover-tooltip-theme" ns-popover-placement="bottom|right"></i>
                        <i  ng-class="{'icon-minus-sign': product.stockingEfficiencyChart.openPanel, 'icon-plus-sign': !product.stockingEfficiencyChart.openPanel}"></i>
                    </div>
                </div>
            </accordion-heading>
            <c3chart bindto-id="{{product.name}}_district_adequately_stockedout_chart">
                <chart-tooltip value-format-function="formatValue" />
                <chart-axes values-x="x" />
                <chart-axis >
                    <chart-axis-x axis-position="outer-center" axis-label="District" axis-height="40"
                                  axis-type="category" >
                        <!--<chart-axis-x-tick tick-rotate="50" />-->
                    </chart-axis-x>
                    <chart-axis-y>
                        <chart-axis-y-tick tick-format-function="formatValue" />
                    </chart-axis-y>
                </chart-axis>

                <chart-column column-id="Adequetly Stocked"
                              column-values="{{product.topAdequatelystocked.values}}"
                              column-type="bar"/>
                <chart-column column-id="x"
                              column-values="{{product.topAdequatelystocked.districts}}"/>
            </c3chart>
        </accordion-group>
    </accordion>
</slide>
