<!--
  ~ Copyright © 2013 John Snow, Inc. (JSI). All Rights Reserved.
  ~
  ~ The U.S. Agency for International Development (USAID) funded this section of the application development under the terms of the USAID | DELIVER PROJECT contract no. GPO-I-00-06-00007-00.
  -->

<div>
    <h2><span>Supply Lines</span>
        <a href="#" id="supplyline-add-new"
           class="pull-right btn btn-primary"
           ng-click="startAddNewSupplyline()">Add New</a></h2>


    <!--   <div ng-hide="supplylineLoaded()" openlmis-message="msg.loading"></div>
   -->
    <div>
        <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
        <div class="row-fluid list-header">
            <div class="span1" style="float: left; width: 60px;"></div>
            <div class="span1" style="float: left; width: 40px;"></div>
            <div class="span2">Program</div>
            <div class="span2">Supplying Facility</div>
            <div class="span2">Supervisory Node</div>
            <div class="span2">Description</div>
        </div>

        <form class="supplyline-form" id="createSupplylineForm" ng-show="newSupplylineMode" name="createSupplylineForm"
              ng-submit="createSupplyline()" novalidate>
            <div ng-class="formActive">
                <div class="row-fluid list-row">
                    <div class="span1"></div>
                    <div class="span3">
                        <select name="programid" id="programid" ng-model="newSupplyline.programid"
                                ng-options="pg.id as pg.name for pg in programs" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'">
                            <option value="">--- Select Program ---</option>
                        </select>
                        <span class="label-required">*</span>
                        <span class="form-error" style="float: left"
                              ng-show="createSupplylineForm.programid.$error.required && showErrorForCreate">Please fill this value
                        </span>

                    </div>
                    <div class="span3">
                        <select name="supplyingfacilityid" id="supplyingfacilityid"
                                ng-model="newSupplyline.supplyingfacilityid"
                                ng-options="f.id as f.name for f in facilities" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'">
                            <option value="">--- Select Supplying Facility ---</option>
                        </select>
                        <span class="label-required">*</span>
                        <span class="form-error" style="float: left"
                              ng-show="createSupplylineForm.supplyingfacilityid.$error.required && showErrorForCreate">Please fill this value
                        </span>

                    </div>

                    <div class="span3">
                        <select name="supervisorynode" id="supervisorynode"
                                ng-model="newSupplyline.supervisorynodeid"
                                ng-options="sn.id as sn.name for sn in supervisoryNodes" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'">
                            <option value="">--- Select Supervisory Node ---</option>
                        </select>
                        <span class="label-required">*</span>
                        <span class="form-error" style="float: left"
                              ng-show="createSupplylineForm.supervisorynode.$error.required && showErrorForCreate">Please fill this value
                        </span>

                    </div>

                    <div class="span2">
                        <input id="description" name="description" type="text" ng:required="true"
                               ng-model="newSupplyline.description"
                               maxlength="15" placeholder="Description"/>
                        <span class="label-required">*</span>
                        <span class="form-error" style="float: left"
                              ng-show="createSupplylineForm.description.$error.required && showErrorForCreate">Please fill this value
                        </span>

                    </div>


                </div>
                <div class="row-fluid supplyline-button-row">
                    <div class="span1"></div>
                    <div class="span2">
                        <input type="submit" class="btn btn-primary btn-small" openlmis-message="button.create"/>
                        <input type="button" class="btn btn-cancel btn-small" openlmis-message="button.cancel"
                               ng-click="cancelAddNewSupplyline()"/>
                    </div>
                    <div ng-show="creationError" class="span9 form-error" ng-bind="creationError"></div>
                </div>


            </div>
        </form>

        <!-- edit form-->
        <form class="edit-supplyline-form" id="editSupplylineForm_{{$index}}" ng-repeat="supplyline in supplylines"
              name="editSupplylineForm"
              ng-submit="updateSupplyline(supplyline, editSupplylineForm);"
              ng-show="supplylines && (supplylines.length > 0)" novalidate>
            <input type="hidden" ng-model="backupSupplylineRow"/>

            <div ng-class="supplylinesBackupMap[supplyline.id].editFormActive">
                <div class="row-fluid list-row" ng-show="supplylinesBackupMap[supplyline.id].edit">

            <!-- edit trigger -->
                    <div class="span1">
                        <input type="button" ng-hide="supplylinesBackupMap[supplyline.id].edit"
                               id="editBtn_{{$index}}"
                               class="btn btn-mini pull-right"
                               value="Edit"
                               ng-click="startSupplylineEdit(supplyline, backupSupplylineRow); supplylinesBackupMap[supplyline.id].edit=true;"/>
                    </div>
                    <div class="span3" style="overflow: visible;" >
                        <span ng-hide="supplylinesBackupMap[supplyline.id].edit" ng-bind="supplyline.programid"></span>
                        <select name="programid" id="programid_{{$index}}"
                                ng-model="supplyline.programid"
                                ng-options="pg.id as pg.name for pg in programs" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'"
                                ng-show="supplylinesBackupMap[supplyline.id].edit">
                            <option value="">--- Select Program ---</option>
                        </select>
                        <span ng-show="supplylinesBackupMap[supplyline.id].edit" class="label-required">*</span>
                        <span class="form-error" style="float: left" ng-show="editSupplylineForm.programid.$error.required && showErrorForEdit"
                              openlmis-message="missing.value"></span>

                    </div>


                    <div class="span3" style="overflow: visible;">
                        <span ng-hide="supplylinesBackupMap[supplyline.id].edit" ng-bind="supplyline.supplyingfacilityid"></span>
                        <select name="supplyingfacilityid" id="supplyingfacilityid_{{$index}}"
                                ng-model="supplyline.supplyingfacilityid"
                                ng-options="f.id as f.name for f in facilities" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'"
                                ng-show="supplylinesBackupMap[supplyline.id].edit">>
                            <option value="">--- Select Supplying Facility ---</option>
                        </select>
                        <span ng-show="supplylinesBackupMap[supplyline.id].edit" class="label-required">*</span>
                        <span class="form-error" style="float: left" ng-show="editSupplylineForm.supplyingfacilityid.$error.required && showErrorForEdit"
                              openlmis-message="missing.value"></span>

                    </div>

                    <div class="span3" style="overflow: visible;">
                        <span ng-hide="supplylinesBackupMap[supplyline.id].edit" ng-bind="supplyline.supervisorynodeid"></span>
                        <select name="supervisorynode" id="supervisorynode_{{$index}}"
                                ng-model="supplyline.supervisorynodeid"
                                ng-options="sn.id as sn.name for sn in supervisoryNodes" ng:required="true"
                                ng-disabled="supplyline.dataReportable == 'false'"
                                ng-show="supplylinesBackupMap[supplyline.id].edit">>
                            <option value="">--- Select Supervisory Node ---</option>
                        </select>
                        <span ng-show="supplylinesBackupMap[supplyline.id].edit" class="label-required">*</span>
                        <span class="form-error" style="float: left" ng-show="editSupplylineForm.supervisorynode.$error.required && showErrorForEdit"
                              openlmis-message="missing.value"></span>

                    </div>

                    <div class="span2">
                        <input id="description_{{$index}}" name="desc" ng-show="supplylinesBackupMap[supplyline.id].edit" type="text"  ng:required="true"
                               ng-model="supplyline.description"
                               maxlength="250" placeholder="Description"/>
                        <span ng-show="supplylinesBackupMap[supplyline.id].edit" class="label-required">*</span>

                         <span class="form-error" style="float: left"
                            ng-show="editSupplylineForm.desc.$error.required && showErrorForEdit">Please fill this value
                        </span>


                    </div>
                </div>
                <div ng-show="supplylinesBackupMap[supplyline.id].edit" class="row-fluid supplyline-button-row">
                    <div class="span1"></div>
                    <div class="span2">
                        <input type="submit" class="btn btn-primary btn-small" value="Save"/>
                        <input type="button" class="btn btn-cancel btn-small" value="Cancel"
                               ng-click="cancelSupplylineEdit(supplyline, backupSupplylineRow); supplylinesBackupMap[supplyline.id].edit=false"/>
                    </div>
                    <div ng-show="supplylinesBackupMap[supplyline.id].error" class="span9 form-error"
                         ng-bind="supplylinesBackupMap[supplyline.id].error"></div>
                </div>
            </div>
        </form>
        <div class="alert alert-error" id="saveFailMessage" ng-bind="errorInValidSupplyline" ng-show="errorInValidSuppline"/>
    </div>

    <div ng-show="supplylineLoaded()">

        <div ng-repeat="sl in supplylineslist" class="row-fluid list-row" ng-hide="supplylinesBackupMap[sl.id].edit">
            <div class="span1" style="float: left; width: 60px;">
                <input type="button" ng-hide="supplylinesBackupMap[sl.id].edit"
                       id="lstEditBtn_{{$index}}"
                       class="btn btn-mini pull-right"
                       value="Edit"
                       ng-click="startSupplylineEdit(sl, backupSupplylineRow); supplylinesBackupMap[sl.id].edit=true;"/>

           </div>

            <div class="span1" style="float: left; width: 40px;">
                <input type="button" ng-hide="supplylinesBackupMap[sl.id].deleted"
                       id="lstDeleteBtn_{{$index}}"
                       class="btn btn-mini pull-right"
                       value="Delete"
                       ng-click="showConfirmSupplylineDeleteWindow(sl); supplylinesBackupMap[sl.id].deleted=true;"/>

            </div>

            <div id="lstprogram_{{$index}}" class="span2" style="overflow: visible;"> {{sl.program}}</div>
            <div id="lstfacility_{{$index}}" class="span2" style="overflow: visible;"> {{sl.facility}}</div>
            <div id="lstsupervisorynode_{{$index}}" class="span2" style="overflow: visible;"> {{sl.supervisorynode}}</div>
            <div id="lstdescription_{{$index}}" class="span2" style="overflow: visible;"> {{sl.description}}</div>
        </div>
    </div>
</div>





