<!--
  ~ Copyright © 2013 John Snow, Inc. (JSI). All Rights Reserved.
  ~
  ~ The U.S. Agency for International Development (USAID) funded this section of the application development under the terms of the USAID | DELIVER PROJECT contract no. GPO-I-00-06-00007-00.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2><span>Supervisory Nodes List</span>
        <a href="#/create-supervisory-node" class="pull-right btn btn-primary"><span id="supervisory-node-add-new">Add New</span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="supervisoryNodeId">
        <span ng-bind="message"></span>.
    </div>

    <input id="txtFilterSupervisoryNodes" class="search-query input-xlarge" type="text" ng-model="query"
          ng-init="showSupervisoryNodeList('txtFilterSupervisoryNodes')" on-keyup="filterSupervisoryNodes('txtFilterSupervisoryNodes')" placeholder="Enter supervisory node name"/>


    <div>
        <h3 ng-show="query.length>0">
            <ng-pluralize count="resultCount"
                          when="{ 0: 'No matches found for \'{{query}}\'',
                            1: '1 match found for \'{{query}}\'',
                            other: '{} matches found for \'{{query}}\''}">

            </ng-pluralize>
        </h3>
        <br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th>Supervisory Node Name
                </th>
                <th>Code
                </th>
                <th>Facility
                </th>
                <th>Parent
                </th>
                <th>Supervisors Count
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="supervisoryNode in filteredSupervisoryNodes">
                <td>
                    <a ng-click="editSupervisoryNode(supervisoryNode.id)">{{supervisoryNode.name}}</a>
                </td>
                <td>
                    <div>{{supervisoryNode.code}}</div>
                </td>
                <td>
                    <div>{{supervisoryNode.facility.name}}</div>
                </td>
                <td>
                    <div>{{supervisoryNode.parent.name}}</div>
                </td>
                <td>
                    <div>{{supervisoryNode.supervisorCount}}</div>
                </td>
                <td>
                    <a class="close" ng-click="showRemoveSupervisoryNodeMemberConfirmDialog($index)">X</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>