<div ng-hide="!show" class="comments-popup" ng-class="{'view': !updatable}">
  <h4>
    Comments
    <a ng-click="show=false" class="link-minimize">
      <i class="icon-remove"></i>
    </a>
  </h4>

  <ul class="comments-list" id="comments-list">
    <li class="comment" ng-repeat="comment in rnrComments">
      <span ng-bind="comment.commentText"></span>

      <div class="comment-info"> By: <span ng-bind="comment.author.userName"></span> | <span class="comment-date"
                                                                                             ng-bind="comment.createdDate | date:'HH:mm:ss  dd/MM/yyyy'"></span>
      </div>
    </li>
  </ul>
  <div ng-show="updatable">
    <textarea  ng-trim="false" ng-change="validateMaxLength(comment)" rows="5" id="addComment"
              ng-model="comment" placeholder="Type your comment here"></textarea>

    <div>
      <span ng-bind="250-comment.length" class="comment-length"></span>
      <span ng-show="error" openlmis-message="error"></span>
      <input type="button" value="Add" ng-click="addComments()" ng-disabled="!comment.length"
             class="btn btn-primary pull-right"/>
    </div>
  </div>
  <span class="beak-down"></span>
</div>