<div ng-hide="!show" class="comments-popup">
  <!--
    ~ This program is part of the OpenLMIS logistics management information system platform software.
    ~ Copyright © 2013 VillageReach
    ~
    ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
    ~  
    ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
    ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
   -->
  <h4>
    <span openlmis-message="allocated.budget.header"></span>
    <a href="" ng-click="show=false" class="link-minimize">
      <i id="totalCostPopupClose" class="icon-remove"></i>
    </a>
  </h4>

  <small>
    <div>
      <span openlmis-message="label.full.supply" class="rnr-cost"></span>&colon;
      <strong class="pull-right">
        <span openlmis-message="label.currency.symbol"></span>
        <span id="fullSupplyItemsCost" class="cell-text"
              ng-bind="fullSupplyCost | currency:''"></span>
      </strong>
    </div>
    <div>
      <span openlmis-message="label.non.full.supply" class="rnr-cost"></span>&colon;
      <strong class="pull-right">
        <span openlmis-message="label.currency.symbol"></span>
        <span id="nonFullSupplyItemsCost" class="cell-text"
              ng-bind="nonFullSupplyCost | currency:''"></span>
      </strong>
    </div>
  </small>

  <span class="beak-down"></span>


</div>