<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div>

  <h2 id="PODPageTitle" openlmis-message="header.proof.of.delivery"></h2>
  <ng-include src="'/public/pages/logistics/pod/partials/header.html'"></ng-include>
  <div ng-hide="pageLineItems.length" class="alert alert-info" id="noProductsLabel" openlmis-message="label.no.products"></div>
  <div id="pod" ng-show="pageLineItems.length" class="rnr-table">
    <table id="podTable" class="table table-bordered" fixed-table-header>
      <thead>
      <tr>
        <th class="col-{{column.name}}" ng-repeat="column in columns">
          <span openlmis-message="column.label"></span>
        </th>
      </tr>
      </thead>

      <tbody ng-repeat="podLineItem in pageLineItems">
      <tr>
        <td class="productCategory" id="category_{{$index}}" colspan="{{columns.length}}"
            ng-show="isCategorySameAsPreviousLineItem($index)"
            ng-bind="podLineItem.productCategory">
        </td>
      </tr>
      <tr>
        <td class="cell-input">
          <div class="checked ngCellText">
            <i id="tickIcon{{$index}}" ng-class="{'icon-ok': podLineItem.fullSupply}"></i>
          </div>
        </td>
        <td class="cell-input col-productCode">
          <span ng-bind="podLineItem.productCode" id="productCode_{{$index}}" class="cell-text"></span>
        </td>
        <td class="cell-input col-product">
          <span ng-bind="podLineItem.productName" id="productName_{{$index}}" class="cell-text"></span>
        </td>
        <td class="cell-input">
          <span ng-bind="podLineItem.dispensingUnit" id="dispensingUnit_{{$index}}" class="cell-text"></span>
        </td>
        <td class="cell-input col-packsToShip">
          <span ng-bind="podLineItem.packsToShip" id="packsToShip_{{$index}}" class="cell-text"></span>
        </td>
        <td class="cell-input col-quantityShipped">
          <span ng-bind="podLineItem.quantityShipped" id="quantityShipped_{{$index}}" class="cell-text"></span>
        </td>
        <td class="cell-input col-quantityReceived">
          <input id="quantityReceived{{$index}}" type="text"
                 ng-model="podLineItem.quantityReceived"
                 numeric-validator="positiveInteger" maxlength="8"
                 error-holder="receivedQuantityError{{$index}}"/>

          <div class="input-error-parent-cell">
            <span id="receivedQuantityError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
        </td>
        <td class="cell-input">
          <input class="col-remarks" type="text" maxlength="250" ng-model="podLineItem.notes"
                 id="notes_{{$index}}"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <openlmis-pagination num-pages="numberOfPages" current-page="currentPage" max-size="10"></openlmis-pagination>
  </div>
</div>
