<div class="al-form">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="3" class="background-black banner-text black-width" style="padding-bottom: 30px">
        <div class="banner-text text-nowrap">CMAM - TDR</div>
      </td>
      <td style="width: 100px"><span style="float: left" class="view-table-logo"></span></td>
      <td colspan="8" class="text__left">
        <h6 openlmis-message="view.rnr.republic.of.mozambique"></h6>
        <h6 openlmis-message="view.rnr.ministry.of.health"></h6>
        <h6 openlmis-message="view.rnr.central.medicines.and.medical.arricles"></h6>
      </td>
    </tr>

    <tr>
      <td colspan="9" class="text__center">
        <span openlmis-message="view.rnr.healthFacility"></span>:
        <span class="font-bold">{{rnr.facility.name}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="9" style="border: 0; border-right: 1px solid black"></td>
    </tr>

    <tr>
      <td rowspan="4" class="background-black black-width"></td>
      <td colspan="3" style="border: 0;">
        &nbsp;
        <span openlmis-message="view.rnr.mmia.month"></span>
        <span> : </span> {{month}}
      </td>
      <td colspan="7" class="empty-line">
        &nbsp;
        <span openlmis-message="view.rnr.mmia.year"></span>
        <span> : </span> {{year}}
      </td>
    </tr>
    <tr>
      <td rowspan="3">HF/CHW</td>
      <td colspan="8" class="report--title height-50">
        <span class="report--title-font" openlmis-message="report.header.al.title"></span>
      </td>
    </tr>
    <tr class="font-bold">
      <td colspan="4">{{content["Consultas AL US/APE Malaria"]}}</td>
      <td colspan="4">{{content["Consultas AL STOCK Malaria"]}}</td>
    </tr>
    <tr class="font-bold">
      <td><span openlmis-message="report.header.al.6x1"></span></td>
      <td><span openlmis-message="report.header.al.6x2"></span></td>
      <td><span openlmis-message="report.header.al.6x3"></span></td>
      <td><span openlmis-message="report.header.al.6x4"></span></td>
      <td><span openlmis-message="report.header.al.6x1"></span></td>
      <td><span openlmis-message="report.header.al.6x2"></span></td>
      <td><span openlmis-message="report.header.al.6x3"></span></td>
      <td><span openlmis-message="report.header.al.6x4"></span></td>
    </tr>
    <tr>
      <td class="background-black black-width">1</td>
      <td><span openlmis-message="label.al.hf"></span></td>
      <td>{{content["Consultas AL US/APE Malaria 1x6"]["hf"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 2x6"]["hf"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 3x6"]["hf"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 4x6"]["hf"]}}</td>

      <td>{{content["Consultas AL STOCK Malaria 1x6"]["hf"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 2x6"]["hf"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 3x6"]["hf"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 4x6"]["hf"]}}</td>
    </tr>
    <tr>
      <td class="background-black black-width">2</td>
      <td><span openlmis-message="label.al.chw"></span></td>
      <td>{{content["Consultas AL US/APE Malaria 1x6"]["chw"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 2x6"]["chw"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 3x6"]["chw"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 4x6"]["chw"]}}</td>

      <td>{{content["Consultas AL STOCK Malaria 1x6"]["chw"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 2x6"]["chw"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 3x6"]["chw"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 4x6"]["chw"]}}</td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td><span openlmis-message="label.al.total"></span></td>
      <td>{{content["Consultas AL US/APE Malaria 1x6"]["total"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 2x6"]["total"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 3x6"]["total"]}}</td>
      <td>{{content["Consultas AL US/APE Malaria 4x6"]["total"]}}</td>

      <td>{{content["Consultas AL STOCK Malaria 1x6"]["total"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 2x6"]["total"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 3x6"]["total"]}}</td>
      <td>{{content["Consultas AL STOCK Malaria 4x6"]["total"]}}</td>
    </tr>
    <tr>
      <td rowspan="2" class="background-black black-width"></td>
      <td colspan="4" class="text__left" style="padding-left: 10px; border: 0"><span openlmis-message="report.footer.al.completed"></span> : <span class="font-bold">&nbsp;{{submitterSignature}}</span></td>
      <td colspan="5" class="text__left empty-line"><span openlmis-message="report.footer.al.date"></span> : <span class="font-bold">&nbsp;{{submittedDate}}</span></td>
    </tr>
    <tr>
      <td colspan="9" class="text__left empty-line" style="border-bottom: 1px solid black"><span openlmis-message="report.footer.al.approved"></span> : <span class="font-bold">&nbsp;{{approverSignature}}</span></td>
    </tr>
  </table>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-pdf" ng-click="downloadPdf()" openlmis-message="view.rnr.mmia.download.button"></button>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-simam" ng-click="downloadSimam()" openlmis-message="view.rnr.download.simam.button"></button>
  </div>
</div>

