<div class="al-form">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="4" class="background-black banner-text black-width title-height">
        <div class="banner-text text-nowrap">CMAM - Modelo HdD</div>
      </td>
      <td rowspan="2"></td>
      <td rowspan="2" colspan="{{productNumber}}"></td>
      <td>
        <span openlmis-message="view.rnr.mmia.month"></span>
        <span> : </span> {{month}}
      </td>
    </tr>
    <tr>
      <td>
        <span openlmis-message="view.rnr.mmia.year"></span>
        <span> : </span> {{year}}
      </td>
    </tr>

    <tr>
      <td colspan="{{productNumber + 1}}">
        <span openlmis-message="view.rnr.healthFacility"></span>:
        <span class="font-bold">{{rnr.facility.name}}</span>
      </td>
      <td class="text__center background-black">
        <span openlmis-message="report.header.period"></span>
      </td>
    </tr>

    <tr>
      <td colspan="{{productNumber + 1}}">
        <span openlmis-message="view.rnr.district"></span>:
        <span class="font-bold">{{rnr.facility.geographicZone.name}}</span>
      </td>
      <td>
        <span openlmis-message="view.rnr.via.periodStart"></span>
        <span class="font-bold">{{startDate}}</span> &nbsp;
        <span openlmis-message="view.rnr.via.periodEnd"></span>
        <span class="font-bold">{{endDate}}</span>
      </td>
    </tr>

    <tr class="text-header">
      <td rowspan="4" class="black-width"></td>
      <td><span openlmis-message="pdf.ptv.registration"></span></td>
      <td ng-show="productNumber > 0" colspan="{{productNumber}}"><span openlmis-message="pdf.ptv.medicines"></span></td>
      <td><span openlmis-message="pdf.ptv.dispensation"></span></td>
    </tr>
    <tr class="text-header">
      <td rowspan="3"><span openlmis-message="pdf.ptv.patient.service"></span></td>
      <td class="banner-text header-width" rowspan="3" ng-repeat="item in rnr.fullSupplyLineItems">
        <div class="header-nowrap"><span>{{item.productPrimaryName}}</span></div>
      </td>
      <td class="text__height"><span openlmis-message="pdf.ptv.type.patient"></span></td>
    </tr>
    <tr class="text-header">
      <td class="text__height"><span openlmis-message="pdf.ptv.total.women"></span>&nbsp;{{adults}}</td>
    </tr>
    <tr class="text-header">
      <td class="text__height"><span openlmis-message="pdf.ptv.total.children"></span>&nbsp;{{children}}</td>
    </tr>
    <tr ng-class="{'text-header': $index == 0, 'text-footer': $index > serviceNumber}" ng-repeat="row in content track by $index">
      <td>{{($index > 0 && $index <= serviceNumber) ? $index : ""}}</td>
      <td ng-repeat="cell in row track by $index">{{cell}}</td>
      <td></td>
    </tr>
    <tr>
      <td class="black-width none-border" style="border: 0;"></td>
      <td colspan="2" class="text__left none-border"><span openlmis-message="report.footer.al.completed"></span> : <span class="font-bold">&nbsp;{{submitterSignature}}</span></td>
      <td colspan="{{productNumber}}" class="text__left none-border"><span openlmis-message="report.footer.al.approved"></span> : <span class="font-bold">&nbsp;{{approverSignature}}</span></td>
    </tr>
  </table>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-pdf" ng-click="downloadPdf()" openlmis-message="view.rnr.mmia.download.button"></button>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-simam" ng-click="downloadSimam()" openlmis-message="view.rnr.download.simam.button"></button>
  </div>
</div>

