<div class="rapid-test-form">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="3" class="background-black banner-text black-width">
        <div class="banner-text text-nowrap">CMAM - TDR</div>
      </td>
      <td><span style="float: left" class="view-table-logo"></span></td>
      <td class="text__left">
        <h6 openlmis-message="view.rnr.republic.of.mozambique"></h6>
        <h6 openlmis-message="view.rnr.ministry.of.health"></h6>
        <h6 openlmis-message="view.rnr.central.medicines.and.medical.arricles"></h6>
      </td>
      <td class="report--title width-700">
        <span class="report--title-font" openlmis-message="view.rnr.rapid.test.title"></span>
      </td>
      <td>
        <span openlmis-message="view.rnr.month"></span>
        <span>: {{month}}</span>
      </td>
    </tr>

    <tr>
      <td colspan="3" class="text__left">
        <span openlmis-message="view.rnr.healthFacility"></span>:
        <span>{{rnr.facility.name}}</span>
      </td>
      <td rowspan="2">
        <span openlmis-message="view.rnr.year"></span>
        <span>: {{year}}</span>
      </td>
    </tr>

    <tr class="text__left">
      <td><span openlmis-message="view.rnr.district"></span>:</td>
      <td>{{rnr.facility.geographicZone.name}}</td>
      <td><span openlmis-message="view.rnr.province"></span>:{{rnr.facility.geographicZone.parent.name}}</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="9" class="report--title height-50">
        <span class="report--title-font" openlmis-message="view.rnr.rapid.test.secondTitle"></span>
        <span class="report--subtitle" openlmis-message="view.rnr.rapid.test.attentionkits"></span>
      </td>
    </tr>
    <tr class="table--title">
      <td class="background-black black-width"></td>
      <td colspan="2" openlmis-message="view.rnr.rapid.test.codeandproduct"></td>
      <!--<td openlmis-message="view.rnr.rapid.test.unit"></td>-->
      <td openlmis-message="view.rnr.rapid.test.initialstork"></td>
      <td openlmis-message="view.rnr.rapid.test.entries"></td>
      <td openlmis-message="view.rnr.rapid.test.issues"></td>
      <td openlmis-message="view.rnr.rapid.test.lossandadjustment"></td>
      <td openlmis-message="view.rnr.rapid.test.expirydate"></td>
      <td openlmis-message="view.rnr.rapid.test.inverntory"></td>
    </tr>

    <!--Todo: waiting the android release, then should change the code.-->
    <tr ng-repeat="product in rnr.fullSupplyLineItems">
      <td class="background-black black-width"></td>
      <td class="font-bold">{{product.productCode}}</td>
      <td class="font-bold">{{product.productPrimaryName}}</td>
      <!--<td></td>-->
      <td>{{product.beginningBalance}}</td>
      <td>{{product.quantityReceived}}</td>
      <td>{{product.quantityDispensed}}</td>
      <td>{{product.totalLossesAndAdjustments}}</td>
      <td>{{product.expirationDate}}</td>
      <td>{{product.stockInHand}}</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="13" class="report--title height-50">
        <span class="report--title-font" openlmis-message="view.rnr.rapid.test.thirdTitle"></span>
        <span class="report--subtitle" openlmis-message="view.rnr.rapid.test.attentiontests"></span>
      </td>
    </tr>
    <tr class="table--title">
      <td class="background-black black-width"></td>
      <td rowspan="2" openlmis-message="view.rnr.rapid.test.service"></td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.hivdetermine"></td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.hivunigold"></td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.syphillis"></td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.malaria"></td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>
    </tr>

    <tr ng-if="service.name !== 'total' && service.name !== 'APES'" ng-repeat="service in content">
      <td class="background-black black-width"></td>
      <td>{{service.name}}</td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>

    <tr ng-if="service.name == 'total'" ng-repeat="service in content" class="table--title height-30">
      <td class="background-black black-width"></td>
      <td openlmis-message="label.total"></td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>

    <tr class="black-tr"></tr>

    <tr ng-if="service.name == 'APES'" ng-repeat="service in content">
      <td class="background-black black-width">a</td>
      <td class="table--subtitle-dark-gray">APEs</td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>
  </table>

  <div class="report--footer-section">
    <table>
      <tr class="height-50">
        <td class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.comments"></span>:
        </td>
      </tr>
      <tr class="height-30 text__left"><td>{{rnr.clientSubmittedNotes}}</td></tr>
    </table>
  </div>

  <div class="report--footer-section">
    <table>
      <tr class="height-50">
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.createBy"></span>: {{submitterSignature}}
        </td>
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.vistor"></span>: {{approverSignature}}
        </td>
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.dateOfCreate"></span>: {{submittedDate}}
        </td>
      </tr>
    </table>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-pdf" ng-click="downloadPdf()" openlmis-message="view.rnr.mmia.download.button"></button>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-simam" ng-click="downloadSimam()" openlmis-message="view.rnr.download.simam.button"></button>
  </div>
</div>

