<div class="rapid-test-form">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="3" class="background-black banner-text black-width">
        <div class="width-28 banner-text">
          <div class="text-nowrap">CMAM - TDR</div>
        </div>
      </td>
      <td><span style="float: left" class="view-table-logo"></span></td>
      <td>
        <h6 openlmis-message="view.rnr.republic.of.mozambique"></h6>
        <h6 openlmis-message="view.rnr.ministry.of.health"></h6>
        <h6 openlmis-message="view.rnr.central.medicines.and.medical.arricles"></h6>
      </td>
      <td class="align-center">
        <h5 openlmis-message="view.rnr.rapid.test.title"></h5>
      </td>
      <td>
        <span openlmis-message="view.rnr.month"></span>
        <span>: {{month}}</span>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <span openlmis-message="view.rnr.healthFacility"></span>:
        <span>{{rnr.facility.name}}</span>
      </td>
      <td rowspan="2">
        <span openlmis-message="view.rnr.year"></span>
        <span>: {{year}}</span>
      </td>
    </tr>

    <tr>
      <td><span openlmis-message="view.rnr.district"></span>:</td>
      <td>{{rnr.facility.geographicZone.name}}</td>
      <td><span openlmis-message="view.rnr.province"></span>:{{rnr.facility.geographicZone.parent.name}}</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="9">this is title</td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="2">code and product</td>
      <td>unidade</td>
      <td>solda incical</td>
      <td>entradas</td>
      <td>sairds</td>
      <td>perdas e ajustes</td>
      <td>invetario</td>
      <td>validada</td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td>code</td>
      <td>product name</td>
      <td>unidade</td>
      <td>solda incical</td>
      <td>entradas</td>
      <td>sairds</td>
      <td>perdas e ajustes</td>
      <td>invetario</td>
      <td>validada</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="13">this is title</td>
    </tr>
    <tr>
      <td class="background-black black-width">1</td>
      <td rowspan="2">code and product</td>
      <td colspan="3">determine test</td>
      <td colspan="3">unigold test</td>
      <td colspan="3">sifilis test</td>
      <td colspan="3">malaria test</td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>
    </tr>

    <tr>
      <td class="background-black black-width"></td>
      <td>name</td>
      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>
    </tr>

    <tr>
      <td class="background-black black-width"></td>
      <td>total</td>
      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width">a</td>
      <td>APEs</td>
      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>

      <td>consumo</td>
      <td>prositivos</td>
      <td>injustificados</td>
    </tr>
  </table>

</div>

