<link rel="stylesheet" href="/public/css/rnr-view.css">
<link rel="stylesheet" href="/public/css/rnr-mmia-view.css"/>
<body>
<div class="mmia-form">
    <table class="border-all-bold head-section" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="3" class="background-black banner-text">
                <div class="width-28 banner-text">
                    <div class="text-nowrap rotate">CMAM - Modelo 01</div>
                </div>
            </td>
            <td class=" col-1">
                <span style="float: left" class="view-table-logo"></span>

            </td>
            <td class=" col-4">
                <div>
                <span style="font-size: 10px">
                    REPUBLICA DE MOCAMBIQUE<br>
                    MINISTERIO DA SAUDE<br>
                    <strong>CENTRAL DE MEDICAMENTOS E ARTIGOS MEDICOS</strong><br>
                </span>
                </div>
            </td>
            <td class=" col-5">
                <span>MMIA</span>
                <span>MAPA MENSAL DE INFORMACAO ARV</span>
            </td>
            <td class=" col-2">
                Mes
            </td>
        </tr>

        <tr>
            <td colspan="3">Health Facility:</td>
            <td rowspan="2">Ano:</td>
        </tr>

        <tr class="">
            <td colspan="2" class="">Distrito:</td>
            <td class="">Provincia:</td>
        </tr>
    </table>
    <div class="separate"></div>
    <table class="second-section">
        <thead>
        <tr>
            <th class="banner-text"></th>
            <th class="border-bottom-bold">FNM</th>
            <th class="col-4">medical</th>
            <th>UNIDATA de Saida</th>
            <th>Saide</th>
            <th>ENt</th>
            <th>Sail</th>
            <th>fea</th>
            <th>es</th>
            <th>sea</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="banner-text">1</td>
            <td class="no-top-and-bottom-border bg-color-green"></td>
            <td class="bg-color-green"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text bg-color-">2</td>
            <td class="no-top-and-bottom-border bg-color-lightyellow"></td>
            <td class="bg-color-lightyellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text bg-color-">2</td>
            <td class="no-top-and-bottom-border bg-color-lightyellow"></td>
            <td class="bg-color-lightyellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text bg-color-">2</td>
            <td class="no-top-and-bottom-border bg-color-lightyellow"></td>
            <td class="bg-color-lightyellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text bg-color-">2</td>
            <td class="no-top-and-bottom-border bg-color-lightyellow"></td>
            <td class="bg-color-lightyellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text">3</td>
            <td class="no-top-and-bottom-border bg-color-lightblue"></td>
            <td class="bg-color-lightblue"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="banner-text">4</td>
            <td class="no-top-and-bottom-border"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="separate"></div>
    <div class="middle-section">
        <div class="regimen-section">
            <table class="regimen-form">
                <thead>
                <tr>
                    <th class="banner-text"></th>
                    <th>Codlge</th>
                    <th class="col-4">REGIME</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="banner-text">&nbsp;1</td>
                    <td class="bg-color-green"></td>
                    <td class="bg-color-green"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="banner-text">&nbsp;2</td>
                    <td class="bg-color-yellow"></td>
                    <td class="bg-color-yellow"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="total-form">
                <tr>
                    <td class="col-2 align-right bg-color-darkgray">Total:&nbsp</td>
                    <td></td>
                </tr>
            </table>
        </div>


        <div class="patient-section">

            <table class="patient-form">
                <thead>
                <tr>
                    <th colspan="2" class="background-black">Quantity</th>
                </tr>
                <tr>
                    <th class="col-2">TIPO</th>
                    <th class="col-3">Total</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <div class="comment-wrapper">
                <table class="background">
                    <tr>
                        <td>Comment :</td>
                    </tr>
                    <tr><td class="col-5"></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </table>
                <div class="comment">ahhahah hahahaha hhahahahahh ah ahhsahahhfea fehjakl fea fe afesa fea feas fa </div>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <table>
            <tr>
                <td>Elaborabo</td>
                <td>Vistor</td>
                <td>Data</td>
            </tr>
        </table>

        <div>Note:Mapa de Preenchimento Obrigatorio Mensal HdD em Conjunto com a Farmacia da Unidade Sanitaria ou DPM</div>
        <div>dhuewifi</div>

    </div>
</div>
</body>
