<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div>
    <div ng-hide="page.nonFullSupply.length" class="alert alert-info" openlmis-message="label.no.products"></div>
    <div ng-show="page.nonFullSupply.length" id="viewRnr" class="rnr-table" adjust-height>
        <div class="float-left left-table">
            <table id="nonFullSupplyFrozenTable" class="table table-bordered" fixed-table-header>
                <thead>
                <tr>
                    <th class="col-{{column.name}}" ng-repeat="column in visibleColumns.nonFullSupply.fixed"
                        ng-bind="column.label"></th>
                </tr>
                </thead>

                <tbody ng-repeat="rnrLineItem in page.nonFullSupply">
                <tr>
                    <td id="category_{{$index}}" class="productCategory"
                        colspan="{{visibleColumns.nonFullSupply.fixed.length}}"
                        ng-show="showCategory($index)"
                        ng-bind="rnrLineItem.productCategory"></td>
                </tr>
                <tr>
                    <td class="cell-input col-{{ column.name }}"
                        ng-repeat="column in visibleColumns.nonFullSupply.fixed">
            <span ng-bind="rnrLineItem[column.name]" id="{{column.name + '_' + $parent.$index}}"
                  class="cell-text"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="float-left right-table" custom-horizontal-scroll>
            <table id="nonFullSupplyTable" fixed-table-header class="table table-bordered scrollable">
                <thead>
                <tr>
                    <th class="col-{{column.name}}" ng-repeat="column in visibleColumns.nonFullSupply.scrollable"
                        ng-bind="column.label"></th>
                </tr>
                </thead>
                <tbody ng-repeat="rnrLineItem in page.nonFullSupply">
                <tr>
                    <td class="productCategory" colspan="{{visibleColumns.nonFullSupply.scrollable.length}}"
                        ng-show="showCategory($index)"></td>
                </tr>
                <tr>
                    <td class="cell-input col-{{ column.name }}"
                        ng-repeat="column in visibleColumns.nonFullSupply.scrollable">
            <span ng-switch on="column.name">
                <span ng-switch-when="price">
                  <span ng-bind='rnrLineItem[column.name] | currency:currency' id="{{getId(column.name, $parent)}}"
                        class="cell-text"></span>
                </span>

                <span ng-switch-when="cost">
                  <span ng-bind='rnrLineItem[column.name] | currency:currency' id="{{getId(column.name, $parent)}}"
                        class="cell-text"></span>
                </span>

                <span ng-switch-default>
                  <span ng-bind="rnrLineItem[column.name]" id="{{getId(column.name, $parent)}}"
                        class="cell-text"></span>
                  </span>
            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clear-both"></div>
    </div>
</div>