<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="openlmis">
<head>
  <title>OpenLMIS</title>
  <link rel="stylesheet" href="/public/js/lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/public/css/app.css"/>
</head>
<body>
<div id="wrap">
  <div class="header">
    <div class="header-top">
      <div class="logo">
        <img src="logo.png"/>

        <h1>Logistics Management and Information Systems</h1>
      </div>
      <div class="user-info">
        <a href="javascript:void(0);" id="username">John Smith</a>
        <ul class="user-menu">
          <li><a href="javascript:void(0);">Profile</a></li>
          <li><a href="javascript:void(0);">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="header-bottom-border"></div>
  </div>

  <div class="navigation">

  </div>

  <div class="content">

  </div>
</div>
</body>
</html>