*.log*
.idea/
*.iml
*.ipr
*.iws
open-lmis.ids
build/
out/
classes
.gradle
*.DS_Store
*.class
modules/openlmis-web/src/main/webapp/public/css/
test-modules/functional-tests/src/main/resources/**/*.png
build.gradle.swp
node_modules/
modules/openlmis-web/src/test/coverage/
local-ftp-data/
*.jasper
*.jar
*.xlsx
modules/openlmis-web/src/main/webapp/public/odk-collect-submissions/*
.gitignore.swp
git
gradle/
gradlew
gradlew.bat
modules/export/src/main/resources/generated/
