*.log*
.idea/
*.iml
*.ipr
*.iws
build/
out/
classes
.gradle
*.DS_Store
*.class
modules/openlmis-web/src/main/webapp/public/css/
test-modules/functional-tests/src/main/resources/**/*.png
modules/report/src/main/resources/facilities.jasper
modules/report/src/main/resources/mailing-labels.jasper
modules/report/src/main/resources/openlmis-report-footer-landscape.jasper
modules/report/src/main/resources/openlmis-report-footer.jasper
modules/report/src/main/resources/openlmis-report-header-landscape.jasper
modules/report/src/main/resources/openlmis-report-header.jasper
modules/report/src/main/resources/openlmis-report-master-landscape.jasper
modules/report/src/main/resources/openlmis-report-master.jasper
modules/report/src/main/resources/facility-report.jasper
modules/report/src/main/resources/summary-report.jasper
modules/report/src/main/template/mailing-labels.jasper
modules/report/src/main/template/openlmis-report-footer-landscape.jasper
modules/report/src/main/template/openlmis-report-header-landscape.jasper
modules/report/src/main/resources/facilities-listings.jasper
modules/report/src/main/resources/facility-mailing-list.jasper
modules/report/src/main/resources/adjustment-summary.jasper
modules/report/src/main/resources/average-consumption.jasper
modules/report/src/main/resources/district-consumption.jasper
modules/report/src/main/resources/stocked-out-facilities.jasper


.classpath
.project
atlassian-ide-plugin.xml
e-lmis.eml
e-lmis.userlibraries
modules/.classpath
modules/.project
modules/authentication/.classpath
modules/authentication/.project
modules/authentication/authentication.eml
modules/core/.classpath
modules/core/.project
modules/core/core.eml
modules/db/.classpath
modules/db/.project
modules/db/db.eml
modules/email/.classpath
modules/email/.project
modules/email/email.eml
modules/modules.eml
modules/openlmis-web/.classpath
modules/openlmis-web/.project
modules/openlmis-web/openlmis-web.eml
modules/report/.classpath
modules/report/.project
modules/report/report.eml
modules/requisition/.classpath
modules/requisition/.project
modules/requisition/requisition.eml
modules/upload/.classpath
modules/upload/.project
modules/upload/upload.eml
test-modules/.classpath
test-modules/.project
test-modules/functional-tests/.classpath
test-modules/functional-tests/.project
test-modules/functional-tests/functional-tests.eml
test-modules/service-tests/.classpath
test-modules/service-tests/.project
test-modules/service-tests/service-tests.eml
test-modules/test-core/.classpath
test-modules/test-core/.project
test-modules/test-core/test-core.eml
test-modules/test-modules.eml
modules/report/src/main/resources/mailing-labels_bak.jasper
modules/report/src/main/resources/non-reporting-facilities.jasper
modules/report/src/main/resources/non-reporting-facility-detail.jasper
modules/report/src/main/resources/non-reporting-facility-summary.jasper
modules/report/src/main/template/facilities-listings.jasper
modules/report/src/main/template/facilities.jasper
modules/report/src/main/template/facility-mailing-list.jasper
modules/report/src/main/template/facility-report.jasper
modules/report/src/main/template/mailing-labels_bak.jasper
modules/report/src/main/template/non-reporting-facility-detail.jasper
