<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2013 VillageReach. All Rights Reserved. This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/ftp
       	                   http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd
       http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <context:annotation-config/>
    <context:spring-configured/>


    <camel:camelContext id="camelContext">
        <camel:template id="camelTemplate"/>
    </camel:camelContext>

    <context:component-scan base-package="org.openlmis"/>

    <import resource="classpath*:applicationContext-upload.xml"/>
    <import resource="classpath*:applicationContext-core.xml"/>



    <bean id="ftpSessionFactory"
          class="org.springframework.integration.ftp.session.DefaultFtpSessionFactory">
        <property name="host" value="${ftp.server.host}"/>
        <property name="port" value="${ftp.server.port}"/>
        <property name="username" value="${ftp.server.username}"/>
        <property name="password" value="${ftp.server.password}"/>
        <property name="clientMode" value="0"/>
        <property name="fileType" value="2"/>
        <property name="bufferSize" value="100000"/>
    </bean>

    <int-ftp:inbound-channel-adapter cache-sessions="false"
                                     channel="ftpInputChannel"
                                     session-factory="ftpSessionFactory"
                                     filename-pattern="*.csv"
                                     auto-create-local-directory="true"
                                     delete-remote-files="true"
                                     remote-directory="${ftp.remote.directory}"
                                     local-directory="${ftp.local.directory}">
        <int:poller fixed-rate="3000" max-messages-per-poll="-1" task-executor=""/>
    </int-ftp:inbound-channel-adapter>

    <int:channel id="ftpErrorChannel"/>

    <int-ftp:outbound-channel-adapter cache-sessions="false"
                                      channel="ftpErrorChannel"
                                      remote-directory="${ftp.remote.error.directory}"
                                      session-factory="ftpSessionFactory"
                                      auto-create-directory="true"
                                      temporary-file-suffix="temp"
                                      remote-filename-generator-expression="'error_'+ payload.name"/>

    <int:channel id="ftpArchiveOutputChannel"/>

    <int-ftp:outbound-channel-adapter cache-sessions="false"
                                      channel="ftpArchiveOutputChannel"
                                      remote-directory="${ftp.remote.archive.directory}"
                                      session-factory="ftpSessionFactory"
                                      auto-create-directory="true"
                                      temporary-file-suffix="temp"
                                      remote-filename-generator-expression="payload.name"/>


    <int:outbound-channel-adapter channel="ftpInputChannel" ref="shipmentFileProcessor" method="process"/>

    <bean id="messageDispatcher" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
        <property name="maxPoolSize" value="10"/>
        <property name="queueCapacity" value="27"/>
    </bean>

    <int:channel id="ftpInputChannel">
        <int:dispatcher task-executor="messageDispatcher"></int:dispatcher>
    </int:channel>

    <int-jdbc:inbound-channel-adapter channel="orderInputChannel"
                                      data-source="dataSource"
                                      query="SELECT * FROM orders WHERE status = 'IN_ROUTE'"
                                      row-mapper="orderRowMapper"
                                      max-rows-per-poll="${max.orders.per.poll}">
        <int:poller fixed-rate="${order.ftp.routing.poll.rate}">
        </int:poller>
    </int-jdbc:inbound-channel-adapter>

    <int:channel id="orderInputChannel"/>

</beans>