<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div id="requisition-header" class="toggleFullScreen">

  <div class="info-box padding2px">
    <div class="pull-left">
      <div id="requisitionTypeClass" ng-class="{'emergency': order.emergency, 'regular': !order.emergency}">
        <span id="requisitionType" openlmis-message="requisitionType"></span> <span ng-bind="order.programName"></span>
      </div>

    </div>
    <div class="pull-left requisition-head-block">
      <div class="row-fluid" id="requisition-head-block">
        <div class="span3">
          <strong id="orderNumberLabel" openlmis-message="label.order.no"> </strong>:&nbsp;<span
            id="orderId" ng-bind="order.orderNumber"></span>
        </div>
        <div class="span3">
          <strong id="facilityLabel" openlmis-message="label.facility"></strong>: &nbsp;<span
            id="facilityCode" ng-bind="order.facilityCode + ' - ' + order.facilityName"></span>
        </div>
        <div class="span3">
          <strong id="orderDateTimeLabel" openlmis-message="label.order.date.time"> </strong>:&nbsp;<span
            id="orderCreatedDate" ng-bind="order.stringCreatedDate"></span>
        </div>
        <div class="span3">
          <strong id="supplyingDepotLabel" openlmis-message="label.supplying.depot"></strong>: &nbsp;<span
            id="supplyingDepot" ng-bind="order.supplyingDepot"></span>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <strong id="reportingPeriodLabel" openlmis-message="label.facility.reportingPeriod"></strong>:&nbsp;<span
            id="periodStartDate" ng-bind="order.periodStartDate + ' - ' + order.periodEndDate"></span>
        </div>
        <div class="span3">
          <strong id="districtLabel" openlmis-message="label.district"></strong>: &nbsp;<span
          id="district" ng-bind="order.district"></span>
        </div>
        <div class="span3">
          <strong id="regionLabel" openlmis-message="label.region"></strong>: &nbsp;<span
          id="regionCode" ng-bind="order.region"></span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
