<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<h2 id="managePodHeader" openlmis-message="header.pod.manage"></h2>

<div class="app-form">
    <div class="form-group">
      <h3 openlmis-message="label.order.list"></h3>

      <div class="alert alert-info" id="noOrdersPresent" ng-hide="orders && orders.length">
          <span openlmis-message="message.no.order"></span>
      </div>

      <div class="form-row clearfix">
        <div class="form-cell">
          <label id="associatedFacilityLabel">
            <span openlmis-message="manage.pod.facility"></span>
          </label>

          <div class="form-field input-div associate-facility suggest-field">
            <div id="associatedFacilityField" ng-click="toggleSlider()" class="clearfix">
              <div class="facility-associated">
                <span class="placeholder" ng-show="!facilitySelected" openlmis-message="label.no.facility.selected"></span>
                <span ng-show="facilitySelected">{{facilitySelected.code}} - {{facilitySelected.name}}</span>
              </div>
              <a href="" class="btn" ng-show="!facilitySelected">
                <i class="icon icon-ellipsis-horizontal"></i>
              </a>
            </div>
            <a id="clearFacility" ng-show="facilitySelected"
               href="" class="clear-search" ng-click="void()"></a>
          </div>
        </div>
      </div>

      <div class="position-relative">
        <div class="slider" slider="showSlider" ng-include
             src="'/public/pages/admin/shared/search-filter-facilities.html'"></div>
      </div>

      <div class="form-row clearfix"></div>

        <div ng-show="orders && orders.length" class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
