<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<h2 id="managePodHeader" openlmis-message="header.pod.manage"></h2>

<div class="app-form">
    <div class="form-group">
        <h3 openlmis-message="label.order.list"></h3>

        <div class="alert alert-info" id="noOrdersPresent" ng-hide="orders && orders.length">
            <span openlmis-message="message.no.order"></span>
        </div>
        <input id="searchPodList" class="search-query input-xxlarge" type="text" ng-model="query"
               ng-keyup="showPodSearch()" openlmis-message="placeholder.search"/>

        <div class="form-tip" openlmis-message="search.threeCharacters"></div>
        <!--<div class="facility-list" ng-show="query.length > 2">-->
            <!--<div ng-switch on="resultCount">-->
                <!--<h3 ng-switch-when="0" openlmis-message="msg.no.matches|query"></h3>-->

                <!--<h3 ng-switch-when="1" openlmis-message="msg.one.match|query"></h3>-->

                <!--<h3 ng-switch-default openlmis-message="msg.many.matches|resultCount|query"></h3>-->
            <!--</div>-->
            <!--<a class="close-btn" href="" ng-click="clearSearch()" tabindex="-1"></a>-->
        <div ng-show="filteredOrdersForPOD && filteredOrdersForPOD.length" class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
