<div xmlns="http://www.w3.org/1999/html">
  <h2>Add new facility</h2>
  <form ng-submit="saveFacility()" id="create-facility" name="facilityForm" novalidate>
    <div class="app-form">

      <div class="form-row">
        <label for="code">Facility Code <span class="label-required">*</span></label>
        <div class="form-field">
          <input ng-model="facility.code" name="code" id="code" type="text" maxlength="50" ng:required="true" />
          <span class="field-error" ng-show="facilityForm.code.$error.required && showError">
            Please Fill In this value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="name">Facility Name <span class="label-required">*</span></label>
        <div class="form-field">
          <input ng-model="facility.name" name="name" id="name" type="text" maxlength="50" ng:required="true"/>
          <span class="field-error" ng-show="facilityForm.name.$error.required && showError">
            Please Fill In this value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="description">Facility Description</label>
        <div class="form-field">
          <input ng-model="facility.description" id="description" type="text" maxlength="250" />
        </div>
      </div>

      <div class="form-row">
        <label for="gln">GLN</label>
        <div class="form-field">
          <input ng-model="facility.gln" id="gln" type="text" maxlength="30"/>
        </div>
      </div>

      <div class="form-row">
        <label for="main-phone">Phone</label>
        <div class="form-field">
          <input ng-model="facility.mainPhone" id="main-phone" type="text" maxlength="20" />
        </div>
      </div>

      <div class="form-row">
        <label for="fax-phone">Fax</label>
        <div class="form-field">
          <input ng-model="facility.fax" id="fax-phone" type="text" maxlength="20"/>
        </div>
      </div>

      <div class="form-row">
        <label for="address-1">Address Line 1</label>
        <div class="form-field">
          <input ng-model="facility.address1" id="address-1" type="text" maxlength="50"/>
        </div>
      </div>

      <div class="form-row">
        <label for="address-2">Address Line 2</label>
        <div class="form-field">
          <input ng-model="facility.address2" id="address-2" type="text" maxlength="50"/>
        </div>
      </div>

      <div class="form-row">
        <label for="geographic-zone">Geographic Zone <span class="label-required">*</span></label>
        <div class="form-field">
          <select id="geographic-zone" name="geographicZone" ng-model="facility.geographicZone.id" ng-options="i.id as i.value for i in geographicZones" ng:required="true" >
            <option value="">-- Select Geographic Zone --</option>
          </select>
          <span class="field-error" ng-show="facilityForm.geographicZone.$error.required && showError">
            Please select a value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="facility-type">Facility Type <span class="label-required">*</span></label>
        <div class="form-field">
          <select name="facilityType" id="facility-type" ng-model="facility.facilityType.code" ng-options="i.code as i.name for i in facilityTypes" ng:required="true" >
            <option value="">--Select Facility Type--</option>
          </select>
          <span class="field-error" ng-show="facilityForm.facilityType.$error.required && showError">
            Please select a value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="catchment-population">Catchment Population</label>
        <div class="form-field">
          <input ng-model="facility.catchmentPopulation" id="catchment-population" ng-pattern="/^\d{1,9}$/" name="catchmentPopulation" type="text" maxlength="9"/>
          <span class="field-error" ng-show="facilityForm.catchmentPopulation.$error.pattern">
            Value should be integer
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="latitude">Latitude</label>
        <div class="form-field">
          <input ng-model="facility.latitude" ng-pattern="/^\d{1,4}$|^\d{1,4}\.\d{1,4}$/" id="latitude" type="text" name="latitude" maxlength="9" />
          <span class="field-error" ng-show="facilityForm.latitude.$error.pattern">
            Value should be numeric and less than 9999.9999
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="longitude">Longitude</label>
        <div class="form-field">
          <input ng-model="facility.longitude" ng-pattern="/^\d{1,4}$|^\d{1,4}\.\d{1,4}$/" name="longitude" id="longitude" type="text" maxlength="9"/>
          <span class="field-error" ng-show="facilityForm.longitude.$error.pattern">
            Value should be numeric and less than 9999.9999
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="altitude">Altitude</label>
        <div class="form-field">
          <input ng-model="facility.altitude" ng-pattern="/^\d{1,4}$|^\d{1,4}\.\d{1,4}$/" name="altitude" id="altitude" type="text" maxlength="9"/>
          <span class="field-error" ng-show="facilityForm.altitude.$error.pattern">
            Value should be numeric and less than 9999.9999
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="operated-by">Operated By</label>
        <div class="form-field">
          <select id="operated-by" ng-model="facility.operatedBy.code" ng-options="i.code as i.text for i in facilityOperators">
            <option value="">--Select Facility Operated By--</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <label for="cold-storage-gross-capacity">Cold Storage Gross Capacity</label>
        <div class="form-field">
          <input ng-model="facility.coldStorageGrossCapacity" ng-pattern="/^\d{1,4}$|^\d{1,4}\.\d{1,4}$/" name="coldStorageGrossCapacity" id="cold-storage-gross-capacity" type="text" maxlength="9"/>
          <span class="field-error" ng-show="facilityForm.coldStorageGrossCapacity.$error.pattern">
            Value should be numeric and less than 9999.9999
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="cold-storage-net-capacity">Cold Storage Net Capacity</label>
        <div class="form-field">
          <input ng-model="facility.coldStorageNetCapacity" id="cold-storage-net-capacity" ng-pattern="/^\d{1,4}$|^\d{1,4}\.\d{1,4}$/" name="coldStorageNetCapacity" maxlength="9" type="text"/>
          <span class="field-error" ng-show="facilityForm.coldStorageNetCapacity.$error.pattern">
            Value should be numeric and less than 9999.9999
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label>Facility Supplies Others?</label>
        <div class="form-field radio-group">
          <input ng-model="facility.suppliesOthers" type="radio" name="supplies-others" value="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input  ng-model="facility.suppliesOthers" type="radio" name="supplies-others" value="false"/><strong>No</strong>
        </div>
      </div>

      <div class="form-row">
        <label>Service Delivery Point? <span class="label-required">*</span></label>
        <div class="form-field radio-group">
          <input type="radio" name="isSdp" value="true" ng-model="facility.sdp" ng:required="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input  ng-model="facility.sdp" type="radio" name="isSdp" value="false"/><strong>No</strong>
          <span class="field-error" ng-show="facilityForm.isSdp.$error.required && showError">
            Please select a value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label>Electricity Available at Facility?</label>
        <div class="form-field radio-group">
          <input ng-model="facility.hasElectricity" type="radio" name="has-electricity" value="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input ng-model="facility.hasElectricity" type="radio" name="has-electricity" value="false"/><strong>No</strong>
        </div>
      </div>

      <div class="form-row">
        <label>Facility has Internet Connectivity?</label>
        <div class="form-field radio-group">
          <input ng-model="facility.online" type="radio" name="is-online" value="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input ng-model="facility.online" type="radio" name="is-online" value="false"/><strong>No</strong>
        </div>
      </div>

      <div class="form-row">
        <label>Facility has Electronic SCC?</label>
        <div class="form-field radio-group">
          <input ng-model="facility.hasElectronicScc" type="radio" name="has-electronic-scc" value="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input  ng-model="facility.hasElectronicScc" type="radio" name="has-electronic-scc" value="false"/><strong>No</strong>
        </div>
      </div>

      <div class="form-row">
        <label>Facility has Electronic DAR?</label>
        <div class="form-field radio-group">
          <input ng-model="facility.hasElectronicDar" type="radio" name="has-electronic-dar" value="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input ng-model="facility.hasElectronicDar" type="radio" name="has-electronic-dar" value="false"/><strong>No</strong>
        </div>
      </div>

      <div class="form-row">
        <label>Active Facility? <span class="label-required">*</span></label>
        <div class="form-field radio-group">
          <input ng-model="facility.active" type="radio" name="isActive" value="true" ng:required = "true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input ng-model="facility.active" type="radio" name="isActive" value="false" /><strong>No</strong>
          <span class="field-error" ng-show="facilityForm.isActive.$error.required && showError">
            Please select a value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="go-live-date">Go Live Date <span class="label-required">*</span></label>
        <div class="form-field">
          <input ng-model="facility.goLiveDate" name="goLiveDate" id="go-live-date" type="text" value="{{facility.goLiveDate | date:'dd/MM/yyyy'}}" ui-date readonly ng:required="true" />
          <span class="field-error" ng-show="facilityForm.goLiveDate.$error.required && showError">
            Please Fill In this value
            <span class="beak"></span>
          </span>
        </div>
      </div>

      <div class="form-row">
        <label for="go-down-date">Go Down Date</label>
        <div class="form-field">
          <input ng-model="facility.goDownDate" id="go-down-date" type="text" value="{{facility.goDownDate | date:'dd/MM/yyyy'}}" ui-date readonly />
        </div>
      </div>

      <div class="form-row">
        <label>Data Reportable for the Facility? </label>
      <!--  <div class="form-field radio-group">
          <input ng-model="facility.dataReportable" type="radio" name="data-reportable" value="true" ng:required="true" /><strong>Yes</strong> &nbsp; &nbsp; &nbsp;
          <input ng-model="facility.dataReportable" type="radio" name="data-reportable" value="false" /><strong>No</strong>
          <span class="field-error" ng-show="facilityForm.data-reportable.$error.required && showError">
            Please select a value
            <span class="beak"></span>
          </span>
        </div>-->
          <ng-switch on="facility.dataReportable">
              <span ng-switch-when="true">
                  Yes
              </span>
              <span ng-switch-when="false">
                  No
              </span>
          </ng-switch>
      </div>

      <div class="form-row">
        <label for="comments">Comments</label>
        <div class="form-field">
          <input ng-model="facility.comment" id="comments" type="text" maxlength="500"/>
        </div>
      </div>

      <div class="form-row">
        <label for="programs-supported">Programs Supported</label>
        <div class="form-field">
          <select id="programs-supported" ng-model="facility.supportedPrograms" ng-options="i as i.name for i in programs" multiple="multiple">
            <option value="">--Select Programs Supported--</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <table class="table table-striped table-bordered" ng-show="facility.supportedPrograms">
          <thead>
          <tr>
            <th>Programs</th>
            <th>Active ?</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="program in facility.supportedPrograms">
            <td>{{program.name}} :</td>
            <td><input ng-model="program.active" id="" type="checkbox" value="true"/></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-row">
        <div class="alert alert-error" id="saveErrorMsgDiv" ng-model="error" ng-show="error">
          {{error}}
        </div>
        <div class="alert alert-success" id="saveSuccessMsgDiv" ng-model="message" ng-show="message">
          {{message}}
        </div>
      </div>


      <div class="form-row button-row">
        <input type="submit" class="btn" value="Save" />
      </div>


      <div id="deleteModal" class="fade ng-pristine ng-valid modal hide" ui-modal="" ng-model="deleteConfirmModal">
          <div class="modal-header"><h1>Delete Facility</h1></div>
          <div class="modal-body">
              <p>{{facility.name}}/{{facility.code}} will be soft-deleted from the system</p>
          </div>
          <div class="modal-footer">
              <a href="" class="btn" ng-click="deleteFacility()" data-dismiss="modal" >OK</a>
              <a href="" class="btn" data-dismiss="modal">Cancel</a>
          </div>
      </div>
      <div id="restoreConfirmModal" class="fade ng-pristine ng-valid modal hide" ui-modal="" ng-model="restoreConfirmModal">
          <div class="modal-header"><h1>Restore Facility</h1></div>
          <div class="modal-body">
              <p>{{facility.name}}/{{facility.code}} will be restored in the system</p>
          </div>
          <div class="modal-footer">
              <a href="" class="btn"  ng-click="activeConfirmModal=true" data-dismiss="modal" >OK</a>
              <a href="" class="btn" data-dismiss="modal">Cancel</a>
          </div>
      </div>
      <div id="activeConfirmModel" class="fade ng-pristine ng-valid modal hide" ui-modal="" ng-model="activeConfirmModal">
          <div class="modal-header"><h1>Activate Facility</h1></div>
          <div class="modal-body">
              <p>Do you want to set facility as Active?</p>
          </div>
          <div class="modal-footer">
              <a href="" class="btn" ng-click="restoreFacility(true)" data-dismiss="modal" >YES</a>
              <a href="" class="btn" ng-click="restoreFacility(false)" data-dismiss="modal">NO</a>
          </div>
      </div>



      <a href="" class="btn" ng-click="deleteConfirmModal=true">Delete</a><br>
      <a href="" class="btn" ng-click="restoreConfirmModal=true">Restore</a><br>
     <!-- <ng-switch on="facility.dataReportable">
          <span ng-switch-when="true">

          </span>-->
        <!--  <span ng-switch-when="false">
          <a href="" class="btn" ng-click="restoreConfirmModal=true">Restore</a><br>
          </span>-->
      </ng-switch>
    </div>

  </form>

</div>


