<ng-include src="'/public/pages/logistics/rnr/partials/header.html'"></ng-include>
<form name="approvalForm" novalidate>
  

  <div class="gridStyle grid-approval" ng-grid="gridOptions"></div>
  <br><br>
  <div form-toolbar id="action_buttons" class="action-buttons">
    <div class="total-cost-container">
      <div class="cost-values">
        <strong>
          Total R&amp;R Cost:
          <span id="totalCostCurrency" class="cell-text" ng-bind="currency"></span>
          <span id="totalCost" class="cell-text" ng-bind="requisition.fullSupplyItemsSubmittedCost"></span>
        </strong>
      </div>
     </div>
    <div class="form-cell button-row">
      <input type="button" value="Save" ng-click="saveRnr()" class="btn btn-primary save-button"/>
      <input type="button" ng-click="approveRnr()" class="btn btn-success submit-button" value="Approve"/>
    </div>
    <div class="toolbar-error" id="saveFailMessage" ng-show="error">
      {{error}}
    </div>
    <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message">
      {{message}}
    </div>
  </div>
</form>
