<ng-include src="'/public/pages/logistics/rnr/partials/header.html'"></ng-include>
<div class="rnr-tabs">
    <ul class="clearfix">
      <li ng-class="{'selected': !showNonFullSupply}" ><a ng-click="toggleFullSupplyTab(false)" id="fullSupplyTab">Full Supply</a></li>
      <li ng-class="{'selected': showNonFullSupply}" ><a ng-click="toggleFullSupplyTab(true)" id="nonFullSupplyTab">Non Full Supply</a></li>
    </ul>
  </div>
<form name="approvalForm" novalidate>
  <ng-switch on="showNonFullSupply">
        <span ng-switch-when="true">
          <div class="approveGrid grid-approval" ng-grid="nonFullSupplyGrid"></div>
        </span>
        <span ng-switch-default >
          <div class="approveGrid grid-approval" ng-grid="fullSupplyGrid"></div>
        </span>
      </ng-switch>
  <br><br>
  <div form-toolbar id="action_buttons" class="action-buttons">
    <div class="total-cost-container">
      <div class="cost-values">
        <small>
          Total Cost For Full Supply Items:
          <strong>
            <span id="fullSupplyItemsCostCurrency" class="cell-text" ng-bind="currency"></span><span
            id="fullSupplyItemsCost" class="cell-text" ng-bind="rnr.fullSupplyItemsSubmittedCost"></span>
          </strong>
          &nbsp;|&nbsp;
          Total Cost For Non Full Supply Items:
          <strong>
            <span id="nonFullSupplyItemsCostCurrency" class="cell-text" ng-bind="currency"></span><span
            id="nonFullSupplyItemsCost" class="cell-text"
            ng-bind="rnr.nonFullSupplyItemsSubmittedCost"></span>
          </strong>
        </small>
        &nbsp;|&nbsp;
        <strong>
          Total R&amp;R Cost:
          <span id="totalCostCurrency" class="cell-text" ng-bind="currency"></span>
          <span id="totalCost" class="cell-text" ng-bind="totalCost()"></span>
        </strong>
      </div>
     </div>
    <div class="form-cell button-row">
      <input type="button" value="Save" ng-click="saveRnr()" class="btn btn-primary save-button"/>
      <input type="button" ng-click="approveRnr()" class="btn btn-success submit-button" value="Approve"/>
    </div>
    <div class="toolbar-error" id="saveFailMessage" ng-bind="error" ng-show="error"/>
    <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message" ng-bind="message"/>
  </div>
</form>
