<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<h2 openlmis-message = "label.requisition.convertOrder"></h2>

<div class = "alert alert-error" id = "saveErrorMsgDiv" ng-show = "error"
     openlmis-message = "error"></div>
<div class = "alert alert-success" id = "saveSuccessMsgDiv" ng-show = "message"
     openlmis-message = "message"></div>
<div class = "alert alert-info" id = "noRequisitionSelectedMsgDiv"
     ng-show = "noRequisitionSelectedMessage"
     openlmis-message = "noRequisitionSelectedMessage"></div>

<div class = "alert alert-info" id = "NoRequisitionsPendingMessage"
     ng-hide = "requisitions.length">
  <span openlmis-message = "message.noRnr.pending"></span>
</div>

<div class = "app-form" ng-show = "requisitions.length">
  <div class = "form-group">
    <h3 openlmis-message = "label.requisition.list"></h3>

    <div class = "row-fluid">
      <div class = "span5 offset7 search-in-category">
        <div class = "input-append input-prepend">
          <div class = "btn-group">
            <button class = "btn dropdown-toggle">
              <span ng-bind = "searchField"
                    openlmis-message = "searchValue"></span>
              <span class = "caret"></span>
            </button>
            <ul class = "dropdown-menu">
              <li ng-repeat = "searchOption in searchOptions">
                <a href = "" openlmis-message = "searchOption.value"
                   ng-click = "selectSearchType(searchOption)"></a>
              </li>
            </ul>
          </div>
          <input type = "text" class = "span5"
                 ui-keypress = "{13:'fetchFilteredRequisitions()'}"
                 ng-model = "query"/>
          <button class = "btn" ng-click = "fetchFilteredRequisitions()">
            <i class = "icon-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class = "alert alert-info" id = "noSearchResults"
         ng-hide = "filteredRequisitions.length">
      <span openlmis-message = "message.no.search.results"></span>
    </div>
    <div class = "gridStyle" ng-grid = "gridOptions"
         ng-show = "filteredRequisitions.length"></div>
    <div ng-show = "filteredRequisitions.length">
      <openlmis-pagination num-pages = "numberOfPages"
                           current-page = "currentPage"
                           max-size = "maxNumberOfPages"
                           check-error-on-page = "checkErrorOnPage(page)"></openlmis-pagination>
    </div>
    <div form-toolbar id = "action_buttons" class = "action-buttons">
      <div class = "form-cell button-row">
        <input type = "submit" ng-click = "convertToOrder()"
               class = "btn btn-primary save-button"
               openlmis-message = "button.convert.to.order"
               ng-disabled = "filteredRequisitions.length == 0"/>
      </div>
    </div>
  </div>
</div>
</div>

