<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th ng-repeat="programRnrColumn in programRnRColumnList">{{programRnrColumn.label}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rnrLineItem in $parent.rnr.lineItems">
        <td>{{rnrLineItem.product.code}}</td>
        <td>{{rnrLineItem.product.primaryName}}  {{rnrLineItem.product.form}} {{rnrLineItem.product.strength}} {{rnrLineItem.product.dosageUnit}}</td>
        <td>{{rnrLineItem.product.dispensingUnit}}</td>
        <td ng-repeat="i in programRnRColumnList | limitTo: programRnRColumnList.length-3"></td>
    </tr>
    </tbody>
</table>