<div class="rnr-table">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-{{programRnrColumn.name}}" ng-repeat="programRnrColumn in programRnRColumnList">
              {{programRnrColumn.label}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-formula" ng-repeat="programRnrColumn in programRnRColumnList">
            <div class="indicator">{{programRnrColumn.indicator}}</div>
            <div class="formula">{{programRnrColumn.formula}}</div>
          </td>
        </tr>
        <tr ng-repeat="rnrLineItem in $parent.rnr.lineItems">
            <td ng-repeat="column in programRnRColumnList">
            <ng-switch on="column.selectedColumnType">
                <span ng-switch-when="User_Input">
                        <input type="text" ng:model="rnrLineItem[column.name]" value="rnrLineItem[column.name]"/>
                </span>
                <span ng-switch-default>
                    {{rnrLineItem[column.name]}}
                </span>
            </ng-switch>
            </td>
        </tr>
        </tbody>
    </table>
</div>
