<div ng-controller="RequisitionFormController" xmlns="http://www.w3.org/1999/html">
  <div ng-hide="programRnrColumnList">Loading...</div>
  <form name="saveRnrForm" action="#" id="rnr-form" novalidate>
    <div class="rnr-table">
      <ng-switch on="activeTab">
        <span ng-switch-when="nonFullSupply">
          <ng-include src="'/public/pages/logistics/rnr/partials/rnr-non-full-supply.html'"></ng-include>
        </span>
        <span ng-switch-default>
          <ng-include src="'/public/pages/logistics/rnr/partials/rnr-full-supply.html'"></ng-include>
        </span>
      </ng-switch>
    </div>
    <br/>

    <div form-toolbar id="action_buttons" class="action-buttons">
      <div class="total-cost-container">
        <div class="cost-values">
          <small>
            Total Cost For Full Supply Items:
            <strong>
              <span id="fullSupplyItemsCostCurrency" class="cell-text" ng-bind="currency"></span><span
                id="fullSupplyItemsCost" class="cell-text" ng-bind="rnr.fullSupplyItemsSubmittedCost"></span>
            </strong>
            &nbsp;|&nbsp;
            Total Cost For Non Full Supply Items:
            <strong>
              <span id="nonFullSupplyItemsCostCurrency" class="cell-text" ng-bind="currency"></span><span
                id="nonFullSupplyItemsCost" class="cell-text"
                ng-bind="rnr.nonFullSupplyItemsSubmittedCost"></span>
            </strong>
          </small>
          &nbsp;|&nbsp;
          <strong>
            Total R&amp;R Cost:
            <span id="totalCostCurrency" class="cell-text" ng-bind="currency"></span>
            <span id="totalCost" class="cell-text" ng-bind="totalCost()"></span>
          </strong>
        </div>
      </div>
      <div class="form-cell button-row">
        <input ng-disabled="formDisabled" type="button" ng-click="saveRnr()" class="btn btn-primary save-button"
               value="Save"/>
        <input ng-show="rnr.status == 'INITIATED' && hasPermission('CREATE_REQUISITION')" ng-disabled="formDisabled"
               type="button" ng-click="submitRnr()" class="btn btn-success submit-button" value="Submit"/>
        <input type="button"
               ng-show="(rnr.status == 'SUBMITTED' || rnr.status == 'AUTHORIZED') && hasPermission('AUTHORIZE_REQUISITION')"
               ng-disabled="rnr.status == 'AUTHORIZED'" ng-click="authorizeRnr()"
               class="btn btn-success submit-button"
               value="Authorize"/>
      </div>
      <div class="toolbar-error" id="saveFailMessage" openlmis-message="error"
           ng-show="error && !submitError && !submitMessage"></div>
      <div class="toolbar-error" id="submitFailMessage" openlmis-message="submitError"></div>
      <div class="toolbar-success" id="saveSuccessMsgDiv" openlmis-message="message"
           ng-show="!submitMessage && !submitError && message"></div>
      <div class="toolbar-success" id="submitSuccessMsgDiv" openlmis-message="submitMessage"></div>
    </div>
  </form>
</div>
