<div id="requisition-header">
  <h2>Report and Requisition for {{$parent.program.name}} ({{header.facilityType}}) </h2>
  <div class="req-info">
    <p class="facility-info"><strong>Facility:</strong> {{header.facilityCode}} - {{header.facilityName}}, <strong>Operated By:</strong> {{header.facilityOperatedBy}}</p>
    <p><strong>{{header.zone.label}}:</strong> {{header.zone.value}}, <strong>{{header.parentZone.label}}:</strong> {{header.parentZone.value}} </p>
    <p><strong>Maximum Stock level:</strong> {{header.maximumStockLevel}}, <strong>Emergency Order Point:</strong>
      {{header.emergencyOrderPoint}} </p>
  </div>
</div>

