<div id="requisition-header" ng-controller="RequisitionHeaderController">
  <h2>Report and Requisition for {{$parent.program.name}} ({{header.facilityType}}) </h2>

  <div class="info-box">
    <div class="row-fluid">
      <div class="span3">
        <strong>Facility:</strong> {{header.facilityCode}} - {{header.facilityName}}
      </div>
      <div class="span3">
        <strong>Operated By:</strong> {{header.facilityOperatedBy}}
      </div>
      <div class="span3">
        <strong>Maximum Stock level:</strong> {{header.maximumStockLevel}}
      </div>
      <div class="span3">
        <strong>Emergency Order Point:</strong> {{header.emergencyOrderPoint}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <strong>{{header.zone.label}}:</strong> {{header.zone.value}}
      </div>
      <div class="span3">
        <strong>{{header.parentZone.label}}:</strong> {{header.parentZone.value}}
      </div>
      <div class="span3">
        <strong>Reporting Period:</strong> {{periodDisplayName()}}
      </div>
      <div class="span3"></div>
    </div>
  </div>
</div>

