<div ng-controller="InitiateMyFacilityRnrController">
  <h2>Initiate Report and Requisition</h2>
  <label>Facility</label>
  <select id="facilityList" ng-model="$parent.selectedFacilityId" ng-options="i.id as i.code + '-' + i.name for i in facilities"
          ng-change="loadPrograms(); loadPeriods()">
    <option value="">{{facilityOptionMessage()}}</option>
  </select> <br/>
  <br/>
  <label>Program</label>
  <select id="programList" ng-model="$parent.selectedProgram" ng-options="i as i.name for i in programs"
          ng-change="loadPeriods()">
    <option value="">{{programOptionMessage()}}</option>
  </select>

  <div class="row-fluid init-rnr-grid">
    <div class="span6">
      <div class="gridStyle small" ng-grid="periodGridOptions" ng-show="$parent.selectedProgram && $parent.selectedFacilityId"></div>
    </div>
  </div>

  <div class="alert alert-error" id="saveSuccessMsgDiv" ng-model="error" ng-show="error">
    {{error}}
  </div>
</div>