<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div id="lossesAndAdjustments" modal="lossesAndAdjustmentsModal[row.entity.id]">
  <div class="modal-header"><h3>Losses And Adjustments</h3></div>
  <div class="modal-body">
    <hr ng-show="row.entity.lossesAndAdjustments.length > 0"/>
    <div class="adjustment-list" ng-show="row.entity.lossesAndAdjustments.length > 0">
      <ul>
        <li ng-repeat="oneLossAndAdjustment in row.entity.lossesAndAdjustments" class="clearfix">
                                               <span class="tpl-adjustment-type" ng-bind="oneLossAndAdjustment.type.description"></span>
                                               <span class="tpl-adjustment-qty" ng-bind="oneLossAndAdjustment.quantity"></span>
        </li>
      </ul>
    </div>

    <div class="adjustment-total clearfix alert alert-warning" ng-show="row.entity.lossesAndAdjustments.length > 0">
      <span class="pull-left">Total</span> <span ng-bind="row.entity.totalLossesAndAdjustments"></span>
    </div>

  </div>
  <div class="modal-footer">

    <input type="button" class="btn btn-success save-button"
           ng-click="closeLossesAndAdjustmentsForRnRLineItem(row.entity)"
           value="Close"/>
  </div>
</div>
<div ng-class="highlightNestedFieldsWithError(row.entity[column.name], 'quantity')">
  <a ng-click="showLossesAndAdjustmentModalForLineItem(row.entity)"
     class="rnr-adjustment">
  <span class="adjustment-value" ng-bind="row.entity.totalLossesAndAdjustments"></span>
  </a>
</div>