<h4>Non Full Supply Products</h4>
<table id="nonFullSupplyTable" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th class="col-{{programRnrColumn.name}}" ng-repeat="programRnrColumn in programRnrColumnList"
        ng-hide="programRnrColumn.name == 'quantityApproved'" ng-bind="programRnrColumn.label"></th>
  </tr>
  </thead>
  <tbody ng-show="programRnrColumnList && (rnr.lineItems.length > 0)">
  <tr ng-repeat="rnrLineItem in rnr.nonFullSupplyLineItems  ">
    <td class="cell-input" ng-repeat="column in programRnrColumnList"
        ng-hide="column.name == 'quantityApproved'">
      <ng-switch on="column.name">
                <span ng-switch-when="remarks">
                  <input ng-disabled="formDisabled" id="{{getId('L', $parent)}}" type="text"
                         name="remarks{{rnrLineItem['id']}}"
                         ng-model="rnrLineItem[column.name]"
                         maxlength="250"/>
                </span>

                <span ng-switch-when="quantityRequested">
                  <input ng-disabled="formDisabled" id="{{getId('J', $parent)}}" type="text"
                         name="quantityRequested{{rnrLineItem['id']}}"
                         ng-model="rnrLineItem.quantityRequested"
                         ng-required="true"
                         ng-class="highlightRequired(rnrLineItem[column.name])"
                         rnr-validator="positiveInteger" maxlength="8"
                         ng-change="rnrLineItem.fillPacksToShipBasedOnCalculatedOrderQuantityOrQuantityRequested(rnr)"/>
                  <span class="rnr-form-error" id="quantityRequested{{rnrLineItem['id']}}"
                        style="display:none;">
                    Enter Numeric Data
                  </span>
                </span>

                <span ng-switch-when="reasonForRequestedQuantity">
                  <input ng-disabled="formDisabled" id="{{getId('W', $parent)}}" type="text"
                         name="reasonForRequestedQuantity{{rnrLineItem['id']}}"
                         ng-model="rnrLineItem[column.name]"
                         ng-required="true"
                         ng-class="highlightWarning(rnrLineItem.reasonForRequestedQuantity)"
                         maxlength="250"/>
                  <span class="alert alert-warning reason-request"
                        ng-show="rnrLineItem.quantityRequested && !rnrLineItem.reasonForRequestedQuantity">
                    Please enter a reason
                  </span>
                </span>

                <span ng-switch-when="price">
                  <span ng-bind="currency" class="cell-text"></span>
                  <span ng-bind="rnrLineItem[column.name] | number:'2'" class="cell-text"></span>
                </span>
                <span ng-switch-when="cost">
                  <span ng-bind="currency" class="cell-text"></span>
                  <span ng-bind="rnrLineItem[column.name] | number:'2'" class="cell-text"></span>
                </span>
                <span ng-switch-when="lossesAndAdjustments">
                  <span ng-bind="rnrLineItem['totalLossesAndAdjustments']" class="cell-text"></span>
                </span>
        <span ng-switch-default ng-bind="rnrLineItem[column.name]" class="cell-text"></span>

      </ng-switch>
    </td>
  </tr>
  </tbody>
</table>

<input type="button" ng-click="showAddNonFullSupplyModal()" value="Add Non-Full Supply"
       ng-disabled="!addNonFullSupplyLineItemButtonShown"/>

<form name="nonFullSupplyForm">
  <div id="nonFullSupplyProductsModal"
       ng-model="nonFullSupplyProductsModal"
       class="fade ng-pristine ng-valid modal hide "
       ui-modal
       data-backdrop="static" data-keyboard="false">
    <div class="modal-header"><h3>Add Non-Full Supply Products</h3></div>
    <div class="modal-body">
          <span class="span3">
            <label for="nonFullSupplyProductsName">Product:</label>
            <select id="nonFullSupplyProductsName" ng-model="$parent.facilityApprovedProduct" name="productName"
                    ng-options="facilityApprovedProduct.programProduct.product.primaryName for facilityApprovedProduct in nonFullSupplyProductsToDisplay">
              <option value="">--select product--</option>
            </select>
          </span>
          <span class="span3">
            <label for="nonFullSupplyProductsCode">Product Code:</label>
            <select id="nonFullSupplyProductsCode" ng-model="$parent.facilityApprovedProduct" name="productCode"
                    ng-options="facilityApprovedProduct.programProduct.product.code for facilityApprovedProduct in nonFullSupplyProductsToDisplay">
              <option value="">--select product code--</option>
            </select>
          </span>
          <span class="span3">
            <span>
              <label for="quantityRequested"><span
                  ng-bind="labelForRnrColumn('quantityRequested')"></span></label>
              <input name="newNonFullSupply.quantityRequested" ng-model="$parent.newNonFullSupply.quantityRequested"
                     id="quantityRequested"
                     rnr-validator="positiveInteger" prevent-rnr-error="true" maxlength="8"/><br>
              <span class="rnr-form-error" style="display:none;" id="newNonFullSupply.quantityRequested">
                Enter Numeric Data
              </span>
            </span>
          </span>
          <span class="span3">
            <label for="reasonForRequestedQuantity"><span
                ng-bind="labelForRnrColumn('reasonForRequestedQuantity')"></span></label>
            <textarea maxlength="250" rows="4" ng-model="$parent.newNonFullSupply.reasonForRequestedQuantity"
                      id="reasonForRequestedQuantity"></textarea><br>
            <span class="alert alert-warning reason-request"
                  ng-show="$parent.newNonFullSupply.quantityRequested && !$parent.newNonFullSupply.reasonForRequestedQuantity">
              Please enter a reason
            </span>
          </span>
    </div>

    <div class="modal-footer">
          <span class="pull-left span1">
            <input type="button" href="" class="btn btn-primary" ng-click="addNonFullSupplyLineItem()"
                   ng-disabled="!($parent.newNonFullSupply.quantityRequested && $parent.newNonFullSupply.reasonForRequestedQuantity
             && $parent.facilityApprovedProduct)" value="Add"/>
          </span>

          <span class="pull-left span1">
            <input type="reset" data-dismiss="modal" class="btn btn-success save-button"
                   value="Close"/>
          </span>
    </div>

  </div>
</form>