<div>
    <h2>Initiate Report and Requisition</h2>
    <label>Program</label>
    <select  ng-change="loadFacilities()" ng-model="$parent.program" ng-options="i as i.name for i in $parent.programs">
        <option value="">{{programOptionMsg}}</option>
    </select> <br/>
    <br/>
    <label>Facility</label>
    <select ng-model="$parent.facility" ng-options="i.id as i.code + '-' + i.name for i in facilities">
        <option value="">{{facilityOptionMsg}}</option>
    </select> <br/>
    <br/>
    <div class="alert alert-error" id="saveSuccessMsgDiv" ng-model="error" ng-show="error">
        {{error}}
    </div>
    <input type="button" class="btn" ng-click="initRnr()" value="Next"/>
</div>