<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div class="total-cost-container">
    <div class="cost-values">
        <small>
            <span openlmis-message="label.total.cost.full.supply"></span>
            <strong>
                <span id="fullSupplyItemsCost" class="cell-text"
                      ng-bind="rnr.fullSupplyItemsSubmittedCost | currency:currency"></span>
            </strong>
            &nbsp;|&nbsp;
            <span openlmis-message="label.total.cost.non.full.supply"></span>
            <strong>
                <span id="nonFullSupplyItemsCost" class="cell-text"
                      ng-bind="rnr.nonFullSupplyItemsSubmittedCost | currency:currency"></span>
            </strong>
        </small>
        &nbsp;|&nbsp;
        <strong>
            <span openlmis-message="label.total.cost"></span>
            <span id="totalCost" class="cell-text"
                  ng-bind="rnr.calculateTotalLineItemCost() | currency:currency"></span>
        </strong>
    </div>
</div>
