
<div tab-scroll>
    <form ng-submit="saveSettings()" id="setting-form" name="settingForm" novalidate>
        <div ng-hide="settings" openlmis-message="msg.loading"></div>
        <div ng-show="settings">
            <h2>
                <span openlmis-message="configure.setting.header"></span>
            </h2>

            <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>

            <table class="table table-striped table-bordered">
                <thead>
                <tr class="gradient-header">
                    <th class="col-name" openlmis-message="header.name">
                    </th>
                    <th class="col-right" openlmis-message="header.value">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="setting in settings.list">
                    <td>
                        {{setting.name}}
                    </td>
                    <td>
                        <setting ng-model="setting"></setting>
                        <div>{{setting.description}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div form-toolbar id="action_buttons" class="action-buttons">
            <div class="form-cell button-row">
                <input type="submit" id="save-button" class="btn btn-primary save-button" openlmis-message="button.save"/>
            </div>


            <div class="toolbar-error" id="saveErrorMsgDiv">
                <span openlmis-message="error" ng-show="error"></span>&nbsp;
                <span ng-show="errorProgram" ng-bind="errorProgram"></span>
            </div>
            <div class="toolbar-success" id="saveSuccessMsgDiv" openlmis-message="message" ng-show="message"></div>
        </div>
    </form>

</div>
