<div>
  <h2>Upload</h2>
  <form id="uploadForm" name="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" novalidate>
    <div>
      <fieldset>
        <label style="padding-top: 10" for="model">Upload type:</label>

        <select name="model" id="model" ng-model="model"
                ng-options="k as v.displayName for (k,v) in supportedUploads" required></select>
        <br/>
        <label style="padding-top: 10" for="csvFile">File: </label>
        <input name="csvFile" id="csvFile" ng-model="csvFile" type="file" accept=".csv"
               value="Choose CSV File to upload" required/>
        <br>
        <div class="alert alert-error" id="saveErrorMsgDiv" ng-show="errorMsg">
          {{errorMsg}}
        </div>
        <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="successMsg">
          {{successMsg}}
        </div>
        <br><br>
        <input type="submit" value="Upload" class="btn btn-primary">
      </fieldset>

    </div>
  </form>
</div>
