<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<div id="searchAndFilter" class="searchAndFilter" slider ng-controller="FacilitySearchFilterController">
  <div class="clearfix position-relative">
    <div id="search" class="pull-left">
      <div class="form-group clear-bottom">
        <h3 class="main-heading" openlmis-message="search.facility.header"></h3>
      </div>

      <div id="searchControl" class="row-fluid">
        <div class="span3 input-append input-prepend">
          <input id="searchFacility" type="text" ng-model="facilitySearchParam" maxlength="50"
                 openlmis-message="placeholder.facility.search"/>
          <button id="searchButton" class="btn" ng-click="showFacilitySearchResults()">
            <i id='searchIcon' class="icon-search"></i>
          </button>
        </div>
      </div>

      <div id="searchFacilityList" class="search-list">
        <div ng-switch on="facilityResultCount">
          <h3 ng-switch-when="0">
            <span id="noFacilityResultMessage" ng-show="!message"
                  openlmis-message="msg.no.matches|facilityQuery"></span>
            <span id="tooManyResultsMessage" ng-show="message" openlmis-message="message"></span>
          </h3>

          <h3 ng-switch-when="1" openlmis-message="msg.one.match|facilityQuery"></h3>

          <h3 id="nResultsMessage" ng-switch-default
              openlmis-message="msg.many.matches|facilityResultCount|facilityQuery"></h3>
        </div>
        <a class="close-btn" id="closeButton" href="" ng-click="clearFacilitySearch()"></a>
        <ul>
          <li ng-repeat="facility in facilityList">
            <a id="facilityResult{{$index}}" href="" ng-click="associate(facility)">{{facility.code}} -
              {{facility.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="separator" class="pull-left"></div>

    <div id="filter" class="pull-left">
      <div class="form-group clear-bottom">
        <h3 class="main-heading" openlmis-message="filter.header"></h3>
      </div>

      <label class="form-row">
        <strong openlmis-message="label.facility.type"></strong>:&nbsp;
        <span id="facilityTypeLabel" ng-bind="type.name"></span>
      </label>

      <label class="form-row">
        <strong openlmis-message="label.geographic.zone"></strong>:&nbsp;
        <span id="geoZoneLabel" ng-bind="zone.name"></span>
      </label>

      <div class="form-row">
        <input id="filterButton" type="button" class="btn btn-primary btn-small" ng-click="showFilterModal()"
               openlmis-message="button.set.filters"/>
      </div>

      <div id="setFiltersModal" modal="filterModal" options="{ backdrop: 'static', escape: false}">
        <div class="modal-header">
          <h3 openlmis-message="button.set.filters"></h3>
        </div>

        <div class="modal-body">
          <div class="row-fluid">
            <label>
              <span openlmis-message="label.facility.type"></span>:&nbsp;

              <span class="select-result-container rnr-template-head" ng-show="selectedFacilityType.id">
                <span id="selectedFacilityType" ng-bind="selectedFacilityType.name"></span>
                <a href="" ng-click="selectedFacilityType = undefined" class="select-result-close" tabindex="-1">
                  <i id="removeFacilityTypeIcon" class="icon icon-remove"></i>
                </a>
              </span>
            </label>

          </div>
          <div class="row-fluid section-divider">
            <select ui-select2 class="select2-container bottom-spacer span8" name="facilityType" id="facilityType"
                    ng-model="facilityType" ng-change="setFacilityType()"
                    ng-options="i as i.name for i in facilityTypes">
              <option value="" ng-bind="label"></option>
            </select>
          </div>

          <div class="row-fluid">
            <label>
              <span openlmis-message="label.geographic.zone"></span>:&nbsp;

              <span class="select-result-container rnr-template-head" ng-show="selectedGeoZone.id">
                <span id="selectedGeoZone" ng-bind="selectedGeoZone.name"></span>
                <a href="" ng-click="selectedGeoZone = undefined" class="select-result-close" tabindex="-1">
                  <i id="removeGeoZoneIcon" class="icon icon-remove"></i>
                </a>
              </span>
            </label>
          </div>

          <div class="row-fluid">
            <div class="input-append input-prepend">
              <input id='searchGeoZone' type="text" ng-model="geoZoneSearchParam" maxlength="50"
                     ng-keydown="triggerSearch($event)"
                     openlmis-message="placeholder.geographic.zone.search"/>
              <button class="btn" ng-click="searchGeoZone()">
                <i id='geoZoneSearchIcon' class="icon-search"></i>
              </button>
            </div>
          </div>

          <div id="geoZoneSearchList" class="search-list" ng-show="showResults">
            <div ng-switch on="geoZonesResultCount">
              <h3 ng-switch-when="0">
                <span ng-show="!manyGeoZoneMessage" openlmis-message="msg.no.matches|geoZoneQuery"></span>
                <span ng-show="manyGeoZoneMessage" openlmis-message="manyGeoZoneMessage"></span>
              </h3>

              <h3 ng-switch-when="1" openlmis-message="msg.one.match|geoZoneQuery"></h3>

              <h3 ng-switch-default openlmis-message="msg.many.matches|geoZonesResultCount|geoZoneQuery"></h3>
            </div>
            <a href="" class="close-btn" id="geoZoneSearchCloseButton" ng-click="clearGeoZoneSearch()"></a>
            <ul>
              <li ng-repeat="geoZone in geoZoneList">
                <div class="productCategory" ng-show="showLevel($index)" ng-bind="geoZone.level.name"></div>
                <a id="geoZoneResult{{$index}}" href="" ng-click="setGeoZone(geoZone)">{{geoZone.code}} -
                  {{geoZone.name}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" id="doneFilters" class="btn btn-primary" ng-click="setFilters()"
                 openlmis-message="button.apply.filters"/>

          <input type="button" id="cancelFilters" class="btn btn-cancel" ng-click="cancelFilters()"
                 openlmis-message="button.cancel"/>
        </div>
      </div>
    </div>
  </div>
</div>