<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div ng-show="pendingRequisition != undefined || pendingRequisition.length > 0" class="row-fluid">
    <accordion close-others="false">
        <accordion-group class="green-haze" is-open="panel.Alerts">
            <accordion-heading>
                <div class="accordion-title">
                    <div class="caption">

                            <span style="width:20px; height:20px; border-radius:10px;background:#FF0000"
                                  class="glyphicon glyphicon-exclamation-sign"
                                  ng-class="{'_fadeIn':alert.notify,'_fadeOut':!alert.notify}"></span>
        <span ng-show="pendingRequisition.length > 0"
              style="position:relative;font-size:0.8em;top:-6px;;background:#FF0000 !important; padding:4px 8px 4px 8px !important;border-radius:20px">{{pendingRequisition.length}}</span>
                    </div>
                    <div class="tools">
                        <i ng-class="{'icon-minus-sign': panel.Alerts, 'icon-plus-sign': !panel.Alerts}"></i>
                    </div>
                </div>
            </accordion-heading>
            <valerts ng-model="data"></valerts>
        </accordion-group>
    </accordion>
</div>
</body>
</html>