<!--
  ~ Copyright © 2013 John Snow, Inc. (JSI). All Rights Reserved.
  ~
  ~ The U.S. Agency for International Development (USAID) funded this section of the application development under the terms of the USAID | DELIVER PROJECT contract no. GPO-I-00-06-00007-00.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2><span>Geographic Zones List</span>
        <a href="#/create-geographic-zone" class="pull-right btn btn-primary"><span id="geographic-zone-add-new">Add New</span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="geographicZoneId">
        <span ng-bind="message"></span>.&nbsp;&nbsp;<a ng-click="editGeographicZones(geographicZoneId)" openlmis-message="search.viewHere"></a>
    </div>

    <input id="searchGeographicZone" class="search-query input-xlarge" type="text" ng-model="query"
          ng-init="showGeographicZonesSearchResults('searchGeographicZone')" on-keyup="filterGeographicZones('searchGeographicZone')" placeholder="Enter geographic zone name"/>


    <div>  <!--ng-show="query.length > 2">-->
        <h3 ng-show="query.length>0">
            <ng-pluralize count="resultCount"
                          when="{ 0: 'No matches found for \'{{query}}\'',
                            1: '1 match found for \'{{query}}\'',
                            other: '{} matches found for \'{{query}}\''}">

            </ng-pluralize>
        </h3>
        <br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th>Name
                </th>
                <th>Code
                </th>
                <th>Level
                </th>
                <th>Parent
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="geographicZone in filteredGeographicZones">
                <td>
                    <a href="" ng-click="editGeographicZones(geographicZone.id)">{{geographicZone.name}}</a>
                </td>
                <td>
                    <div>{{geographicZone.code}}</div>
                </td>
                <td>
                    <div>{{geographicZone.level.name}}</div>
                </td>
                <td>
                    <div>{{geographicZone.parent.name}}</div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>