<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered" ng-show="content.datarows == undefined || content.datarows.length == 0">
            <tr>
                <td>No data to show for selected alert type</td>
            </tr>
        </table>
        <table ng-show="content.datarows.length > 0" class="table-bordered table table-striped pull-right"
               ng-table="tableParams">
            <tbody>
                <tr  ng-repeat="row in content.datarows">
                    <td data-title="'Facility Name'">{{ row.facilityname }}</td>
                    <td data-title="'RnR Type'">{{ row.rnrtype }}</td>
                </tr>
            </tbody>

        </table>


    </div>

</div>