<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:annotation-config/>
  <context:spring-configured/>

  <import resource="classpath*:applicationContext-db.xml"/>
  <import resource="classpath*:applicationContext-core.xml"/>

  <context:component-scan base-package="org.openlmis.report"/>
    <!-- Integrates with report module -->
    <bean id="reportManager" class="org.openlmis.report.ReportManager">
        <constructor-arg index="0">
            <ref bean="reportAccessAuthorizer"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="jasperReportExporter"/>
        </constructor-arg>
        <constructor-arg index="2">
            <list><!-- list of open-lmis reports -->
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="facilities"/>
                    <property name="template" value="facilities.jasper"/>
                    <property name="reportDataProvider" ref="facilityReportDataProvider"/>
                    <property name="id" value="RP-FAL-ALL"/>
                    <property name="name" value="All facilities"/>
                    <property name="title" value="List of facilities"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="mailing-labels"/>
                    <property name="template" value="mailing-labels.jasper"/>
                    <property name="reportDataProvider" ref="mailingLabelReportDataProvider"/>
                    <property name="id" value="RP-MAL-LAB"/>
                    <property name="name" value="Mailing Labels"/>
                    <property name="title" value=" Mailing Labels"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="consumption"/>
                    <property name="template" value="consumption.jasper"/>
                    <property name="reportDataProvider" ref="consumptionReportDataProvider"/>
                    <property name="id" value="RP-CON"/>
                    <property name="name" value="Consumption Report"/>
                    <property name="title" value="Consumption Report"/>
                    <property name="version" value="1.0"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>