<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This program was produced for the U.S. Agency for International Development. It was prepared by the USAID | DELIVER PROJECT, Task Order 4. It is part of a project which utilizes code originally licensed under the terms of the Mozilla Public License (MPL) v2 and therefore is licensed under MPL v2 or later.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the Mozilla Public License as published by the Mozilla Foundation, either version 2 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the Mozilla Public License for more details.
  ~
  ~ You should have received a copy of the Mozilla Public License along with this program. If not, see http://www.mozilla.org/MPL/
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:annotation-config/>
  <context:spring-configured/>

  <import resource="classpath*:applicationContext-db.xml"/>
  <import resource="classpath*:applicationContext-core.xml"/>

  <context:component-scan base-package="org.openlmis.report"/>
    <!-- Integrates with report module -->
    <bean id="reportManager" class="org.openlmis.report.ReportManager">
        <constructor-arg index="0">
            <ref bean="reportAccessAuthorizer"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="jasperReportExporter"/>
        </constructor-arg>
        <constructor-arg index="2">
            <list><!-- list of open-lmis reports -->
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="facilities"/>
                    <property name="template" value="facility-report.jasper"/>
                    <property name="reportDataProvider" ref="facilityReportDataProvider"/>
                    <property name="id" value="RP-FAL-ALL"/>
                    <property name="name" value="Facility list report"/>
                    <property name="title" value="List of facilities"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="mailinglabels"/>
                    <property name="template" value="mailing-labels.jasper"/>
                    <property name="reportDataProvider" ref="mailingLabelReportDataProvider"/>
                    <property name="id" value="RP-MAL-LAB"/>
                    <property name="name" value="Facility List: Lists facilities with contact addresses"/>
                    <property name="title" value="Facility List"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="facility_mailing_list"/>
                    <property name="template" value="facility-mailing-list.jasper"/>
                    <property name="reportDataProvider" ref="mailingLabelReportDataProvider"/>
                    <property name="id" value="RP-MAL-LAB"/>
                    <property name="name" value="Mailing Labels: Lists facilities with contact addresses"/>
                    <property name="title" value=" Mailing Labels"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="summary"/>
                    <property name="template" value="summary-report.jasper"/>
                    <property name="reportDataProvider" ref="summaryReportDataProvider"/>
                    <property name="id" value="RP-Summary"/>
                    <property name="name" value="Summary Report"/>
                    <property name="title" value="Summary Report"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="non_reporting"/>
                    <property name="template" value="non-reporting-facilities.jasper"/>
                    <property name="reportDataProvider" ref="nonReportingFacilityReportDataProvider"/>
                    <property name="id" value="RP-Non-Reporting"/>
                    <property name="name" value="Non Reporting Facilities"/>
                    <property name="title" value="Non Reporting Facilities"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="average_consumption"/>
                    <property name="template" value="average-consumption.jasper"/>
                    <property name="reportDataProvider" ref="averageConsumptionReportDataProvider"/>
                    <property name="id" value="RP-Avg-Consumption-Reporting"/>
                    <property name="name" value="Average Consumption Reporting"/>
                    <property name="title" value="Consumption Averages By Product"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="adjustment_summary"/>
                    <property name="template" value="adjustment-summary.jasper"/>
                    <property name="reportDataProvider" ref="adjustmentSummaryReportDataProvider"/>
                    <property name="id" value="RP-Adjustment-Summary-Reporting"/>
                    <property name="name" value="Adjustment Summary Reporting"/>
                    <property name="title" value="Adjustment Summary By Product"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="stocked_out"/>
                    <property name="template" value="stocked-out-facilities.jasper"/>
                    <property name="reportDataProvider" ref="stockedOutReportDataProvider"/>
                    <property name="id" value="RP-Stocked_Out_Facilities"/>
                    <property name="name" value="Stocked Out Facilities"/>
                    <property name="title" value="Stocked Out Facilities"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="district_consumption"/>
                    <property name="template" value="district-consumption.jasper"/>
                    <property name="reportDataProvider" ref="districtConsumptionReportDataProvider"/>
                    <property name="id" value="RP-District_Consumption_Comparison"/>
                    <property name="name" value="District Consumption Comparison"/>
                    <property name="title" value="Summary District Consumption Comparison by Product"/>
                    <property name="version" value="1.0"/>
                </bean>

                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="order_summary"/>
                    <property name="template" value="order-summary-report.jasper"/>
                    <property name="reportDataProvider" ref="orderSummaryReportDataProvider"/>
                    <property name="id" value="RP-View_Orders"/>
                    <property name="name" value="View Orders"/>
                    <property name="title" value="Issue Voucher for Medical Supplies (PH81-N/E)"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="supply_status"/>
                    <property name="template" value="supply-status-report.jasper"/>
                    <property name="reportDataProvider" ref="supplyStatusReportDataProvider"/>
                    <property name="id" value="RP-Supply-Status"/>
                    <property name="name" value="Supply Status Report"/>
                    <property name="title" value="Supply Status by Facility Report"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="stock_imbalance"/>
                    <property name="template" value="stock_imbalance_report.jasper"/>
                    <property name="reportDataProvider" ref="stockImbalanceReportDataProvider"/>
                    <property name="id" value="RP-Stock-Imbalance"/>
                    <property name="name" value="Stock Imbalances by Facility Report"/>
                    <property name="title" value="Stock Imbalances by Facility"/>
                    <property name="version" value="1.0"/>
                </bean>
                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="rnr_feedback"/>
                    <property name="template" value="rnr-feedback-report.jasper"/>
                    <property name="reportDataProvider" ref="rnRFeedbackReportDataProvider"/>
                    <property name="id" value="RP-RnR-Feedback"/>
                    <property name="name" value="Report and Requisition Feedback Report"/>
                    <property name="title" value="Report and Requisition Feedback"/>
                    <property name="version" value="1.0"/>
                </bean>

                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="order_fill_rate"/>
                    <property name="template" value="order-fill-rate.jasper"/>
                    <property name="reportDataProvider" ref="orderFillRateReportDataProvider"/>
                    <property name="id" value="RP-Order-Fill-Rate"/>
                    <property name="name" value="Order Fill Rate by Facility Report"/>
                    <property name="title" value="Order Fill Rate by Facility"/>
                    <property name="version" value="1.0"/>
                </bean>

                <bean class="org.openlmis.report.Report">
                    <property name="reportKey" value="regimen_summary"/>
                    <property name="template" value="regimen-summary.jasper"/>
                    <property name="reportDataProvider" ref="regimenSummaryReportDataProvider"/>
                    <property name="id" value="RP-Regimen-Summary-report"/>
                    <property name="name" value="National Summary Report by Regimen"/>
                    <property name="title" value="National Summary Report by Regimen"/>
                    <property name="version" value="1.0"/>
                </bean>



            </list>
        </constructor-arg>
    </bean>

</beans>