<div>
  <h2>Configure Report and Requisition Template</h2>
  <div class="info-box">
    <p><strong>Program:</strong> {{ $parent.program.name }} <a href="/public/pages/admin/rnr-template/create.html">(Change)</a></p>
  </div>

  <div class="rnr-template-head">
    <span class="tpl-visible">Show</span>
    <span class="tpl-indicator">&nbsp;</span>
    <span class="tpl-label">Label</span>
    <span class="tpl-source">Source</span>
  </div>
  <form name="configureRnRTemplateForm" ng-submit="createProgramRnrTemplate()">
    <div class="rnr-template-columns">
      <ul ui-sortable ui-options="{update: update, handle: '.drag-handle', placeholder: 'sortable-placeholder', containment: '.content'}" ng-model="rnrColumns" id="sortable">
        <li id="{{rnrColumn.indicator}}" ng-repeat="rnrColumn in rnrColumns">
         <div class="drag-handle"></div>
        <span class="tpl-visible">
            <input type="checkbox" ng-model="rnrColumn.visible" ng-click="update()" ng-disabled="rnrColumn.mandatory"/>
        </span>
        <span class="tpl-indicator">
          <div class="indicator">{{ rnrColumn.indicator }}</div>
        </span>
          <input type="hidden" ng-model="rnrColumn.id" value="{{ rnrColumn.id }}"/>
        <span class="tpl-label">
            <input name="label" type="text" ng-model="rnrColumn.label" value="{{ rnrColumn.label }}" required/>
          <span class="col-desc">
            {{ rnrColumn.description }}
          </span>
        </span>
        <input type="hidden" class="rnr-column-position" ng-model="rnrColumn.position" value="{{ rnrColumn.position }}"/>
        <span class="tpl-source">
            <span ng-show="rnrColumn.sourceConfigurable">
                <select ng-model="rnrColumn.source.code" ng-options="c.code as c.description for c in sources" ng-change= "setArithmeticValidationMessageShown()">
                </select>
            </span>
            <span ng-hide="rnrColumn.sourceConfigurable">
                {{ rnrColumn.source.description}}
            </span>
            <br/>
            <a href="javascript:void(0);">{{ rnrColumn.formula }}</a>
        </span>
        <span class="tpl-error" ng-show="errorMap[rnrColumn.name]">
            <div class="alert alert-error">
            {{errorMap[rnrColumn.name]}}
            </div>
        </span>
        </li>
      </ul>
    </div>

    <div class="alert alert-info arithmetic-valid-msg" ng-show="arithmeticValidationMessageShown">
      Total Quantity Consumed (C) and Stock On Hand (E) are configured as user inputs. Validation of inputs (C = A + B +/- D -E) is <strong>{{arithmeticValidationStatusLabel}}</strong>.
      <a href="javascript:void(0);" class="btn btn-primary btn-mini pull-right" ng-click= "toggleValidateFormulaFlag()">Turn {{arithmeticValidationToggleLabel}}</a>
    </div>

    <div class="alert alert-error" id="saveErrorMsgDiv" ng-model="error" ng-show="error">
      {{error}}
    </div>
    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-model="message" ng-show="message">
      {{message}}
    </div>

    <input type="submit" class="btn" value="Save" />
  </form>
</div>
