<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div tab-scroll>
  <h2 openlmis-message="requisition.template.header"></h2>

  <div class="info-box">
    <p><strong openlmis-message="template.programName"></strong> {{program.name}} <a ng-href="{{selectProgramUrl}}" openlmis-message="template.change"></a>
    </p>
  </div>

  <div class="rnr-template-head">
    <span class="tpl-visible" openlmis-message="template.header.display"></span>
    <span class="tpl-indicator">&nbsp;</span>
    <span class="tpl-label" openlmis-message="template.header.label"></span>
    <span class="tpl-source" openlmis-message="template.header.source"></span>
  </div>
  <form name="configureRnRTemplateForm" ng-submit="save()">
    <div class="rnr-template-columns">
      <ul ui-sortable ng-model="rnrColumns" id="sortable">
        <li id="{{rnrColumn.name}}" ng-repeat="rnrColumn in rnrColumns">
          <div class="drag-handle"></div>
          <span class="tpl-visible">
            <input type="checkbox" ng-model="rnrColumn.visible" ng-click="setArithmeticValidationMessageShown()" ng-disabled="rnrColumn.mandatory"/>
          </span>
          <span class="tpl-indicator">
            <div class="indicator" openlmis-message="rnrColumn.indicator"></div>
          </span>
          <span class="tpl-label">
            <input name="label" type="text" ng-model="rnrColumn.label" required maxlength="200"/>
            <span class="col-desc" openlmis-message="rnrColumn.description"></span>
          </span>
          <span class="tpl-source">
            <span ng-show="rnrColumn.sourceConfigurable">
              <select ng-model="rnrColumn.source.code" ng-options="c.code as c.description for c in sources"
                      ng-change="setArithmeticValidationMessageShown()">
              </select>
            </span>
            <span ng-hide="rnrColumn.sourceConfigurable" openlmis-message="rnrColumn.source.description"></span>
            <br/>
            <a class="rnr-column-formula" href="" ng-show="rnrColumn.formula" openlmis-message="rnrColumn.formula"></a>
          </span>
          <span class="tpl-error" ng-show="errorMap[rnrColumn.name]">
            <div class="alert alert-error" ng-bind="errorMap[rnrColumn.name]"></div>
          </span>
        </li>
      </ul>
    </div>

    <div class="alert alert-info arithmetic-valid-msg" ng-show="arithmeticValidationMessageShown">
      <div class="row-fluid">
        <div class="span9">
            <span openlmis-message="message.arithmeticValidation.status"></span>
            <strong openlmis-message="arithmeticValidationStatusLabel"></strong>.
            <span ng-show="arithmeticValidationMessage" openlmis-message="arithmeticValidationMessage"></span>
        </div>
        <div class="span3">
          <a href="" class="btn btn-primary btn-mini pull-right"
             ng-click="toggleValidateFormulaFlag()" openlmis-message="message.arithmeticValidation.toggle|arithmeticValidationToggleLabel"></a>
        </div>
      </div>
    </div>


    <div form-toolbar id="action_buttons" class="action-buttons">
      <div class="form-cell button-row">
        <input type="submit" class="btn btn-primary save-button" openlmis-message="button.save"/>
        <a ng-href="{{selectProgramUrl}}" class="btn btn-cancel cancel-button" openlmis-message="button.cancel"></a>
      </div>
      <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
    </div>
  </form>
</div>
