
<div class="row-fluid" style="margin-top: 5px" ng-controller="AlertsController">
    <div class="span6">
        <table class="table-bordered table table-striped" ng-show="dataRows.alert == undefined || dataRows.alert.length == 0">
            <thead>
                <tr class="gradient-header">
                    <th openlmis-message="title.alerts" style="text-align: center"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No data to show under selected filters</td>
                </tr>
            </tbody>

        </table>
        <div ng-show="dataRows.alert.length > 0">
            <table ng-show="dataRows.alert.length > 0" class="table-bordered table table-striped pull-right"
                   ng-table="alertTableParams"  >
                <tbody >
                <tr ng-repeat="alert in dataRows.alert" >
                    <td data-title="Alerts">
                        {{alert.description}}
                    </td>
                    <td><a href="" ng-click="showAlertDetails(alert.id, alert.category)">View details</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="span6">
        <table class="table table-bordered" ng-show="dataRows.stock == undefined || dataRows.stock.length == 0">
                <thead>
                    <tr class="gradient-header" >
                        <th openlmis-message="title.stock.outs" style="text-align: center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No data to show under selected filters</td>
                    </tr>
                </tbody>

        </table>
        <div ng-show="dataRows.stock.length > 0">
                <table ng-show="dataRows.stock.length > 0" class="table-bordered table table-striped pull-right"
                       ng-table="stockOutsTableParams"  >
                    <tbody >
                    <tr ng-repeat="stock in dataRows.stock" >
                        <td data-title="'Stock outs'">
                            {{stock.description}}
                        </td>
                        <td><a href="" ng-click="showAlertDetails(stock.id, stock.category)">View details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span3"></div>
    <div class="span3"></div>
    <div class="span3"></div>
</div>


