
    <div class="app-form" style="padding: 5px;">
        <form  name="filterForm" novalidate>
            <div >
                <div class="form-cell horizontalFilters" >
                    <label class="labels">Program</label>

                    <div class="form-fields">
                        <select ui-select2 style="width:160px;" class="large-input" name="program"  ng-model="formFilter.programId" ng-change="filterProductsByProgram()">
                            <option ng-repeat="option in programs" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-cell horizontalFilters" >
                    <label class="labels">Schedule </label>

                    <div class="form-fields">
                        <select ui-select2 style="width:160px;" class="large-input" name="schedule"  ng-model="formFilter.scheduleId" ng-change="changeSchedule()">
                            <option  ng-repeat="option in schedules" value="{{ option.id }}">{{ option.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-cell horizontalFilters">
                    <label class="labels">Year </label>

                    <div class="form-field">
                        <select ui-select2 style="width:100px;" class="input-small" ng-required="true"  name="year" id="startYear" ng-model="formFilter.year" ng-change="changeScheduleByYear()">
                            <option ng-repeat="year in startYears" value="{{year}}">{{year}}</option>
                        </select>

                    </div>
                </div>

                <div class="form-cell horizontalFilters">
                    <label class="labels">Period</label>

                    <div class="form-field">
                        <select ui-select2 style="width:180px;" ng-required="true"  name="period" ng-model="formFilter.periodId" ng-change="processPeriodFilter()">
                            <option ng-repeat="option in periods" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-cell horizontalFilters" >
                    <label class="labels">Requisition Groups</label>

                    <div class="form-fields">
                        <select ui-select2 style="width:170px;" name="requisitionGroup"  ng-model="formFilter.rgroupId" ng-change="loadFacilitiesByRequisition()">
                            <option ng-repeat="option in requisitionGroups" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-cell horizontalFilters" ng-if="showStockStatusFilter">
                    <label class="labels">Status</label>
                    <div class="form-fields">
                        <select ui-select2 style="width:140px;" name="status"  ng-model="formFilter.status" ng-change="processStockStatusFilter()">
                            <option ng-repeat="option in stockStatusMapping" value="{{option.value}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-cell horizontalFilters" ng-show="showProductsFilter" >
                    <label class="labels">Product<span class="label-required">*</span></label>

                    <div class="form-field">
                        <select ui-select2="productSelectOption" style="width:250px;" name="product" class="input-sm"  ng-model="formFilter.productIdList" ng-change="processProductsFilter()" openlmis-message="placeholder.select.product"
                                multiple="multiple" >
                            <option  ng-repeat="option in products" value="{{ option.id }}">{{ option.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </form>
    </div>
