<div class="clearfix"></div>
<div class="dashboard-nav" ng-controller="DashboardMenuController">
    <ul id="dashboard-sub-tabs" class="clearfix">
        <li ng-repeat="tab in dashboardTabs" ng-class="{'selected': currentTab == tab.name}">
            <a ng-href="{{tab.content}}" style="display: inline-block;">
                <span openlmis-message="{{tab.header}}"></span>
            </a>
            <i ng-if="tab.closable" class="icon-remove-sign" ng-click="closeTab(tab.name)"></i>

        </li>
    </ul>
</div>
<div class="clearfix"></div>
