<accordion>
    <accordion-group class="green-haze" is-open="formPanel.openPanel">
        <accordion-heading>
            <div class="accordion-title">
                <div class="caption">
                    <i class="flaticon-filter"></i> <span openlmis-message="title.filter.form"></span>
                </div>
                <div class="tools">
                    <i  ng-class="{'icon-minus-sign': formPanel.openPanel, 'icon-plus-sign': !formPanel.openPanel}"></i>
                </div>
            </div>
        </accordion-heading>

        <div>
            <form  name="filterForm" novalidate>
                <div >
                    <div class="form-cell horizontalFilters" >
                        <label class="labels" openlmis-message="label.program"><span class="label-required">*</span></label>

                        <div class="form-fields">
                            <select ui-select2 style="width:160px;" class="large-input" name="program"  ng-model="formFilter.programId" ng-change="filterProductsByProgram()">
                                <option ng-repeat="option in programs" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-cell horizontalFilters" ng-if="!hideScheduleFilter">
                        <label class="labels" openlmis-message="label.schedule"></label>

                        <div class="form-fields">
                            <select ui-select2 style="width:160px;" class="large-input" name="schedule"  ng-model="formFilter.scheduleId" ng-change="changeSchedule()">
                                <option  ng-repeat="option in schedules" value="{{ option.id }}">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-cell horizontalFilters" ng-if="!hideYearFilter">
                        <label class="labels" openlmis-message="label.year"></label>

                        <div class="form-field">
                            <select ui-select2 style="width:100px;" class="input-small" ng-required="true"  name="year" id="startYear" ng-model="formFilter.year" ng-change="changeScheduleByYear()">
                                <option ng-repeat="year in startYears" value="{{year}}">{{year}}</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-cell horizontalFilters" ng-if="!hidePeriodFilter">
                        <label class="labels" openlmis-message="label.period"></label>

                        <div class="form-field">
                            <select ui-select2 style="width:180px;" ng-required="true"  name="period" ng-model="formFilter.periodId" ng-change="processPeriodFilter()">
                                <option ng-repeat="option in periods" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="showStockStatusFilter">
                        <div class="form-cell horizontalFilters" >
                            <label class="labels" openlmis-message="label.status"></label>
                            <div class="form-fields">
                                <select ui-select2 style="width:140px;" name="status"  ng-model="formFilter.status" ng-change="processStockStatusFilter()">
                                    <option ng-repeat="option in stockStatusMapping" value="{{option.value}}">{{option.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-cell horizontalFilters" >
                        <label class="labels" openlmis-message="label.geographic.zones"></label>

                        <div class="form-fields">
                            <select class="input-large"  ng-change="processZoneFilter();" ng-model="formFilter.zoneId">
                                <option selected="selected" value="{{zones.id}}" ng-model="formFilter.zoneId">-- National --</option>
                                <optgroup ng-repeat="value in zones.children"  label="{{value.name}}">
                                    <option value="{{value.id}}"><b class="green">All of {{value.name}}</b></option>

                                    <option ng-repeat-start="v in value.children" value="{{v.id}}">{{v.name}}</option>
                                    <option ng-repeat-end ng-repeat="d in v.children" value="{{d.id}}"> &nbsp; &nbsp; {{d.name}}</option>

                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="form-cell horizontalFilters" ng-show="showProductsFilter" >
                        <label class="labels" openlmis-message="label.product"><span class="label-required">*</span></label>

                        <div class="form-field">
                            <select ui-select2="productSelectOption" style="width:250px;" name="product" class="input-sm"  ng-model="formFilter.productIdList" ng-change="processProductsFilter()" openlmis-message="placeholder.select.product"
                                    multiple="multiple" >
                                <option  ng-repeat="option in products" value="{{ option.id }}">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-cell horizontalFilters" ng-show="showFacilitiesFilter" >
                        <label class="labels" openlmis-message="label.facility"></label>

                        <div class="form-field">
                            <select ui-select2 style="width:200px;" id="facility-name"  name="facility" ng-model="formFilter.facilityId"  required="true">
                                <option  ng-repeat="option in allFacilities" value="{{ option.id }}">{{ option.code }} - {{ option.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </form>
        </div>

    </accordion-group>
</accordion>

