<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div id="{{dialogOptions.id}}" class="dialog">
  <div class="modal-header"><h3>{{dialogOptions.header}}</h3></div>
  <div class="modal-body">
    <p>{{dialogOptions.body}}</p>
  </div>
  <div class="modal-footer">
    <a id="button_{{dialogOptions.ok.label}}" href="" class="btn btn-primary" ng-click="dialogClose(dialogOptions.ok.value)">{{dialogOptions.ok.label}}</a>
    <a id="button_{{dialogOptions.cancel.label}}" href="" class="btn btn-cancel" data-dismiss="modal" ng-click="dialogClose(dialogOptions.cancel.value)">{{dialogOptions.cancel.label}}</a>
  </div>
</div>
