<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div class="login-page">
    <div class="login-container">
        <h1>Logistics Management Information Systems</h1>

      <div class="forgot-password-form">
        <h2>Password Changed Successfully!</h2>
          <div class="form-desc">
            Please Sign In with your new password.
          </div>
        <form>
          <fieldset>
            <div class="login-form-row">
              <input class="btn btn-primary" type="submit" value="Sign in" ng-click="goToLoginPage()"/>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
</div>
