<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div class="login-page">
  <div class="login-container">
    <div class="modal-login-header">
      <h1 openlmis-message="label.app.header"></h1>
      <ng-include src="'/public/pages/locale-list.html'"></ng-include>
    </div>
    <div class="forgot-password-form">
        <h2 openlmis-message="msg.password.change.success"></h2>
          <div class="form-desc" openlmis-message="msg.sign.in">
          </div>
        <form>
          <fieldset>
            <div class="login-form-row">
              <input class="btn btn-primary" type="submit" openlmis-message="button.sign.in" ng-click="goToLoginPage()"/>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
</div>
