<div class="app-form" ng-controller="StockModuleController">
    <div class='form-group'>
        <h3 >StockItems</h3>
        <!--SSCC-->
        <div class='form-row clearfix'>
            <table class="table-bordered table table-striped ng-scope" id="description_table">
                <thead>
                <tr><th>GTN</th><th>Description</th><th>Lot</th><th>Expiry</th><th>Boxes</th></tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
</div>
</div>

