<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <mvc:annotation-driven/>
    <context:annotation-config/>
    <context:spring-configured/>

    <import resource="classpath*:applicationContext-core.xml"/>

    <context:component-scan base-package="org.openlmis.odkapi"/>

    <bean id="odkSubmissionService" class="org.openlmis.odkapi.service.ODKSubmissionService" />
    <bean id="odkxFormService" class="org.openlmis.odkapi.service.ODKXFormService" />
    <bean id="dateUtil" class="org.openlmis.odkapi.util.DateUtil" />
    <bean id="odkAccountService" class="org.openlmis.odkapi.service.ODKAccountService" />

    <bean id="odkAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg>
            <list>
                <ref bean="odkAuthProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="odkAuthProvider" class="org.openlmis.odkapi.authentication.ODKAuthenticationProvider" />


</beans>