<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div ng-controller="SchedulePeriodController" ng-show="schedule">
  <h2>
    Schedule: {{schedule.name}}
    <a href="#/list" class="pull-right btn btn-primary">Back to Schedules</a>
  </h2>

  <form id="createPeriodForm" name="createPeriodForm" ng-submit="createPeriod()" novalidate>
    <div class="app-form">
      <div class="form-group">
        <h3>New Period</h3>

        <div class="form-row clearfix">
          <div class="form-cell">
            <label>Name <span class="label-required">*</span>
            </label>
            <div class="form-field">
              <input name="name" id="name" type="text" ng-model="newPeriod.name" maxlength="50" ng-required="true"/>
              <span class="field-error" ng-show="createPeriodForm.name.$error.required && showErrorForCreate">Please fill this value</span>
            </div>
          </div>
          <div class="form-cell">
            <label>Description
            </label>
            <div class="form-field">
              <input name="description" id="description" type="text" ng-model="newPeriod.description"
                     maxlength="250"/>
            </div>
          </div>
        </div>
        <div class="form-row clearfix">
          <div class="form-cell">
            <label>Start Date(dd/mm/yyyy) <span class="label-required">*</span>
            </label>
            <div class="form-field">
              <input name="startDate" id="startDate" type="text" ui-date="{dateFormat: 'dd/mm/yy', changeYear: true}" readonly ng-model="newPeriod.startDate"
                     value="{{newPeriod.startDate | date:'dd/MM/yyyy'}}" ng-required="true" ng-change="blurDateFields();refreshEndDateOffset(newPeriod.startDate.getTime())" ng-disabled="periodList.length>0" />

              <span class="field-error" ng-show="createPeriodForm.startDate.$error.required && showErrorForCreate">Please fill this value</span>
            </div>
          </div>
          <div class="form-cell">
            <label>End Date(dd/mm/yyyy) <span class="label-required">*</span>
            </label>
            <div class="form-field">
              <input name="endDate" id="endDate" type="text" ui-date="{minDate:endDateOffset, dateFormat: 'dd/mm/yy', changeYear: true}" readonly ng-model="newPeriod.endDate"
                     value="{{newPeriod.endDate | date:'dd/MM/yyyy'}}" ng-required="true" ng-change="blurDateFields()" ng-disabled="!newPeriod.startDate"/>

              <span class="field-error" ng-show="createPeriodForm.endDate.$error.required && showErrorForCreate">Please fill this value</span>
            </div>
          </div>
        </div>
        <div class="form-row clearfix">
          <div class="form-cell">Total Days:
            <span class="cell-text" ng-show="calculateDays(newPeriod.startDate, newPeriod.endDate)+1">{{calculateDays(newPeriod.startDate, newPeriod.endDate)}}</span>
          </div>
          <div class="form-cell">Number Of Months:
            <span class="cell-text" ng-show="calculateMonths()" ng-model="newPeriod.numberOfMonths">{{calculateMonths()}}</span>
          </div>
        </div>
        <div class="form-cell button-row">
          <input type="submit" class="btn btn-primary" value="Add"/>
        </div>
      </div>
    </div>
  </form>

  <span>
    <div class="alert alert-error" id="saveFailMessage"  ng-bind="error" ng-show="error"/>
    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
  </span>

  <div>
    <h2>Periods</h2>
    <div class="row-fluid schedule-header">
      <div class="span1">&nbsp;</div>
      <div class="span1">Name</div>
      <div class="span2">Description</div>
      <div class="span2">Start date</div>
      <div class="span2">End date</div>
      <div class="span1">Total days</div>
      <div class="span2">Number of months</div>
      <div class="span1">&nbsp;</div>
    </div>
    <div ng-repeat="period in periodList" class="row-fluid schedule-row">
      <div class="span1">&nbsp;</div>
      <div class="span1">{{period.name}}</div>
      <div class="span2">{{period.description}}</div>
      <div class="span2">{{period.startDate | date:'dd/MM/yyyy'}}</div>
      <div class="span2">{{period.endDate | date:'dd/MM/yyyy'}}</div>
      <div class="span1">{{calculateDays(period.startDate, period.endDate)}}</div>
      <div class="span2">{{period.numberOfMonths}}</div>
      <div class="span1">
        <input ng-show="showDeleteButton($index)" type="button" ng-click="deletePeriod(period.id)" class="btn btn-danger btn btn-mini" value="Delete"/>
      </div>
    </div>

  </div>

</div>
