<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy/>
    <task:annotation-driven/>
    <context:component-scan base-package="org.openlmis.web"/>


    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

        <property name="locations">
            <list>
                <value>classpath:/postgresql.properties</value>
                <value>classpath:/default.properties</value>
                <value>classpath:/messages.properties</value>
                <value>classpath:${env}/app.properties</value>
            </list>
        </property>

        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="systemPropertiesModeName">
            <value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
    </bean>

    <import resource="classpath:/springSecurityContext.xml"/>
    <import resource="classpath:/applicationContext-authentication.xml"/>
    <import resource="classpath:/applicationContext-requisition.xml"/>
    <import resource="classpath:/applicationContext-core.xml"/>
    <import resource="classpath:/applicationContext-upload.xml"/>


    <bean id="userAuthenticationProvider" class="org.openlmis.authentication.web.UserAuthenticationProvider"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <mvc:resources mapping="/public/**" location="/public/"/>
    <mvc:resources mapping="/error/**" location="/public/"/>

    <mvc:interceptors>
        <bean id="noCacheInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
            <property name="cacheSeconds" value="0"/>
            <property name="useExpiresHeader" value="true"/>
            <property name="useCacheControlHeader" value="true"/>
            <property name="useCacheControlNoStore" value="true"/>
            <property name="cacheMappings">
                <props>
                    <prop key="/public/**">${public.pages.cache.duration}</prop>
                </props>
            </property>
        </bean>
    </mvc:interceptors>


    <bean id="uploadBeansMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="product">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Products"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.Product</value>
                        </property>
                        <property name="recordHandler" ref="productPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="facility">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Facilities"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.Facility</value>
                        </property>
                        <property name="recordHandler" ref="facilityPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="programSupported">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Programs supported by facilities"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramSupported</value>
                        </property>
                        <property name="recordHandler" ref="programSupportedPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="supervisoryNode">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Supervisory Nodes"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.SupervisoryNode</value>
                        </property>
                        <property name="recordHandler" ref="supervisoryNodeHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroup">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Requisition Groups"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroup</value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroupProgramSchedule">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Map Requisition Groups to Programs + Schedule"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroupProgramSchedule
                            </value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupProgramScheduleHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroupMember">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Requisition Group Members"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroupMember</value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupMemberHandler"/>
                    </bean>
                </entry>
                <entry key="programProduct">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Program Product"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramProduct</value>
                        </property>
                        <property name="recordHandler" ref="programProductPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="supplyLine">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Supply Lines"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.SupplyLine</value>
                        </property>
                        <property name="recordHandler" ref="supplyLineHandler"/>
                    </bean>
                </entry>
                <entry key="user">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Users"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.User</value>
                        </property>
                        <property name="recordHandler" ref="userPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="facilityApprovedProduct">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Facility Approved Products"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.FacilityApprovedProduct</value>
                        </property>
                        <property name="recordHandler" ref="facilityApprovedProductPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="programProductPrice">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Program Product Price"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramProductPrice</value>
                        </property>
                        <property name="recordHandler" ref="programProductPricePersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="productCategory">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Product Category"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProductCategory</value>
                        </property>
                        <property name="recordHandler" ref="productCategoryPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="GeographicZone">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="Geographic Zones"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.GeographicZone</value>
                        </property>
                        <property name="recordHandler" ref="geographicZonePersistenceHandler"/>
                    </bean>
                </entry>
            </map>
        </constructor-arg>
    </bean>

</beans>