<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
      ">

    <context:annotation-config  />
    <mvc:annotation-driven  />
    <aop:aspectj-autoproxy expose-proxy="false" />


    <bean class="org.openlmis.config.MySwaggerConfig"></bean>

    <context:component-scan base-package="org.openlmis.web" />

    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:/default.properties</value>
                <value>classpath:/app.properties</value>
                <value>classpath:/database-config.properties</value>
            </list>
        </property>

        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="systemPropertiesModeName">
            <value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
    </bean>


    <bean id="localeChangeInterceptor"
          class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="locale"/>
    </bean>

    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="lang"/>
        <property name="defaultLocale" value="${defaultLocale}"/>
        <property name="cookieMaxAge" value="0x7fffffff"/>
    </bean>

    <import resource="classpath:/springSecurityContext.xml"/>
    <import resource="classpath:/applicationContext-authentication.xml"/>
    <import resource="classpath:/applicationContext-core.xml"/>
    <import resource="classpath:/applicationContext-restapi.xml"/>
    <import resource="classpath:/applicationContext-shipment.xml"/>
    <import resource="classpath:/applicationContext-reporting.xml"/>
    <import resource="classpath:/applicationContext-report.xml"/>
    <import resource="classpath:/applicationContext-distribution.xml"/>
    <import resource="classpath:/applicationContext-equipment.xml" />
    <import resource="classpath:/applicationContext-help.xml" />
    <import resource="classpath:/applicationContext-demographics.xml"/>
    <import resource="classpath:/applicationContext-vaccine.xml" />
    <import resource="classpath:/applicationContext-stock-management.xml" />

    <bean id="userAuthenticationProvider" class="org.openlmis.authentication.web.UserAuthenticationProvider"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <mvc:resources mapping="/public/**" location="/public/"/>
    <mvc:resources mapping="/error/**" location="/public/"/>
    <mvc:resources mapping="/favicon.ico" location="/"/>

    <mvc:interceptors>
        <bean id="noCacheInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
            <property name="cacheSeconds" value="0"/>
            <property name="useExpiresHeader" value="true"/>
            <property name="useCacheControlHeader" value="true"/>
            <property name="useCacheControlNoStore" value="true"/>
            <property name="cacheMappings">
                <props>
                    <prop key="/public/**">${public.pages.cache.duration}</prop>
                </props>
            </property>
        </bean>
        <mvc:interceptor>
            <mvc:mapping path="/changeLocale**"/>
            <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
                <property name="paramName" value="locale"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="uploadBeansMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="product">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.products"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.Product</value>
                        </property>
                        <property name="recordHandler" ref="productPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="facility">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="menu.header.facilities"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.Facility</value>
                        </property>
                        <property name="recordHandler" ref="facilityPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="programSupported">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.program.supported.facilities"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramSupported</value>
                        </property>
                        <property name="recordHandler" ref="programSupportedPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="supervisoryNode">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.supervisory.nodes"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.SupervisoryNode</value>
                        </property>
                        <property name="recordHandler" ref="supervisoryNodeHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroup">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.requisition.group"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroup</value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroupProgramSchedule">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.map.program.schedule"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroupProgramSchedule
                            </value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupProgramScheduleHandler"/>
                    </bean>
                </entry>
                <entry key="requisitionGroupMember">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.requisition.group.member"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.RequisitionGroupMember</value>
                        </property>
                        <property name="recordHandler" ref="requisitionGroupMemberHandler"/>
                    </bean>
                </entry>
                <entry key="programProduct">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.program.products"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramProduct</value>
                        </property>
                        <property name="recordHandler" ref="programProductPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="supplyLine">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.supply.lines"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.SupplyLine</value>
                        </property>
                        <property name="recordHandler" ref="supplyLinePersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="user">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="menu.header.users"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.User</value>
                        </property>
                        <property name="recordHandler" ref="userPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="facilityTypeApprovedProduct">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.facility.approved.products"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.FacilityTypeApprovedProduct</value>
                        </property>
                        <property name="recordHandler" ref="facilityApprovedProductPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="programProductPrice">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.product.prices.program"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProgramProductPrice</value>
                        </property>
                        <property name="recordHandler" ref="programProductPricePersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="productCategory">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.product.category"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProductCategory</value>
                        </property>
                        <property name="recordHandler" ref="productCategoryPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="priceSchedule">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.price.schedule"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProductPriceSchedule</value>
                        </property>
                        <property name="recordHandler" ref="priceSchedulePersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="geographicZone">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.geographic.zones"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.GeographicZone</value>
                        </property>
                        <property name="recordHandler" ref="geographicZonePersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="productGroup">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.product.groups"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.ProductGroup</value>
                        </property>
                        <property name="recordHandler" ref="productGroupPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="deliveryZone">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.delivery.zones"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.DeliveryZone</value>
                        </property>
                        <property name="recordHandler" ref="deliveryZoneHandler"/>
                    </bean>
                </entry>
                <entry key="deliveryZoneProgramSchedule">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.map.delivery.zone.program.schedules"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.DeliveryZoneProgramSchedule</value>
                        </property>
                        <property name="recordHandler" ref="deliveryZoneProgramScheduleHandler"/>
                    </bean>
                </entry>
                <entry key="deliveryZoneMember">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.delivery.zone.members"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.DeliveryZoneMember</value>
                        </property>
                        <property name="recordHandler" ref="deliveryZoneMemberHandler"/>
                    </bean>
                </entry>
                <entry key="deliveryZoneWarehouse">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.delivery.zone.warehouses"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.DeliveryZoneWarehouse</value>
                        </property>
                        <property name="recordHandler" ref="deliveryZoneWarehouseHandler"/>
                    </bean>
                </entry>
                <entry key="facilityFtpDetails">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.facility.ftp.details"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.FacilityFtpDetails</value>
                        </property>
                        <property name="recordHandler" ref="facilityFtpDetailsPersistenceHandler"/>
                    </bean>
                </entry>
                <entry key="stockAdjustmentReason">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.stock.adjustment.reason"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.StockAdjustmentReason</value>
                        </property>
                        <property name="recordHandler" ref="stockAdjustmentReasonHandler"/>
                    </bean>
                </entry>
                <entry key="stockAdjustmentReasonProgram">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.stock.adjustment.reason.program"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.core.domain.StockAdjustmentReasonProgram</value>
                        </property>
                        <property name="recordHandler" ref="stockAdjustmentReasonProgramHandler"/>
                    </bean>
                </entry>
                <entry key="facilityProgramProductISA">
                    <bean class="org.openlmis.web.model.UploadBean">
                        <property name="displayName" value="label.facility.program.product.isa"/>
                        <property name="importableClass">
                            <value type="java.lang.Class">org.openlmis.vaccine.dto.FacilityProgramProductISADTO</value>
                        </property>
                        <property name="recordHandler" ref="facilityProgramProductISAHandler"/>
                    </bean>
                </entry>
            </map>
        </constructor-arg>
    </bean>

</beans>