<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy/>


    <context:component-scan base-package="org.openlmis.web"/>

    <import resource="classpath:/applicationContext-logistics-web.xml"/>
    <import resource="classpath:/applicationContext-admin-web.xml"/>
    <import resource="classpath:/springSecurityContext.xml"/>
    <import resource="classpath:/applicationContext-authentication.xml"/>

    <bean id="userAuthenticationProvider" class="org.openlmis.web.authentication.UserAuthenticationProvider"/>
    <bean id="userAuthenticationSuccessHandler"
          class="org.openlmis.web.authentication.UserAuthenticationSuccessHandler"/>

    <mvc:resources mapping="/resources/**" location="/public/"/>

    <mvc:interceptors>
        <bean id="noCacheInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
            <property name="cacheSeconds" value="0"/>
            <property name="useExpiresHeader" value="true"/>
            <property name="useCacheControlHeader" value="true"/>
            <property name="useCacheControlNoStore" value="true"/>
            <property name="cacheMappings">
                <props>
                    <prop key="/resources/**">31556926</prop>
                </props>
            </property>
        </bean>
    </mvc:interceptors>

</beans>