<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                        ">

    <context:annotation-config/>
    <mvc:annotation-driven/>

    <global-method-security pre-post-annotations="enabled">
    </global-method-security>

    <context:component-scan base-package="org.openlmis.web.controller"/>
    <context:component-scan base-package="org.openlmis.web"/>

    <beans:bean id="restAuthenticationEntryPoint"
                class="org.openlmis.authentication.web.RestAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/public/pages/login.html"/>
    </beans:bean>

    <beans:bean id="openLmisAccessDeniedHandler" class="org.openlmis.authentication.web.OpenLmisAccessDeniedHandler"/>

    <http pattern="/rest-api/**" use-expressions="true" authentication-manager-ref="restAuthenticationManager">
        <intercept-url pattern="/rest-api/**" access="permitAll" requires-channel="any"/>
        <http-basic/>
    </http>

    <http use-expressions="true" auto-config="false" entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/j_spring_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="any"/>
        <intercept-url pattern="/favicon.ico" access="permitAll" requires-channel="any"/>
        <intercept-url pattern="/public/**" access="permitAll" requires-channel="any"/>

        <intercept-url pattern="/forgot-password*" access="permitAll" requires-channel="any"/>
        <intercept-url pattern="/user/validatePasswordResetToken/*" access="permitAll" requires-channel="any"/>
        <intercept-url pattern="/user/resetPassword/*" access="permitAll" requires-channel="any"/>
        <intercept-url pattern="/**" access="isAuthenticated()" requires-channel="any"/>

        <form-login login-page="/public/pages/login.html"
                    login-processing-url="/j_spring_security_check"
                    authentication-success-handler-ref="authenticationSuccessHandler"
                    authentication-failure-handler-ref="simpleUrlAuthenticationFailureHandler"/>
        <access-denied-handler ref="openLmisAccessDeniedHandler"/>
        <logout logout-success-url="/" invalidate-session="true" delete-cookies="true"/>
    </http>

    <beans:bean id="authenticationSuccessHandler"
                class="org.openlmis.authentication.web.UserAuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/user-context.json"/>
    </beans:bean>

    <beans:bean id="simpleUrlAuthenticationFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="useForward" value="true"/>
        <beans:property name="defaultFailureUrl" value="/authentication-error.json"/>
    </beans:bean>

    <authentication-manager>
        <authentication-provider ref="userAuthenticationProvider"/>
    </authentication-manager>


</beans:beans>