<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
  -->

<ng-include
  src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
<ng-include
  src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

<div class="facility-info" ng-init="facilityData = distribution.facilityDistributions[selectedFacilityId]">
<div id="coverageContainer" class="refrigerator-container" disable-form="{{facilityData.isDisabled()}}">
<h3>
  <span id="adultHeader" openlmis-message="label.coverage.adult"></span>
  <input id="adultCoverageApplyNRToAll" type="button" ng-click="applyNRAll()" class="pull-right btn"
         openlmis-message="button.apply.nr.all"/>
</h3>

<div id="adultCoverageTable" class="parent facility-distribution-form-table coverage-table">
<form auto-save="distribution" object-store="distributions">
<table class="table table-bordered" fixed-table-header>
<thead>
<tr>
  <th id="groupVaccinationLabel" openlmis-message="label.adult.group.vaccinations" rowspan="2" colspan="2"></th>
  <th id="targetGroupLabel" openlmis-message="label.coverage.target.Group" rowspan="2"></th>
  <th id="tetanusFirstLabel" openlmis-message="label.adult.tetanus.first" colspan="3" class="center-justified"></th>
  <th id="tetanusSecondFifthLabel" openlmis-message="label.adult.tetanus.second.fifth" colspan="3"
      class="center-justified"></th>
  <th id="totalTetanusLabel" openlmis-message="label.total.tetanus" rowspan="2"></th>
  <th id="coverageRateLabel" openlmis-message="label.coverage.rate" rowspan="2"></th>
  <th id="openedVialsLabel" openlmis-message="label.coverage.opened.vials" rowspan="2"></th>
  <th id="wastageRateLabel" openlmis-message="label.coverage.opened.vials.wastage.rate" rowspan="2"></th>
</tr>
<tr>
  <th id="healthCenter1Label" openlmis-message="label.coverage.health.center"></th>
  <th id="outreach1Label" openlmis-message="label.coverage.outreach"></th>
  <th id="total1Label" openlmis-message="label.total"></th>
  <th id="healthCenter2To5Label" openlmis-message="label.coverage.health.center"></th>
  <th id="outreach2To5Label" openlmis-message="label.coverage.outreach"></th>
  <th id="total2To5Label" openlmis-message="label.total"></th>
</tr>
</thead>
<tbody>
<tr ng-init="pregnantWomenCoverage = adultCoverageTargetGroupMap[categories.PREGNANT_WOMEN]">
  <td id="pregnantWomenLabel" openlmis-message="label.coverage.pregnant.women" colspan="2"></td>
  <td id="targetGroup_1" class="col-target-group">
    <span ng-bind="pregnantWomenCoverage.targetGroup"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter1_1" type="text" maxlength="7"
           ng-model="pregnantWomenCoverage.healthCenterTetanus1.value" ng-trim="false"
           class="right-justified" numeric-validator="positiveInteger"
           name="healthCenter1Nr_1"
           error-holder="pregnantWomenHealthCenterTetanus1Error"
           ng-class="{'required-error': !(pregnantWomenCoverage.healthCenterTetanus1.value ||
           pregnantWomenCoverage.healthCenterTetanus1.notRecorded)}"/>
    <span id="pregnantWomenHealthCenterTetanus1Error"
          class="rnr-form-error"
          openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter1Nr_1" type="checkbox"
           ng-model="pregnantWomenCoverage.healthCenterTetanus1.notRecorded"
           not-recorded/>
    <label for="healthCenter1Nr_1" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach1_1" type="text" maxlength="7"
           ng-model="pregnantWomenCoverage.outreachTetanus1.value" ng-trim="false"
           class="right-justified" name="outreach1Nr_1" numeric-validator="positiveInteger"
           error-holder="outreachTetanus1"
           ng-class="{'required-error': !(pregnantWomenCoverage.outreachTetanus1.value ||
           pregnantWomenCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="outreachTetanus1" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>

    <input id="outreach1Nr_1" type="checkbox"
           ng-model="pregnantWomenCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_1" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_1" class="col-total">
    <span ng-bind="pregnantWomenCoverage.totalTetanus1()"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter2To5_1" type="text" maxlength="7"
           ng-model="pregnantWomenCoverage.healthCenterTetanus2To5.value" ng-trim="false"
           class="right-justified" name="healthCenter2To5Nr_1" numeric-validator="positiveInteger"
           error-holder="pregnantWomenHealthCenter2To5Error"
           ng-class="{'required-error': !(pregnantWomenCoverage.healthCenterTetanus2To5.value ||
           pregnantWomenCoverage.healthCenterTetanus2To5.notRecorded)}"/>
    <span id="pregnantWomenHealthCenter2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter2To5Nr_1" type="checkbox"
           ng-model="pregnantWomenCoverage.healthCenterTetanus2To5.notRecorded" not-recorded/>
    <label class="checkbox-label" for="healthCenter2To5Nr_1" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_1" type="text" maxlength="7"
           ng-model="pregnantWomenCoverage.outreachTetanus2To5.value" ng-trim="false"
           class="right-justified" name="outreach2To5Nr_1"
           numeric-validator="positiveInteger" error-holder="pregnantWomenOutReach2To5Error"
           ng-class="{'required-error': !(pregnantWomenCoverage.outreachTetanus2To5.value ||
           pregnantWomenCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="pregnantWomenOutreach2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_1" type="checkbox"
           ng-model="pregnantWomenCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_1" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_1" class="col-total">
    <span ng-bind="pregnantWomenCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_1" class="col-total">
    <span ng-bind="pregnantWomenCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_1" class="col-coverage-rate">
    <span ng-bind="pregnantWomenCoverage.coverageRate()"></span>
  </td>
  <td class="vertical-middle-aligned" rowspan="7">
    <span class="position-relative">
    <input id="openedVialInputField" type="text" maxlength="7"
           ng-model="adultCoverageOpenedVialsMap['Tetanus'].openedVial.value"
           ng-trim="false"
           class="right-justified" name="openedVial"
           numeric-validator="positiveInteger" error-holder="openedVialError"
           ng-class="{'required-error': !(adultCoverageOpenedVialsMap['Tetanus'].openedVial.value ||
           adultCoverageOpenedVialsMap['Tetanus'].openedVial.notRecorded)}"/>
    <span id="openedVialError" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="openedVial" type="checkbox" ng-model="adultCoverageOpenedVialsMap['Tetanus'].openedVial.notRecorded"
           not-recorded/>
    <label for="openedVial" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="wastageRate" class="col-opened-vial vertical-middle-aligned" rowspan="7">
    <span ng-bind="adultCoverage.wastageRate(adultCoverageOpenedVialsMap['Tetanus'])"></span>
  </td>
</tr>

<tr ng-init="mifCommunityCoverage = adultCoverageTargetGroupMap[categories.MIF_COMMUNITY]">
  <td id="mifLabel" class="vertical-middle-aligned" openlmis-message="label.coverage.mif" rowspan="3"></td>
  <td id="communityCell"><strong openlmis-message="label.coverage.community"></strong></td>
  <td id="targetGroup_2" class="col-target-group">
    <span ng-bind="mifCommunityCoverage.targetGroup"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter1_2" class="right-justified" type="text" maxlength="7"
           ng-model="mifCommunityCoverage.healthCenterTetanus1.value" ng-trim="false"
           name="healthCenter1Nr_2"
           numeric-validator="positiveInteger" error-holder="mifCommunityHealthCenterTetanus1Error"
           ng-class="{'required-error': !(mifCommunityCoverage.healthCenterTetanus1.value ||
           mifCommunityCoverage.healthCenterTetanus1.notRecorded)}"/>
    <span id="mifCommunityHealthCenterTetanus1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter1Nr_2" type="checkbox"
           ng-model="mifCommunityCoverage.healthCenterTetanus1.notRecorded" not-recorded/>
    <label for="healthCenter1Nr_2" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach1_2" class="right-justified" type="text" maxlength="7"
           ng-model="mifCommunityCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_2"
           numeric-validator="positiveInteger" error-holder="mifCommunityOutreachTetanus1Error"
           ng-class="{'required-error': !(mifCommunityCoverage.outreachTetanus1.value ||
           mifCommunityCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="mifCommunityOutreachTetanus1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach1Nr_2" type="checkbox"
           ng-model="mifCommunityCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_2" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_2" class="col-total">
    <span ng-bind="mifCommunityCoverage.totalTetanus1()"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter2To5_2" class="right-justified" type="text" maxlength="7"
           ng-model="mifCommunityCoverage.healthCenterTetanus2To5.value" ng-trim="false"
           name="healthCenter2To5Nr_2"
           numeric-validator="positiveInteger" error-holder="mifCommunityHealthCenter2To5Error"
           ng-class="{'required-error': !(mifCommunityCoverage.healthCenterTetanus2To5.value ||
           mifCommunityCoverage.healthCenterTetanus2To5.notRecorded)}"/>
    <span id="mifCommunityHealthCenter2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter2To5Nr_2" type="checkbox"
           ng-model="mifCommunityCoverage.healthCenterTetanus2To5.notRecorded" not-recorded/>
    <label for="healthCenter2To5Nr_2" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_2" class="right-justified" type="text" maxlength="7"
           ng-model="mifCommunityCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_2"
           numeric-validator="positiveInteger" error-holder="mifCommunityOutreachTetanus2To5Error"
           ng-class="{'required-error': !(mifCommunityCoverage.outreachTetanus2To5.value ||
           mifCommunityCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="mifCommunityOutreachTetanus2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_2" type="checkbox"
           ng-model="mifCommunityCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_2" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_2" class="col-total">
    <span ng-bind="mifCommunityCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_2" class="col-total">
    <span ng-bind="mifCommunityCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_2" class="col-coverage-rate">
    <span ng-bind="mifCommunityCoverage.coverageRate()"></span>
  </td>
</tr>
<tr ng-init="mifStudentCoverage = adultCoverageTargetGroupMap[categories.MIF_STUDENTS]">
  <td id="studentsLabel" openlmis-message="label.coverage.students"></td>
  <td id="targetGroup_3" class="col-target-group">
    <span ng-bind="adultCoverageTargetGroupMap[categories.MIF_STUDENTS].targetGroup"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach1_3" class="right-justified" type="text" maxlength="7"
           ng-model="mifStudentCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_3"
           numeric-validator="positiveInteger" error-holder="mifStudentOutreach1Error"
           ng-class="{'required-error': !(mifStudentCoverage.outreachTetanus1.value ||
           mifStudentCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="mifStudentOutreach1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach1Nr_3" type="checkbox"
           ng-model="mifStudentCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_3" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_3" class="col-total">
    <span ng-bind="mifStudentCoverage.totalTetanus1()"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_3" class="right-justified" type="text" maxlength="7"
           ng-model="mifStudentCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_3"
           numeric-validator="positiveInteger" error-holder="mifStudentOutreachTetanus2To5Error"
           ng-class="{'required-error': !(mifStudentCoverage.outreachTetanus2To5.value ||
           mifStudentCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="mifStudentOutreachTetanus2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_3" type="checkbox"
           ng-model="mifStudentCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_3" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_3" class="col-total">
    <span ng-bind="mifStudentCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_3" class="col-total">
    <span ng-bind="mifStudentCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_3" class="col-coverage-rate">
    <span ng-bind="mifStudentCoverage.coverageRate()"></span>
  </td>
</tr>
<tr ng-init="mifWorkerCoverage = adultCoverageTargetGroupMap[categories.MIF_WORKERS]">
  <td id="workersLabel" openlmis-message="label.coverage.workers"></td>
  <td id="targetGroup_4" class="col-target-group">
    <span ng-bind="adultCoverageTargetGroupMap[categories.MIF_WORKERS].targetGroup"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach1_4" class="right-justified" type="text" maxlength="7"
           ng-model="mifWorkerCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_4"
           numeric-validator="positiveInteger" error-holder="mifWorkerOutreach1Error"
           ng-class="{'required-error': !(mifWorkerCoverage.outreachTetanus1.value ||
           mifWorkerCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="mifWorkerOutreach1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach1Nr_4" type="checkbox"
           ng-model="mifWorkerCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_4" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_4" class="col-total">
    <span ng-bind="mifWorkerCoverage.totalTetanus1()"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_4" class="right-justified" type="text" maxlength="7"
           ng-model="mifWorkerCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_4"
           numeric-validator="positiveInteger" error-holder="mifWorkerOutreachTetanus2To5Error"
           ng-class="{'required-error': !(mifWorkerCoverage.outreachTetanus2To5.value ||
           mifWorkerCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="mifWorkerOutreachTetanus2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_4" type="checkbox"
           ng-model="mifWorkerCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_4" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_4" class="col-total">
    <span ng-bind="mifWorkerCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_4" class="col-total">
    <span ng-bind="mifWorkerCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_4" class="col-coverage-rate">
    <span ng-bind="mifWorkerCoverage.coverageRate()"></span>
  </td>
</tr>
<tr ng-init="studentNotMIFCoverage = adultCoverageTargetGroupMap[categories.STUDENTS_NOT_MIF]">
  <td id="studentNotMifLabel" openlmis-message="label.coverage.students.not.mif" colspan="2"></td>
  <td id="targetGroup_5" class="col-target-group">
    <span ng-bind="adultCoverageTargetGroupMap[categories.STUDENTS_NOT_MIF].targetGroup"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach1_5" class="right-justified" type="text" maxlength="7"
           ng-model="studentNotMIFCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_5"
           numeric-validator="positiveInteger" error-holder="studentNotMIFOutreach1Error"
           ng-class="{'required-error': !(studentNotMIFCoverage.outreachTetanus1.value ||
           studentNotMIFCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="studentNotMIFOutreach1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach1Nr_5" type="checkbox"
           ng-model="studentNotMIFCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_5" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_5" class="col-total">
    <span ng-bind="studentNotMIFCoverage.totalTetanus1()"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_5" class="right-justified" type="text" maxlength="7"
           ng-model="studentNotMIFCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_5"
           numeric-validator="positiveInteger" error-holder="studentNotMIFOutreachTetanus2To5Error"
           ng-class="{'required-error': !(studentNotMIFCoverage.outreachTetanus2To5.value ||
           studentNotMIFCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="studentNotMIFOutreachTetanus2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_5" type="checkbox"
           ng-model="studentNotMIFCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_5" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_5" class="col-total">
    <span ng-bind="studentNotMIFCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_5" class="col-total">
    <span ng-bind="studentNotMIFCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_5" class="col-coverage-rate">
    <span ng-bind="studentNotMIFCoverage.coverageRate()"></span>
  </td>
</tr>
<tr ng-init="workerNotMIFCoverage = adultCoverageTargetGroupMap[categories.WORKERS_NOT_MIF]">
  <td id="workerNotMif" openlmis-message="label.coverage.workers.not.mif" colspan="2"></td>
  <td id="targetGroup_6" class="col-target-group">
    <span ng-bind="workerNotMIFCoverage.targetGroup"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach1_6" class="right-justified" type="text" maxlength="7"
           ng-model="workerNotMIFCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_6"
           numeric-validator="positiveInteger" error-holder="workerNotMIFOutreach1Error"
           ng-class="{'required-error': !(workerNotMIFCoverage.outreachTetanus1.value ||
           workerNotMIFCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="workerNotMIFOutreach1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach1Nr_6" type="checkbox"
           ng-model="workerNotMIFCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_6" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_6" class="col-total">
    <span ng-bind="workerNotMIFCoverage.totalTetanus1()"></span>
  </td>
  <td></td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_6" class="right-justified" type="text" maxlength="7"
           ng-model="workerNotMIFCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_6"
           numeric-validator="positiveInteger" error-holder="workerNotMIFOutreachTetanus2To5Error"
           ng-class="{'required-error': !(workerNotMIFCoverage.outreachTetanus2To5.value ||
           workerNotMIFCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="workerNotMIFOutreachTetanus2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_6" type="checkbox"
           ng-model="workerNotMIFCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_6" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_6" class="col-total">
    <span ng-bind="workerNotMIFCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_6" class="col-total">
    <span ng-bind="workerNotMIFCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_6" class="col-coverage-rate">
    <span ng-bind="workerNotMIFCoverage.coverageRate()"></span>
  </td>
</tr>
<tr ng-init="otherNotMIFCoverage = adultCoverageTargetGroupMap[categories.OTHER_NOT_MIF]">
  <td id="otherNotMifLabel" openlmis-message="label.coverage.other.not.mif" colspan="2"></td>
  <td id="targetGroup_7" class="col-target-group">
    <span ng-bind="otherNotMIFCoverage.targetGroup"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter1_7" class="right-justified" type="text" maxlength="7"
           ng-model="otherNotMIFCoverage.healthCenterTetanus1.value" ng-trim="false"
           numeric-validator="positiveInteger"
           name="healthCenter1Nr_7"
           error-holder="otherNotMIFHealthCenterTetanus1Error"
           ng-class="{'required-error': !(otherNotMIFCoverage.healthCenterTetanus1.value ||
           otherNotMIFCoverage.healthCenterTetanus1.notRecorded)}"/>
    <span id="otherNotMIFHealthCenterTetanus1Error"
          class="rnr-form-error"
          openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter1Nr_7" type="checkbox" ng-model="otherNotMIFCoverage.healthCenterTetanus1.notRecorded"
           not-recorded/>
    <label for="healthCenter1Nr_7" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach1_7" class="right-justified" type="text" maxlength="7"
           ng-model="otherNotMIFCoverage.outreachTetanus1.value" ng-trim="false"
           name="outreach1Nr_7" numeric-validator="positiveInteger" error-holder="otherNotMIFOutReach1Error"
           ng-class="{'required-error': !(otherNotMIFCoverage.outreachTetanus1.value ||
           otherNotMIFCoverage.outreachTetanus1.notRecorded)}"/>
    <span id="otherNotMIFOutreach1Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>

    <input id="outreach1Nr_7" type="checkbox"
           ng-model="otherNotMIFCoverage.outreachTetanus1.notRecorded" not-recorded/>
    <label for="outreach1Nr_7" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus1_7" class="col-total">
    <span ng-bind="otherNotMIFCoverage.totalTetanus1()"></span>
  </td>
  <td>
    <span class="position-relative">
    <input id="healthCenter2To5_7" class="right-justified" type="text" maxlength="7"
           ng-model="otherNotMIFCoverage.healthCenterTetanus2To5.value" ng-trim="false"
           name="healthCenter2To5Nr_7" numeric-validator="positiveInteger"
           error-holder="otherNotMIFHealthCenter2To5Error"
           ng-class="{'required-error': !(otherNotMIFCoverage.healthCenterTetanus2To5.value ||
           otherNotMIFCoverage.healthCenterTetanus2To5.notRecorded)}"/>
    <span id="otherNotMIFHealthCenter2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="healthCenter2To5Nr_7" type="checkbox"
           ng-model="otherNotMIFCoverage.healthCenterTetanus2To5.notRecorded" not-recorded/>
    <label class="checkbox-label" for="healthCenter2To5Nr_7" openlmis-message="label.not.recorded"></label>
  </td>
  <td>
    <span class="position-relative">
    <input id="outreach2To5_7" class="right-justified" type="text" maxlength="7"
           ng-model="otherNotMIFCoverage.outreachTetanus2To5.value" ng-trim="false"
           name="outreach2To5Nr_7"
           numeric-validator="positiveInteger" error-holder="otherNotMIFOutReach2To5Error"
           ng-class="{'required-error': !(otherNotMIFCoverage.outreachTetanus2To5.value ||
           otherNotMIFCoverage.outreachTetanus2To5.notRecorded)}"/>
    <span id="otherNotMIFOutreach2To5Error" class="rnr-form-error" openlmis-message="error.number.only"
          style="display: none"></span>
    </span>
    <input id="outreach2To5Nr_7" type="checkbox"
           ng-model="otherNotMIFCoverage.outreachTetanus2To5.notRecorded" not-recorded/>
    <label for="outreach2To5Nr_7" class="checkbox-label" openlmis-message="label.not.recorded"></label>
  </td>
  <td id="totalTetanus2To5_7" class="col-total">
    <span ng-bind="otherNotMIFCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus_7" class="col-total">
    <span ng-bind="otherNotMIFCoverage.totalTetanus()"></span>
  </td>
  <td id="coverageRate_7" class="col-coverage-rate">
    <span ng-bind="otherNotMIFCoverage.coverageRate()"></span>
  </td>
</tr>
<tr>
  <td id="totalRowLabel" colspan="2">
    <span openlmis-message="label.total"></span>
  </td>
  <td class="col-total"><span></span></td>
  <td id="totalHealthCenterTetanus1" class="col-total">
    <span ng-bind="adultCoverage.totalHealthCenterTetanus1()"></span>
  </td>
  <td id="totalOutreachTetanus1" class="col-total">
    <span ng-bind="adultCoverage.totalOutreachTetanus1()"></span>
  </td>
  <td id="totalTetanus1" class="col-total">
    <span ng-bind="adultCoverage.totalTetanus1()"></span>
  </td>
  <td id="totalHealthCenterTetanus2To5" class="col-total">
    <span ng-bind="adultCoverage.totalHealthCenterTetanus2To5()"></span>
  </td>
  <td id="totalOutreachTetanus2To5" class="col-total">
    <span ng-bind="adultCoverage.totalOutreachTetanus2To5()"></span>
  </td>
  <td id="totalTetanus2To5" class="col-total">
    <span ng-bind="adultCoverage.totalTetanus2To5()"></span>
  </td>
  <td id="totalTetanus" class="col-total">
    <span ng-bind="adultCoverage.totalTetanus()"></span>
  </td>
  <td class="col-total"><span></span></td>
  <td class="col-total"><span></span></td>
  <td class="col-total"><span></span></td>
</tr>
</tbody>

</table>
</form>
</div>
</div>
</div>
</div>