<!DOCTYPE html>
<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info">
    <div class="refrigerator-container">
    </div>
  </div>

  <div class="facility-info facility-toolbar">
    <a href="" class="pull-left">&laquo; Previous</a>
    <a href="" class="pull-right">Next &raquo;</a>
  </div>
</div>