<!DOCTYPE html>
<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info">
    <div class="refrigerator-container">
      <h3>
        <span openlmis-message="header.epi.use"></span>
      </h3>

      <div class="rnr-table" tab-scroll bottom-offset="180" custom-horizontal-scroll>
        <table id="epiUseTable" fixed-table-header class="table table-bordered scrollable">
          <thead>
          <tr>
            <th ng-repeat="headerColumn in headerColumns">
              <span ng-bind="headerColumn"></span>
            </th>
          </tr>
          </thead>

          <tbody ng-repeat="groupReading in productGroupReadings">
          <tr>
            <td>
              <span ng-bind="groupReading.name"></span>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.stockAtFirstOfMonth" name="stockAtFirstOfMonth{{$index}}" maxlength="7">
              <input id="stockAtFirstOfMonth{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.stockAtFirstOfMonth.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="stockAtFirstOfMonth{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.received" name="received{{$index}}" maxlength="7">

              <input id="received{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.received.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="received{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.total" name="total{{$index}}" maxlength="7">
              <input id="total{{$index}}" type="checkbox"
                      ng-model="groupReading.reading.total.notRecorded"
                      not-recorded/>
              <label class="checkbox-label" for="received{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.distributed" name="distributed{{$index}}" maxlength="7">
              <input id="distributed{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.distributed.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="distributed{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.loss" name="loss{{$index}}" maxlength="7">
              <input id="loss{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.loss.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="loss{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.stockAtEndOfMonth" name="stockAtEndOfMonth{{$index}}" maxlength="7">
              <input id="stockAtEndOfMonth{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.stockAtEndOfMonth.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="stockAtEndOfMonth{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
            <td>
              <input type="text" ng-model="groupReading.reading.expirationDate" name="expirationDate{{$index}}" maxlength="7">
              <input id="expirationDate{{$index}}" type="checkbox"
                     ng-model="groupReading.reading.expirationDate.notRecorded"
                     not-recorded/>
              <label class="checkbox-label" for="expirationDate{{$index}}"
                     openlmis-message="label.not.recorded"></label>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="facility-info facility-toolbar">
    <a href="" class="pull-left">&laquo; Previous</a>
    <a href="" class="pull-right">Next &raquo;</a>
  </div>
</div>