<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info">
    <div class="refrigerator-container">
      <h3>
        <span openlmis-message="header.epi.use"></span>
        <a href="javascript:void(0)" ng-click="applyNRAll()" class="pull-right btn"
           openlmis-message="button.apply.nr.all"></a>
      </h3>

      <div class="alert alert-info" id="noRefrigerators"
           ng-hide="distribution.facilityDistributionData[selectedFacilityId].epiUse.productGroups.length">
        <span openlmis-message="message.no.product.groups"></span>
      </div>

      <div id="epiUseTable" tab-scroll bottom-offset="180"
           ng-show="distribution.facilityDistributionData[selectedFacilityId].epiUse.productGroups.length">

        <div class="list-header-container">
          <div class="list-header row-fluid">
            <div class="span2" openlmis-message="header.epi.use.doses"></div>
            <div class="span1" openlmis-message="header.epi.use.startingStock"></div>
            <div class="span1" openlmis-message="header.epi.use.received"></div>
            <div class="span1" openlmis-message="header.epi.use.total"></div>
            <div class="span1" openlmis-message="header.epi.use.distributed"></div>
            <div class="span1" openlmis-message="header.epi.use.loss"></div>
            <div class="span1" openlmis-message="header.epi.use.endingStock"></div>
            <div class="span1" openlmis-message="description.column.expiration.date"></div>
          </div>
        </div>
        <div class="list-container">
          <div class="row-fluid list-row"
               ng-repeat="groupReading in distribution.facilityDistributionData[selectedFacilityId].epiUse.productGroups"
               ng-controller="EpiUseRowController">
            <form auto-save="distribution" object-store="distributions">
              <div class="span2">
                <span ng-bind="groupReading.name"></span>
              </div>
              <div class="span1">
                <input type="text" ng-model="groupReading.reading.stockAtFirstOfMonth.value"
                       name="stockAtFirstOfMonth{{$index}}" numeric-validator="positiveInteger" maxlength="7"
                       error-holder="stockAtFirstOfMonthError{{$index}}"/>

                <div id="stockAtFirstOfMonthError{{$index}}" class="form-error"
                     openlmis-message="error.enter.number.only"
                     style="display: none"></div>
                <input id="stockAtFirstOfMonth{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.stockAtFirstOfMonth.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="stockAtFirstOfMonth{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
              <div class="span1">
                <input type="text" ng-model="groupReading.reading.received.value" name="received{{$index}}"
                       numeric-validator="positiveInteger" maxlength="7" error-holder="receivedError{{$index}}"/>

                <div id="receivedError{{$index}}" class="form-error" openlmis-message="error.enter.number.only"
                     style="display: none"></div>
                <input id="received{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.received.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="received{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
              <div class="span1">
                <span ng-bind="getTotal()"></span>
              </div>
              <div class="span1">
                <input type="text" ng-model="groupReading.reading.distributed.value" name="distributed{{$index}}"
                       numeric-validator="positiveInteger" maxlength="7" error-holder="distributedError{{$index}}"/>

                <div id="distributedError{{$index}}" class="form-error" openlmis-message="error.enter.number.only"
                     style="display: none"></div>
                <input id="distributed{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.distributed.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="distributed{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
              <div class="span1">
                <input type="text" ng-model="groupReading.reading.loss.value" name="loss{{$index}}" maxlength="7"
                       numeric-validator="positiveInteger" error-holder="lossError{{$index}}"/>

                <div id="lossError{{$index}}" class="form-error" openlmis-message="error.enter.number.only"
                     style="display: none"></div>
                <input id="loss{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.loss.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="loss{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
              <div class="span1">
                <input type="text" ng-model="groupReading.reading.stockAtEndOfMonth.value"
                       name="stockAtEndOfMonth{{$index}}" numeric-validator="positiveInteger" maxlength="7"
                       error-holder="stockAtEndOfMonthError{{$index}}"/>

                <div id="stockAtEndOfMonthError{{$index}}" class="form-error" openlmis-message="error.enter.number.only"
                     style="display: none"></div>
                <input id="stockAtEndOfMonth{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.stockAtEndOfMonth.notRecorded"
                       not-recorded/>
                <label class="checkbox-label" for="stockAtEndOfMonth{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
              <div class="span1 expiration-date">
                <input type="text" ng-model="groupReading.reading.expirationDate.value" name="expirationDate{{$index}}"
                       date-validator="date"
                       showError="inputClass" error-holder="expirationDateError{{$index}}" maxlength="7"/>
                <span class="alert alert-warning warning-alert" id="expirationDateError{{$index}}"
                      style="display:none;" openlmis-message="error.invalid.date.format"></span>
                <input id="expirationDate{{$index}}" type="checkbox"
                       ng-model="groupReading.reading.expirationDate.notRecorded"
                       not-recorded="clearError"/>
                <label class="checkbox-label" for="expirationDate{{$index}}"
                       openlmis-message="label.not.recorded"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="facility-info facility-toolbar">
    <a href="" class="pull-left">&laquo; <span openlmis-message="link.previous"></span></a>
    <a href="" class="pull-right"><span openlmis-message="link.next"></span> &raquo;</a>
  </div>

</div>