<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div ng-controller="DistributionListController">

  <a class="btn btn-primary" id="viewLoadAmounts"
     ng-click="viewLoadAmount()"
     ng-disabled="!selectedPeriod||!selectedProgram||!selectedZone" openlmis-message="button.view.load.amount">
  </a>
  <a class="btn btn-primary" id="initiateDistribution" ng-click="initiateDistribution()"
     ng-disabled="!selectedPeriod||!selectedProgram||!selectedZone" openlmis-message="button.initiate.distribution">
  </a>

  <div ng-show="distributionList.length">
    <br/>
    <br/>

    <div openlmis-message="label.initiated.distributions"></div>
    <div class="row-fluid list-header">
      <div class="span2" openlmis-message="label.distribution.deliveryZone"></div>
      <div class="span2" openlmis-message="label.program"></div>
      <div class="span2" openlmis-message="label.period"></div>
      <div class="span2" openlmis-message="column.name.status"></div>
    </div>
    <div ng-repeat="distribution in distributionList">
      <div class="span2" ng-bind="distribution.deliveryZone.code"></div>
      <div class="span2" ng-bind="distribution.program.name"></div>
      <div class="span2" ng-bind="distribution.period.name"></div>
      <div class="span2" ng-bind="distribution.status"></div>
    </div>
  </div>
</div>