<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div ng-controller="DistributionListController">

  <h2 openlmis-message="label.initiated.distributions"></h2>

  <div class="alert alert-info" id="noDistributionInitiated" ng-hide="sharedDistributions.distributionList.length > 0">
    <span openlmis-message="message.no.distribution.initiated"></span>
  </div>

  <div ng-show="sharedDistributions.distributionList.length">
    <div id="cachedDistributions">
      <div class="list-header-container">
        <div class="row-fluid list-header">
          <div class="span2">
            <div class="delivery-zone" openlmis-message="label.delivery.zone"></div>
          </div>
          <div class="span2" openlmis-message="label.program"></div>
          <div class="span2" openlmis-message="label.period"></div>
          <div class="span2" openlmis-message="label.status"></div>
          <div class="span2"></div>
          <div class="span2"></div>
        </div>
      </div>

      <div class="list-container">
        <div class="row-fluid list-row" ng-repeat="distribution in sharedDistributions.distributionList">
          <span ng-class="distribution.computeStatus()"/>
          <div class="span2">
            <div class="delivery-zone" ng-bind="distribution.deliveryZone.name"></div>
          </div>
          <div class="span2" ng-bind="distribution.program.name"></div>
          <div class="span2" ng-bind="distribution.period.name"></div>
          <div class="span2" ng-bind="distribution.status"></div>
          <div class="span2"><a href="javascript:void(0)" openlmis-message="label.record.data"
                                ng-href="#/record-facility-data/{{distribution.id}}"></a></div>
          <div class="span2"><a href="javascript:void(0)" openlmis-message="label.sync"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>