<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div ng-controller="DistributionListController">

  <!--<div ng-show="distributionList.length">-->
  <br/>
  <br/>

  <div openlmis-message="label.initiated.distributions"></div>
  <div id="cachedDistributions">
    <div class="list-header-container">
      <div class="row-fluid list-header">
        <div class="span2" openlmis-message="label.delivery.zone"></div>
        <div class="span2" openlmis-message="label.program"></div>
        <div class="span2" openlmis-message="label.period"></div>
        <div class="span2" openlmis-message="label.status"></div>
        <div class="span2"></div>
        <div class="span2"></div>
      </div>
    </div>

    <div class="list-container">
      <div class="row-fluid list-row" ng-repeat="distribution in distributionList">
        <div class="span2" ng-bind="distribution.deliveryZone.name"></div>
        <div class="span2" ng-bind="distribution.program.name"></div>
        <div class="span2" ng-bind="distribution.period.name"></div>
        <div class="span2" ng-bind="distribution.status"></div>
        <div class="span2">Record Data</div>
        <div class="span2">Sync</div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>