<div>
  <div class="info-box">
    <div class="row-fluid">
      <div class="span3">
        <!--<select id="selectFacility" class="span3" ng-model="selectedFacility" ng-options="">-->
        <!--</select>-->
      </div>
      <div class="span3">
        <strong openlmis-message="label.delivery.zone"> </strong> :&nbsp;<span ng-bind="deliveryZone.name"></span>
      </div>
      <div class="span3">
        <strong openlmis-message="label.program"></strong> :&nbsp;<span ng-bind="program.name"></span>
      </div>
      <div class="span3">
        <strong openlmis-message="label.period"> </strong> :&nbsp;<span ng-bind="period.name"></span>
      </div>
    </div>
  </div>
</div>