<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div class="left-navigation" ng-controller="RecordFacilityMenuController">
  <ul>
    <li class="is-complete">
      <a href="">
        <span class="status-icon"></span>
        <span openlmis-message="label.visit.information"></span>
      </a>
    </li>
    <li ng-class="[distributionData.refrigerators.computeStatus(), isSelected('refrigerator-data')]">
      <a href="" ng-click="changeRoute('refrigerator-data')">
        <span class="status-icon"></span>
        <span openlmis-message="label.refrigerators"></span>
      </a>
    </li>
    <li ng-class="[distributionData.epiInventory.computeStatus(), isSelected('epi-inventory')]">
      <a href="" ng-click="changeRoute('epi-inventory')">
        <span class="status-icon"></span>
        <span openlmis-message="label.epi.inventory"></span>
      </a>
    </li>
    <li ng-class="[distributionData.epiUse.computeStatus(), isSelected('epi-use')]">
      <a href="" ng-click="changeRoute('epi-use')">
        <span class="status-icon"></span>
        <span openlmis-message="label.epi.use"></span>
      </a>
    </li>
    <li class="is-empty">
      <a href="">
        <span class="status-icon"></span>
        <span openlmis-message="label.coverage"></span>
      </a>
    </li>
    <li ng-class="[distributionData.facilityVisit.computeStatus(), isSelected('facility-visit')]">
      <a href="" ng-click="changeRoute('facility-visit')">
        <span class="status-icon"></span>
        <span openlmis-message="label.observations"></span>
      </a>
    </li>
  </ul>
</div>