<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->
<div class="review-data">

  <h2>
    <span openlmis-message="link.review.data"></span>
  </h2>

  <div class="app-form">
    <div id="filter-section" class="form-group">
      <div class="form-row clearfix">
        <div class="form-cell">
          <label for="selectProgram">
            <span openlmis-message="label.program"></span>
            <span class="label-required">*</span>
          </label>
          <div class="form-field">
            <select id="selectProgram" ng-model="filters.selected.program" ng-change="reloadList()"
                ng-options="p as p.name for p in filters.filter.programs">
            </select>
          </div>
        </div>
        <div class="form-cell">
          <label for="selectProvince">
            <span openlmis-message="label.province"></span>
          </label>
          <div class="form-field">
            <select id="selectProvince" ng-model="filters.selected.province" ng-change="reloadList()"
                ng-options="g as g.name for g in filters.filter.geographicZones">
              <option openlmis-message="label.all"></option>
            </select>
          </div>
        </div>
        <div class="form-cell">
          <label for="selectDeliveryZone">
            <span openlmis-message="label.delivery.zone"></span>
          </label>
          <div class="form-field">
            <select id="selectDeliveryZone" ng-model="filters.selected.deliveryZone" ng-change="reloadList()"
                ng-options="d as d.name for d in filters.filter.deliveryZones">
              <option openlmis-message="label.all"></option>
            </select>
          </div>
        </div>
        <div class="form-cell">
          <label for="selectperiod">
            <span openlmis-message="label.period"></span>
          </label>
          <div class="form-field">
            <select id="selectperiod" ng-model="filters.selected.period" ng-change="reloadList()"
                ng-options="p as p.name for p in filters.filter.periods">
              <option openlmis-message="label.all"></option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <h3 openlmis-message="label.synchronized.distributions.list"></h3>

      <div class="form-row clearfix">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th openlmis-message="label.province"></th>
            <th openlmis-message="label.delivery.zone"></th>
            <th openlmis-message="label.period"></th>
            <th openlmis-message="label.initiated"></th>
            <th openlmis-message="label.synchronized"></th>
            <th openlmis-message="label.last.viewed"></th>
            <th openlmis-message="label.last.edited"></th>
            <th openlmis-message="label.edited.by"></th>
            <th></th>
            <th openlmis-message="label.edit.history"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in distributionsList.list">
            <td>{{item.province}}</td>
            <td>{{item.deliveryZone}}</td>
            <td>{{item.period}}</td>
            <td>{{item.initiated}}</td>
            <td>{{item.synchronized}}</td>
            <td>{{item.lastViewed}}</td>
            <td>{{item.lastEdited}}</td>
            <td>{{item.editedBy}}</td>
            <td>Edit Data / View data</td>
            <td>Download CSV | Print</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
