<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div>
  <h2 openlmis-message="label.warehouse.load.amount"></h2>

  <div class="info-box">
    <div class="row-fluid">
      <div class="span3">
        <strong openlmis-message="label.delivery.zone"> </strong> :&nbsp;<span ng-bind="deliveryZone.name"></span>
      </div>
      <div class="span3">
        <strong openlmis-message="label.program"></strong> :&nbsp;<span ng-bind="program.name"></span>
      </div>
      <div class="span3">
        <strong openlmis-message="label.period"> </strong> :&nbsp;<span ng-bind="period.name"></span>
      </div>
    </div>
  </div>


  <div ng-repeat="geoZoneName in sortedGeoZoneKeys">
    <h3><span ng-bind="geoZoneName"></span></h3>

    <div ng-model="facilityMap[geoZoneName]">
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span1"
             ng-repeat="productGroup in facilityMap[geoZoneName][0].supportedPrograms[0].sortedProductGroup">
          <span ng-bind="productGroup"></span>
          <!--colspan = facility.supportedPrograms[0].programProductMap[productGroup].length -->
        </div>
      </div>
      <div class="row-fluid">
        <div class="span1">
          <span ng-bind="geoZoneLevelName"></span>
        </div>
        <div class="span1">
          <span openlmis-message="label.population"></span>
        </div>
        <div ng-repeat="productGroup in facilityMap[geoZoneName][0].supportedPrograms[0].sortedProductGroup">
          <div class="span1"
               ng-repeat="programProduct in facilityMap[geoZoneName][0].supportedPrograms[0].programProductMap[productGroup]">
            <span ng-bind="programProduct.product.primaryName"></span>
          </div>
        </div>
      </div>
    </div>


    <div class="row-fluid" ng-repeat="facility in facilityMap[geoZoneName]">
      <div class="span1">
        <span ng-bind="facility.name"></span> <span ng-bind="facility.code"></span>
      </div>
      <div class="span1">
        <span ng-bind="facility.catchmentPopulation"></span>
      </div>
      <div ng-repeat="productGroup in facility.supportedPrograms[0].sortedProductGroup">
        <div class="span1" ng-repeat="programProduct in facility.supportedPrograms[0].programProductMap[productGroup]">
          <span ng-bind="programProduct.isaAmount"></span>
        </div>
      </div>
    </div>
  </div>


</div>