<!--
 ~ This program is part of the OpenLMIS logistics management information system platform software.
 ~ Copyright © 2013 VillageReach
 ~
 ~  This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 ~
 ~  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 ~  You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org.
 -->
<ng-include src="'/public/pages/logistics/distribution/partials/record-facility-data.html'"></ng-include>
<div class="clearfix facility-container">
  <ng-include src="'/public/pages/logistics/distribution/partials/record-facility-menu.html'"></ng-include>

  <div class="facility-info" ng-init="facilityData = distribution.facilityDistributions[selectedFacility]">
    <div class="facility-visit-container">
      <h3>
        <span id="visitInformationLabel" openlmis-message="label.visit.information"></span>
      </h3>

      <form class="form-group" auto-save="distribution" object-store="distributions"
            disable-form="{{facilityData.isDisabled(null, distributionReview)}}">
        <div class="form-row clearfix">
          <label id="wasFacilityVisited"
                 openlmis-message="label.was.facility.visited|facilityData.facilityName|distribution.period.name"></label>

          <div>
            <input id="facilityVisitedYes" type="radio" ng-model="facilityData.facilityVisit.visited.value"
                   ng-value="true" ng-change="setApplicableVisitInfo()">
            <label for="facilityVisitedYes" class="radio-label" openlmis-message="label.yes"></label>
            <input id="facilityVisitedNo" type="radio" ng-model="facilityData.facilityVisit.visited.value"
                   ng-value="false" ng-change="setApplicableVisitInfo()">
            <label for="facilityVisitedNo" class="radio-label" openlmis-message="label.no"></label>
          </div>
        </div>

        <div ng-show="facilityData.facilityVisit.visited.value === true">
          <div class="form-row clearfix">
            <span id="visitDateContainer">
              <label for="visitDate" openlmis-message="label.visit.date"></label>
              <input id="visitDate" type="text" ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, defaultDate: distribution.period.stringStartDate, beforeShowDay: beforeDatepickerShowDay}"
                     ui-date-format="yy-mm-dd"
                     readonly ng-model="facilityData.facilityVisit.visitDate.value"
                     ng-class="{'required-error': !facilityData.facilityVisit.visitDate.value}"/>
            </span>

            <span id="vehicleIdContainer">
              <label for="vehicleId" openlmis-message="label.vehicle.id"></label>
              <input id="vehicleId" maxlength="20" type="text" ng-model="facilityData.facilityVisit.vehicleId.value"/>
            </span>
          </div>

          <div class="form-row clearfix">
            <label openlmis-message="label.observations"></label>
            <textarea id="observations" maxlength="1000"
                      ng-model="facilityData.facilityVisit.observations.value"></textarea>
          </div>

          <div class="form-row clearfix">
            <label openlmis-message="label.visits.planned.number"></label>
            <input id="numberOfOutreachVisitsPlanned{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfOutreachVisitsPlanned.value"
                   name="numberOfOutreachVisitsPlanned{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfOutreachVisitsPlannedError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfOutreachVisitsPlanned.value.hasValue()}"/>
            <span id="numberOfOutreachVisitsPlannedError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
          <div class="form-row clearfix">
            <label openlmis-message="label.visits.completed.number"></label>
            <input id="numberOfOutreachVisitsCompleted{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfOutreachVisitsCompleted.value"
                   name="numberOfOutreachVisitsCompleted{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfOutreachVisitsCompletedError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfOutreachVisitsCompleted.value.hasValue()}"/>
            <span id="numberOfOutreachVisitsCompletedError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
          <div class="form-row clearfix">
            <label openlmis-message="label.motorbikes.number.at.hu"></label>
            <input id="numberOfMotorbikesAtHU{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfMotorbikesAtHU.value"
                   name="numberOfMotorbikesAtHU{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfMotorbikesAtHUError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfMotorbikesAtHU.value.hasValue()}"/>
            <span id="numberOfMotorbikesAtHUError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
          <div class="form-row clearfix">
            <label openlmis-message="label.motorbikes.functioning.number"></label>
            <input id="numberOfFunctioningMotorbikes{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfFunctioningMotorbikes.value"
                   name="numberOfFunctioningMotorbikes{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfFunctioningMotorbikesError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfFunctioningMotorbikes.value.hasValue()}"/>
            <span id="numberOfFunctioningMotorbikesError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
          <div class="form-row clearfix">
            <label openlmis-message="label.motorbikes.with.problems.number"></label>
            <input id="numberOfMotorizedVehiclesWithProblems{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfMotorizedVehiclesWithProblems.value"
                   name="numberOfMotorizedVehiclesWithProblems{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfMotorizedVehiclesWithProblemsError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfMotorizedVehiclesWithProblems.value.hasValue()}"/>
            <span id="numberOfMotorizedVehiclesWithProblemsError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>
          <div class="form-row clearfix">
            <div class="form-group motorbike-problems-form">
              <div class="form-row clearfix">
                <label openlmis-message="label.motorbikes.select"></label>
              </div>

             <div class="form-row clearfix">
               <input id="lackOfFundingForFuel{{ $index }}" type="checkbox" name="motorbikeProblems{{ $index }}"
                      ng-model="facilityData.facilityVisit.motorbikeProblems.lackOfFundingForFuel"/>
               <label class="checkbox-label" for="lackOfFundingForFuel{{ $index }}"
                      openlmis-message="label.motorbikes.select.lack.of.funding.for.fuel"></label>
             </div>
             <div class="form-row clearfix">
               <input id="repairsSchedulingProblem{{ $index }}" type="checkbox" name="motorbikeProblems{{ $index }}"
                      ng-model="facilityData.facilityVisit.motorbikeProblems.repairsSchedulingProblem"/>
               <label class="checkbox-label" for="repairsSchedulingProblem{{ $index }}"
                      openlmis-message="label.motorbikes.select.repairs.scheduling.problem"></label>
             </div>
             <div class="form-row clearfix">
               <input id="lackOfFundingForRepairs{{ $index }}" type="checkbox" name="motorbikeProblems{{ $index }}"
                      ng-model="facilityData.facilityVisit.motorbikeProblems.lackOfFundingForRepairs"/>
               <label class="checkbox-label" for="lackOfFundingForRepairs{{ $index }}"
                      openlmis-message="label.motorbikes.select.lack.of.funding.for.repairs"></label>
             </div>
             <div class="form-row clearfix">
               <input id="missingParts{{ $index }}" type="checkbox" name="motorbikeProblems{{ $index }}"
                      ng-model="facilityData.facilityVisit.motorbikeProblems.missingParts"/>
               <label class="checkbox-label" for="missingParts{{ $index }}"
                      openlmis-message="label.motorbikes.select.missing.parts"></label>
             </div>
             <div class="form-row clearfix">
               <input id="otherProblem{{ $index }}" type="checkbox" name="motorbikeProblems{{ $index }}"
                      ng-model="facilityData.facilityVisit.motorbikeProblems.other"/>
               <label class="checkbox-label" for="otherProblem{{ $index }}"
                      openlmis-message="label.motorbikes.select.other"></label>
             </div>
             <div class="form-row clearfix">
               <input ng-model="facilityData.facilityVisit.motorbikeProblems.motorbikeProblemOther"
                      id="otherProblemInput"
                      ng-show="facilityData.facilityVisit.motorbikeProblems.other === true"
                      maxlength="140"
                      ng-class="{'required-error': !facilityData.facilityVisit.motorbikeProblems.motorbikeProblemOther}">
               </input>
             </div>
             <div class="form-row clearfix">
               <input id="motorbikeProblems{{ $index }}" type="checkbox"
                      ng-model="facilityData.facilityVisit.motorbikeProblemsNotRecorded"
                      ng-click="facilityData.facilityVisit.motorbikeProblems = {}"
                      not-recorded/>
               <label class="checkbox-label" for="motorbikeProblems{{ $index }}"
                      openlmis-message="label.not.available"></label>
             </div>
           </div>
          </div>
          <div class="form-row clearfix">
            <label openlmis-message="label.motorbikes.limited.transport.days.number"></label>
            <input id="numberOfDaysWithLimitedTransport{{ $index }}" type="number" ng-model="facilityData.facilityVisit.numberOfDaysWithLimitedTransport.value"
                   name="numberOfDaysWithLimitedTransport{{$index}}" ng-trim=false
                   numeric-validator="positiveInteger,2" min="0" max="99" step="1"
                   error-holder="numberOfDaysWithLimitedTransportError{{$index}}"
                   ng-class="{'required-error': !facilityData.facilityVisit.numberOfDaysWithLimitedTransport.value.hasValue()}"/>
            <span id="numberOfDaysWithLimitedTransportError{{$index}}"
                  class="rnr-form-error"
                  openlmis-message="error.number.only"
                  style="display: none"></span>
          </div>

          <div class="signatures clearfix">
            <div class="details-container">
              <span openlmis-message="label.verified.by" class="list-header-container list-header"></span>

              <div>
                <label openlmis-message="label.name" for="verifiedByName"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.verifiedBy.name.value"
                       id="verifiedByName"
                       ng-class="{'required-error': !facilityData.facilityVisit.verifiedBy.name.value}"/>
                <label openlmis-message="label.title" for="verifiedByTitle"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.verifiedBy.title.value"
                       id="verifiedByTitle"
                       ng-class="{'required-error': !facilityData.facilityVisit.verifiedBy.title.value}"/>
              </div>
            </div>

            <div class="details-container">
                            <span openlmis-message="label.confirmed.by"
                                  class="list-header-container list-header"></span>

              <div>
                <label openlmis-message="label.name" for="confirmedByName"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.confirmedBy.name.value"
                       id="confirmedByName"
                       ng-class="{'required-error': !facilityData.facilityVisit.confirmedBy.name.value}"/>
                <label openlmis-message="label.title" for="confirmedByTitle"></label>
                <input type="text" maxlength="50"
                       ng-model="facilityData.facilityVisit.confirmedBy.title.value"
                       id="confirmedByTitle"
                       ng-class="{'required-error': !facilityData.facilityVisit.confirmedBy.title.value}"/>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row" ng-show="facilityData.facilityVisit.visited.value === false">
          <div class="form-group not-visit-reason-form">
            <div class="form-row clearfix">
              <label class="radio-label" openlmis-message="label.reason.for.no.visit"></label>
            </div>

            <div class="form-row clearfix">
              <input id="badWeather{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.badWeather}}"/>
              <label class="radio-label" for="badWeather{{ $index }}"
                     openlmis-message="label.bad.weather"></label>
            </div>
            <div class="form-row clearfix">
              <input id="noTransport{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.noTransport}}"/>
              <label class="radio-label" for="noTransport{{ $index }}"
                     openlmis-message="label.no.transport"></label>
            </div>
            <div class="form-row clearfix">
              <input id="facilityClosed{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.facilityClosed}}"/>
              <label class="radio-label" for="facilityClosed{{ $index }}"
                     openlmis-message="label.facility.closed"></label>
            </div>
            <div class="form-row clearfix">
              <input id="refrigeratorsNotWorking{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.refrigeratorsNotWorking}}"/>
              <label class="radio-label" for="refrigeratorsNotWorking{{ $index }}"
                     openlmis-message="label.refrigerators.not.working"></label>
            </div>
            <div class="form-row clearfix">
              <input id="noRefrigerators{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.noRefrigerators}}"/>
              <label class="radio-label" for="noRefrigerators{{ $index }}"
                     openlmis-message="label.no.refrigerators"></label>
           </div>
            <div class="form-row clearfix">
              <input id="unavailableFunds{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.unavailableFuelFunds}}"/>
              <label class="radio-label" for="unavailableFunds{{ $index }}"
                     openlmis-message="label.unavailable.funds.fuel"></label>
            </div>
            <div class="form-row clearfix">
             <input id="unavailablePerDiemFunds{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.unavailablePerDiemFunds}}"/>
             <label class="radio-label" for="unavailablePerDiemFunds{{ $index }}"
                     openlmis-message="label.unavailable.funds.perdiem"></label>
            </div>
            <div class="form-row clearfix">
              <input id="notPartOfProgram{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value"
                     value="{{reasons.notPartOfProgram}}"/>
              <label class="radio-label" for="notPartOfProgram{{ $index }}"
                     openlmis-message="label.not.part.of.program"></label>
            </div>
            <div class="form-row clearfix">
              <input id="other{{ $index }}" type="radio"
                     ng-model="facilityData.facilityVisit.reasonForNotVisiting.value" value="{{reasons.other}}"
                     ng-click="facilityData.facilityVisit.otherReasonDescription.value = (facilityData.facilityVisit.reasonForNotVisiting.value === reasons.other ? facilityData.facilityVisit.otherReasonDescription.value : undefined)"/>
              <label class="radio-label" for="other{{ $index }}" openlmis-message="label.other"></label>
            </div>
            <div class="form-row clearfix">
              <textarea ng-model="facilityData.facilityVisit.otherReasonDescription.value"
                        id="otherTextBox"
                        ng-show="facilityData.facilityVisit.reasonForNotVisiting.value === reasons.other"
                        maxlength="255"
                        ng-class="{'required-error': !facilityData.facilityVisit.otherReasonDescription.value}">
              </textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
