<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>OpenLMIS</title>
  <script src="/public/lib/jquery/jquery-1.8.2.min.js"></script>
  <script src="/public/lib/angular/angular.js"></script>
  <script src="/public/lib/angular/angular-resource.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
  <script src="/public/lib/angular-ui/angular-ui.min.js"></script>
  <link rel="stylesheet" href="/public/lib/angular-ui/angular-ui.min.css">

  <script type="text/javascript" src="/public/js/shared/app.js"></script>
  <link rel="stylesheet" href="/public/css/login.css">
  <script type="text/javascript" src="/public/js/shared/services/services.js"></script>
    +<script type="text/javascript" src="/public/js/shared/services/message-service.js"></script>
  <script src="/public/lib/localstorage/localStorage.js"></script>
  <script src="/public/js/shared/controller/forgot-password-controller.js"></script>
  <script src="/public/js/shared/localStorageKeys.js"></script>
</head>

<body ng-app="openlmis">
<div class="login-page">
  <div class="login-container">
    <h1>Logistics Management Information Systems</h1>

    <div class="forgot-password-form">
      <h2>Forgot password?</h2>

      <div class="form-desc">
        Please provide your email address OR username and we will send you a reset password link on your
        registered email id.
      </div>
      <form ng-submit="sendForgotPasswordEmail()" ng-controller="ForgotPasswordController">
        <fieldset>
          <div class="login-form-row">
            <input type="text" id="email" ng-model="user.email" placeholder="Email"/>
          </div>
          <div class="login-form-row or-row">
            OR
          </div>
          <div class="login-form-row">
            <input type="text" id="username" ng-model="user.userName" placeholder="Username"/>
          </div>
          <div class="alert alert-error" id="saveFailMessage" ng-model="error" ng-show="error">
            {{error}}
          </div>
          <div class="login-form-row">
            <input class="btn btn-primary" ng-disabled="submitDisabled" type="submit" value="{{submitButtonLabel}}"/>
            <!--<input class="btn btn-cancel" type="button" value="Cancel" />-->
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
</body>
</html>