<!DOCTYPE html>
<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>OpenLMIS</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/lib/angular-ui/angular-ui.min.css">
  <script data-main="/public/js/shared/bootstrap" src="/public/lib/requirejs/require.js"></script>
  <link rel="stylesheet" href="/public/css/app.css">

  <!--[if IE 9]>
    <!--<link rel="stylesheet" href="/public/css/ie9.css" />-->
  <!--<![endif]&ndash;&gt;-->
</head>

<body >
<div class="login-page">
  <div class="login-container">
    <h1>Logistics Management Information Systems</h1>

    <div class="forgot-password-form">
      <h2>Forgot password?</h2>

      <div class="form-desc">
        Please provide your email address OR username and we will send you a reset password link on your
        registered email id.
      </div>
      <form ng-submit="sendForgotPasswordEmail()" ng-controller="ForgotPasswordController">
        <fieldset>
          <div class="login-form-row">
            <input type="text" id="email" ng-model="user.email" placeholder="Email"/>
          </div>
          <div class="login-form-row or-row">
            OR
          </div>
          <div class="login-form-row">
            <input type="text" id="username" ng-model="user.userName" placeholder="Username"/>
          </div>
          <div class="alert alert-error" id="saveFailMessage" ng-bind="error" ng-show="error">
          </div>
          <div class="login-form-row">
            <input class="btn btn-primary" ng-disabled="submitDisabled" type="submit" value="{{submitButtonLabel}}"/>
            <input class="btn btn-cancel" type="button" ng-click="goToLogin()" value="Cancel" />
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
</body>
</html>