<div class="login-container">
  <h1>Logistics Management Information Systems</h1>
  <div class="login-form" ng-controller="LoginController">
    <h2>Sign In</h2>
    <form ng-submit="doLogin()">
      <fieldset>
        <div class="login-form-row">
          <input ng-model="username" type="text" id="username" placeholder="Username" required/>
        </div>
        <div class="login-form-row">
          <input ng-model="password" type="password" id="password" placeholder="Password" required/>
        </div>
        <div class="alert alert-error" ng-bind="loginError" ng-show="loginError"></div>
        <div class="login-form-row">
          <input class="btn btn-primary" type="submit" value="Sign in" ng-disabled="disableSignInButton"/>
        </div>
        <div class="login-form-row forgot-link">
          <a ng-click="goToForgotPassword()">Forgot password?</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
