<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div class="login-container">
  <h1 openlmis-message="app.header">Logistics Management Information Systems</h1>
  <div class="login-form" ng-controller="LoginController">
    <h2 openlmis-message="header.sign.in">Sign In</h2>
    <form ng-submit="doLogin()" novalidate>
      <fieldset>
        <div class="login-form-row">
          <input ng-model="username" type="text" id="username" placeholder="Username" required/>
        </div>
        <div class="login-form-row">
          <input ng-model="password" type="password" id="password" placeholder="Password" required/>
        </div>
        <div class="alert alert-error" ng-bind="loginError" ng-show="loginError"></div>
        <div class="login-form-row">
          <input class="btn btn-primary" type="submit" value="Sign in" openlmis-message="button.signIn" ng-disabled="disableSignInButton"/>
        </div>
        <div class="login-form-row forgot-link">
          <a ng-click="goToForgotPassword()" openlmis-message="link.forgot.password">Forgot password?</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
