<div class="login-form" ng-controller="LoginController">
  <div>
    <h2>Sign In</h2>
    <fieldset>
      <label for="username">Username</label>

      <div>
        <input ng-model="username" type="text" id="username"/>
      </div>
      <label for="password">Password</label>

      <div>
        <input ng-model="password" type="password" id="password"/>
      </div>
      <br />
      <div class="alert alert-error" ng-model="error" ng-show="error">{{ error }}</div>
      <div>
        <button class="btn" id="submit" ng-click="doLogin()">Sign in</button>
      </div>
    </fieldset>
  </div>
</div>
