<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>OpenLMIS</title>
    <script src="/public/js/shared/lib/jquery-1.8.2.min.js"></script>
    <script src="/public/js/shared/lib/angular/angular.js"></script>
    <script src="/public/js/shared/lib/angular/angular-resource.js"></script>
    <script src="/public/js/shared/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/js/shared/lib/bootstrap/css/bootstrap.min.css">
    <script src="/public/js/shared/lib/angular-ui/angular-ui.min.js"></script>
    <link rel="stylesheet" href="/public/js/shared/lib/angular-ui/angular-ui.min.css">

    <script type="text/javascript" src="/public/js/shared/app.js"></script>
    <link rel="stylesheet" href="/public/css/login.css">
    <script type="text/javascript" src="/public/js/shared/services/services.js"></script>
    <script src="/public/js/shared/lib/localStorage.js"></script>
    <script src="/public/js/shared/controller/reset-password-controller.js"></script>
    <script src="/public/js/shared/localStorageKeys.js"></script>
</head>

<body ng-app="openlmis">
<div class="login-page">
    <div class="login-container">
        <h1>Logistics Management Information Systems</h1>

        <div class="reset-password-form">
            <h2>Change password</h2>

            <div class="form-desc">
            </div>
            <form ng-submit="resetPassword()" ng-controller="ResetPasswordController">
                <fieldset>
                    <div class="login-form-row">
                      <input type="password" ng-model="password" name="pwd" required />
                    </div>
                    <div class="login-form-row">
                      <input type="password" ng-model="passwordConfirm" name="pwd2" required ui-validate-equals="pwd"/>
                    </div>
                    <span ng-show='passwordConfirm.$error.equal'>Both e-mail addresses must match</span>
                    <div class="alert alert-error" id="resetPasswordFailMessage" ng-bind="error" ng-show="error">
                      Invalid password.
                    </div>
                    <div class="login-form-row">
                        <input class="btn btn-primary" ng-disabled="submitDisabled" type="submit" value="{{submitButtonLabel}}"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>