<!--
  ~ Copyright © 2013 John Snow, Inc. (JSI). All Rights Reserved.
  ~
  ~ The U.S. Agency for International Development (USAID) funded this section of the application development under the terms of the USAID | DELIVER PROJECT contract no. GPO-I-00-06-00007-00.
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2><span>Requisition Groups List</span>
        <a href="#/create-requisition-group" class="pull-right btn btn-primary"><span id="requisition-group-add-new">Add New</span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="requisitionGroupId">
        <span ng-bind="message"></span>.
        <!-- &nbsp;&nbsp;<a ng-click="editRequisitionGroups(requisitionGroupId)" openlmis-message="search.viewHere"></a>-->
    </div>

    <input id="txtFilterRequisitionGroups" class="search-query input-xlarge" type="text" ng-model="query"
           ng-init="showRequisitionGroupsList('txtFilterRequisitionGroups')"
           on-keyup="filterRequisitionGroups('txtFilterRequisitionGroups')" placeholder="Enter requisition group name"/>


    <div>
        <h3 ng-show="query.length>0">
            <ng-pluralize count="resultCount"
                          when="{ 0: 'No matches found for \'{{query}}\'',
                            1: '1 match found for \'{{query}}\'',
                            other: '{} matches found for \'{{query}}\''}">

            </ng-pluralize>
        </h3>
        <br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th>Code
                </th>
                <th>Requisition Group
                </th>
                <th>Supervisory Node
                </th>
                <th>Facilities Count
                </th>
                <th>Program Count
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="requisitionGroup in filteredRequisitionGroups">
                <td>
                    <div>{{requisitionGroup.code}}</div>
                </td>
                <td>
                    <a href="" ng-click="editRequisitionGroup(requisitionGroup.id, requisitionGroup.countOfPrograms)">{{requisitionGroup.name}}</a>
                </td>
                <td>
                    <div>{{requisitionGroup.supervisoryNode.name}}</div>
                </td>
                <td>
                    <div> {{requisitionGroup.countOfFacilities}}</div>
                </td>
                <td>
                    <div>{{requisitionGroup.countOfPrograms}}</div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>