<div xmlns="http://www.w3.org/1999/html">
    <h2><span>Products Allowed for Facility Types</span>
        <!--<a href="#/create-requisition-group" class="pull-right btn btn-primary"><span id="requisition-group-add-new">Add New</span></a>-->
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="showMessage">
        <span ng-bind="message"></span>.
        <!-- &nbsp;&nbsp;<a ng-click="editRequisitionGroups(requisitionGroupId)" openlmis-message="search.viewHere"></a>-->
    </div>


    <form ng-submit="saveFacilityTypeAllowedProductTypes()" id="manipulate-product-allowed-for-facility"
          name="productAllowedForFacilityForm" novalidate select2-blur>
        <div> <!-- class="app-form">-->
            <input id="txtFilterFacilityTypeName" class="search-query input-xlarge" type="text" ng-model="query"
                   ng-init="showFacilityTypeList('txtFilterFacilityTypeName')"
                   on-keyup="filterFacility('txtFilterFacilityTypeName')"
                   placeholder="Enter facility type name"/>

            <h3 ng-show="query.length>0">
                <ng-pluralize count="resultCount"
                              when="{ 0: 'No matches found for \'{{query}}\'',
                            1: '1 match found for \'{{query}}\'',
                            other: '{} matches found for \'{{query}}\''}">

                </ng-pluralize>
            </h3>
            <br/>
            <table style="width:100%;">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="vertical-align: top">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr class="gradient-header">
                                <th>Facility Type
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="facilityType in filteredFacilityTypes"
                                ng-click="setSelectedFacilityType(facilityType)"
                                style="{{getFacilityTypeColor(facilityType)}}">
                                <td>
                                    <div>{{facilityType.name}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: top">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr class="gradient-header">
                                <th>Code
                                </th>
                                <th>Program Name
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="program in programs" ng-click="setSelectedProgram(program)"
                                style="{{getProgramColor(program)}}">
                                <td>
                                    <div>{{program.code}}</div>
                                </td>
                                <td>
                                    <div>{{program.name}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: top">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr class="gradient-header">
                                <th style="text-align: center">Allowed
                                </th>
                                <th>Code
                                </th>
                                <th>Product Name
                                </th>
                                <th>Min
                                </th>
                                <th>Max
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="programProduct in products"
                                ng-style="getScheduleColor(program)">
                                <td style="text-align: center">
                                    <input type="checkbox" name="is-selected"
                                           ng-model="programProduct.isSelected" ng-change="setDataChanged(programProduct)"/>
                                </td>
                                <td>
                                    <div>{{programProduct.product.code}}</div>
                                </td>
                                <td>
                                    <div>{{programProduct.product.primaryName}}</div>
                                </td>
                                <td>
                                    <input type="text" ng-model="programProduct.minMonthsOfStock" ng-change="setDataChanged(programProduct)"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="programProduct.maxMonthsOfStock" ng-change="setDataChanged(programProduct)"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <div form-toolbar id="action_buttons" class="action-buttons">
                <div class="form-cell button-row">
                    <input type="submit" class="btn btn-primary save-button" ng-disabled="!isDataChanged" value="Save"/>
                </div>
                <div class="toolbar-error" id="saveErrorMsgDiv" ng-bind="error" ng-show="error"/>
            </div>
        </div>
    </form>

</div>