<div class="form-group product-basic-information">
  <h3 id="basicInformationLabel" openlmis-message="label.basicInformation"></h3>

  <div class="form-row clearfix row-fluid">
    <div class="span9">
      <div class="span6 form-block">
        <div class="form-cell">
          <label id="productCodeLabel">
            <span openlmis-message="header.product.code"></span>
            <span class="label-required">*</span>
          </label>

          <div class="form-field">
            <input ng-model="product.code" name="code" id="code" type="text" maxlength="50"
                   ng-required="true"/>
            <span class="field-error" ng-show="!product.code && showError"
                  openlmis-message="missing.value"></span>
          </div>
        </div>

        <div class="form-cell">
          <label id="productPrimaryNameLabel">
            <span openlmis-message="header.product.primary.name"></span>
            <span class="label-required"> *</span>
          </label>

          <div class="form-field">
            <input ng-model="product.primaryName" name="primaryName" id="primaryName" type="text"
                   maxlength="150"
                   ng-required="true"/>
            <span class="field-error" ng-show="!product.primaryName && showError"
                  openlmis-message="missing.value"></span>
          </div>
        </div>

        <div class="form-cell">
          <label id="productFullNameLabel" for="fullName"
                 openlmis-message="label.product.fullName"></label>

          <div class="form-field">
            <input ng-model="product.fullName" name="fullName" id="fullName" type="text"
                   maxlength="250"/>
          </div>
        </div>

        <div class="form-cell">
          <label id="productTypeLabel" for="type" openlmis-message="label.product.type"></label>

          <div class="form-field">
            <input ng-model="product.type" name="type" id="type" type="text" maxlength="100"/>
          </div>
        </div>

        <div class="form-cell">
          <label id="productGroupLabel" for="productGroup"
                 openlmis-message="label.product.group"></label>

          <div class="form-field">
            <select class="ui-select-width dropdown-selection" id="productGroup" ui-select2
                    ng-model="selectedProductGroupCode"
                    ng-options="productGroup.code as productGroup.name for productGroup in productGroups | orderBy: 'name'">
              <option value="" openlmis-message="placeholder.select.product.group"></option>
            </select>
          </div>
        </div>

        <div class="form-cell">
          <label id="productDescriptionLabel" for="description"
                 openlmis-message="label.product.description"></label>

          <div class="form-field">
            <textarea ng-model="product.description" name="description" id="description"></textarea>
          </div>
        </div>
      </div>

      <div class="span6 form-block">
        <div class="form-cell">
          <label id="productFormLabel" for="form" openlmis-message="label.product.form"></label>

          <div class="form-field">
            <select class="ui-select-width dropdown-selection" id="form" ui-select2 ng-model="selectedProductFormCode"
                    ng-options="productForm.code as productForm.code for productForm in productForms | orderBy: 'code'">
              <option value="" openlmis-message="placeholder.select.product.form"></option>
            </select>
          </div>
        </div>

        <div class="form-cell ui-group">
          <div class="span6">
            <label id="productStrengthLabel" for="strength"
                   openlmis-message="label.product.strength"></label>

            <div class="form-field">
              <input ng-model="product.strength" name="strength" id="strength" type="text"
                     maxlength="14"/>
            </div>
          </div>
          <div class="span6">
            <label id="dosageUnitLabel" for="dosageUnit"
                   openlmis-message="label.product.dosageUnit"></label>

            <div class="form-field">
              <select class="ui-select-width" id="dosageUnit" ui-select2
                      ng-model="selectedProductDosageUnitCode"
                      ng-options="dosageUnit.code as dosageUnit.code for dosageUnit in dosageUnits | orderBy: 'code'">
                <option value="" openlmis-message="placeholder.select.product.dosageUnit"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-cell black-cell"></div>

        <div class="form-cell">
          <label id="productDispensingUnitLabel">
            <span openlmis-message="label.product.dispensingUnit"></span>
            <span class="label-required"> *</span>
          </label>

          <div class="form-field">
            <input ng-model="product.dispensingUnit" name="dispensingUnit" id="dispensingUnit"
                   type="text"
                   maxlength="20"
                   ng-required="true"/>
            <span class="field-error" ng-show="!product.dispensingUnit && showError"
                  openlmis-message="missing.value"></span>
          </div>
        </div>

        <div class="form-cell ui-group">
          <div class="span6">
            <label id="productDosesPerDispensingUnitLabel" for="dosesPerDispensingUnit">
              <span openlmis-message="label.product.dosesPerDispensingUnit"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <div class="position-relative">
                <input ng-model="product.dosesPerDispensingUnit" name="dosesPerDispensingUnit"
                       id="product.dosesPerDispensingUnit" type="text" maxlength="5"
                       ng-required="true" numeric-validator="positiveInteger"/>
                <span class="rnr-form-error" style="display:none;" id="dosesPerDispensingUnit"
                      openlmis-message="error.number.only"></span>
              </div>
              <span class="field-error" ng-show="!product.dosesPerDispensingUnit && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>

          <div class="span6">
            <label id="productPackSizeLabel" for="product.packSize">
              <span openlmis-message="label.product.packSize"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <div class="position-relative">
                <input ng-model="product.packSize" name="packSize" id="product.packSize" type="text"
                       maxlength="5" ng-required="true" numeric-validator="positiveInteger"/>
                <span class="rnr-form-error" style="display:none;" id="packSize"
                      openlmis-message="error.number.only"></span>
              </div>
              <span class="field-error" ng-show="!product.dosesPerDispensingUnit && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>
        </div>

        <div class="form-cell ui-group">
          <div class="span6">
            <label id="productPackRoundingThresholdLabel" for="packRoundingThreshold">
              <span openlmis-message="label.product.packRoundingThreshold"></span>
              <span class="label-required"> *</span>
            </label>

            <div class="form-field">
              <div class="position-relative">
                <input ng-model="product.packRoundingThreshold" name="packRoundingThreshold"
                       id="product.packRoundingThreshold" type="text" maxlength="5"
                       ng-required="true" numeric-validator="positiveInteger"/>
                <span class="rnr-form-error" style="display:none;" id="packRoundingThreshold"
                      openlmis-message="error.number.only"></span>
              </div>
              <span class="field-error" ng-show="!product.packRoundingThreshold && showError"
                    openlmis-message="missing.value"></span>
            </div>
          </div>
          <div class="span6">
            <label id="productRoundToZeroLabel">
              <span openlmis-message="label.product.roundToZero"></span>
              <span class="label-required">*</span>
            </label>

            <div class="form-field">
              <input id="roundToZeroTrue" ng-model="product.roundToZero" type="radio"
                     name="roundToZero"
                     ng-value="true"
                     ng-required="true"/>
              <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
              <input id="roundToZeroFalse" ng-model="product.roundToZero" type="radio"
                     name="roundToZero"
                     ng-value="false"/>
              <span openlmis-message="button.no"></span>
              <span class="field-error"
                    ng-show="(product.roundToZero === undefined || product.roundToZero === null) && showError"
                    openlmis-message="select.value"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="form-cell">
        <label id="productActiveLabel">
          <span openlmis-message="label.product.active"></span>
          <span class="label-required"> *</span>
        </label>

        <div class="form-field">
          <input id="activeTrue" ng-model="product.active" type="radio" name="active"
                 ng-value="true"
                 ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="activeFalse" ng-model="product.active" type="radio" name="active"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(product.active === undefined || product.active === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell">
        <label id="productFullSupplyLabel">
          <span openlmis-message="label.product.fullSupply"></span>
          <span class="label-required"> *</span>
        </label>

        <div class="form-field">
          <input id="fullSupplyTrue" ng-model="product.fullSupply" type="radio" name="fullSupply"
                 ng-value="true"
                 ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="fullSupplyFalse" ng-model="product.fullSupply" type="radio" name="fullSupply"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(product.fullSupply === undefined || product.fullSupply === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell">
        <label id="productTracerLabel">
          <span openlmis-message="label.product.tracer"></span>
          <span class="label-required"> *</span>
        </label>

        <div class="form-field">
          <input id="tracerTrue" ng-model="product.tracer" type="radio" name="tracer"
                 ng-value="true"
                 ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="tracerFalse" ng-model="product.tracer" type="radio" name="tracer"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(product.tracer === undefined || product.tracer === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell">
        <label id="productNOSLabel">
          <span openlmis-message="label.product.nos"></span>
          <span class="label-required"> *</span>
        </label>

        <div class="form-field">
          <input id="nosTrue" ng-model="product.nos" type="radio" name="nos" ng-value="true"
                 ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="nosFalse" ng-model="product.nos" type="radio" name="nos" ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(product.nos === undefined || product.nos === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell">
        <label id="productIsBasicLabel">
          <span openlmis-message="label.product.is.basic"></span>
          <span class="label-required"> *</span>
        </label>

        <div class="form-field">
          <input id="isBasicTrue" ng-model="product.isBasic" type="radio" name="isBasic"
                 ng-value="true"
                 ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="isBasicFalse" ng-model="product.isBasic" type="radio" name="isBasic"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(product.isBasic === undefined || product.isBasic === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell" ng-if="isArchiveFieldHidden">
        <label id="productArchivedLabel" openlmis-message="label.product.archived"></label>

        <div class="form-field">
          <input id="archivedTrue" ng-model="product.archived" type="radio" name="archived"
                 ng-value="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="archivedFalse" ng-model="product.archived" type="radio" name="archived"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
        </div>
      </div>

      <div class="form-cell">
        <label>
          <span openlmis-message="lable.product.is.kitproduct"></span>
          <span class="label-required">*</span>
        </label>

        <div class="form-field">
          <input id="isProductKitTrue" ng-model="kitOfProduct.isProductKit" type="radio" name="isProductKit"
                 ng-value="true" ng-required="true"/>
          <span openlmis-message="button.yes"></span> &nbsp; &nbsp; &nbsp;
          <input id="isProductKitFalse" ng-model="kitOfProduct.isProductKit" type="radio" name="isProductKit"
                 ng-value="false"/>
          <span openlmis-message="button.no"></span>
          <span class="field-error"
                ng-show="(kitOfProduct.isProductKit === undefined || kitOfProduct.isProductKit === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell" ng-show="kitOfProduct.isProductKit">
        <label>
          <span openlmis-message="lable.product.kitcode"></span>
          <span class="label-required">*</span>
        </label>

        <div class="form-field">
          <input ng-model="kitOfProduct.kitCode" type="radio" name="kitCode" ng-value="'26B01'" ng-required="kitOfProduct.isProductKit"/>
          <span>26B01</span> &nbsp; &nbsp; &nbsp;
          <input ng-model="kitOfProduct.kitCode" type="radio" name="kitCode" ng-value="'26A01'"/>
          <span>26A01</span>
          <span class="field-error" ng-show="(kitOfProduct.kitCode === undefined || kitOfProduct.kitCode === null) && showError"
                openlmis-message="select.value"></span>
        </div>
      </div>

      <div class="form-cell" ng-show="kitOfProduct.isProductKit">
        <label>
          <span openlmis-message="lable.product.kitquantity"></span>
          <span class="label-required">*</span>
        </label>

        <div class="form-field">
          <div class="position-relative">
            <input ng-model="kitOfProduct.quantity" name="kitOfQuantity" type="text" maxlength="5"
                   numeric-validator="positiveInteger" ng-required="kitOfProduct.isProductKit"/>
            <span id="kitOfQuantity" class="rnr-form-error" style="display:none;" openlmis-message="error.number.only"></span>
          </div>
          <span class="field-error" ng-show="!kitOfProduct.quantity && showError"
                openlmis-message="missing.value"></span>
        </div>
      </div>
    </div>

  </div>
</div>