<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<div xmlns="http://www.w3.org/1999/html" tab-scroll>
<h2><span>{{title}}</span>
    <a href="#create" id="product-add-new"
       class="pull-right btn btn-primary"
       ng-disabled="AddEditMode"
       >Add New</a>
</h2>

<div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
<div class="box-content" ng-hide="AddEditMode">
    <form ng-submit="" name="filterForm" novalidate>
        <div class="clearfix ">
            <div class="form-cell horizontalFilters">
                <label class="labels">Program</label>

                <div class="form-fields">
                    <select ui-select2 style="width:200px;" class="large-input" name="program" id="program"
                            ng-change="showProductsSearchResults('program')"
                            ng-model="program" ng-options="option.id as option.name for option in programs">
                        <option style="display:none" value="">All Programs</option>

                    </select>
                </div>
            </div>

        </div>
    </form>
</div>

<div>
    <table class="table table-striped table-bordered">

        <!-- column headers-->
        <thead>
        <tr class="gradient-header">
            <th>Code</th>
            <th>Name</th>
            <th>Program</th>
            <th>Strength</th>
            <th>Unit of Measure</th>
            <th>Display Order</th>
            <th>Active</th>
            <th>Full Supply</th>
        </tr>
        </thead>


        <tbody>
        <!--repeat-->
        <tr ng-repeat="pr in filteredProducts | orderBy:['displayOrder','primaryName']">

            <!-- Code-->
            <td>
                <div>{{pr.code}}</div>
            </td>
            <!-- name-->
            <td>
                <div>
                    <a href="#edit/{{ pr.id }}">{{pr.primaryName}}</a>
                </div>
            </td>
            <!-- Program-->
            <td>
                <div>{{pr.programName}}</div>
            </td>
            <!-- Strenght-->
            <td>
                <div>{{pr.strength}}</div>
            </td>
            <!-- UOM-->
            <td>
                <div>{{pr.dispensingUnit}}</div>
            </td>
            <!-- Display Order-->
            <td>
                <div>{{pr.displayOrder}}</div>
            </td>
            <!-- Active-->
            <td>
                <div>{{YesNo(pr.active)}}</div>
            </td>
            <!-- Active-->
            <td>
                <div>{{YesNo(pr.fullSupply)}}</div>
            </td>


        </tr>
        </tbody>
    </table>
    <!--list-->
    <!--list-->
</div>


</div>




