<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~   Copyright © 2013 VillageReach
  ~
  ~   This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~    
  ~   This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~   You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div xmlns="http://www.w3.org/1999/html">
    <h2><span>Distribute to Regions</span>

    </h2>

    <form ng-submit="saveDistributionBatch()" name="inventoryTransactionForm" novalidate>
        <div class="app-form">
            <div class="row-fluid">
                <div class="span4">
                    <label for="today" >Today<span class="label-required"> *</span></label>

                    <input id="today" name="today" type="text" ng-model="inventoryTransaction.today"
                           readonly
                           ui-date="{dateFormat:'dd/mm/yy', changeYear: true}"
                           ui-date-format="yy-mm-dd"
                           ng-required="true"/>
                    <span class="field-error" ng-show="inventoryTransactionForm.today.$error.required && showError"
                          openlmis-message="missing.value">
                    </span>
                </div>
                <div class="span4">
                    <label for="bol">Way bill<span class="label-required"> *</span></label>
                    <input id="bol" ng-model="inventoryTransaction.bol" name="bol"  type="text" maxlength="50" ng-required="true"/>
                <span class="field-error" ng-show="inventoryTransactionForm.bol.$error.required && showError"
                      openlmis-message="missing.value">

                </span>
                </div>
                <div class="span4">
                    <label for="distributedTo">Distribute to<span class="label-required"> *</span></label>
                    <select   id="distributedTo"  name="distributedTo" ng-model="inventoryTransaction.distributedTo" ng-required="true" style="width:90%;">
                        <option  ng-repeat="option in regions | orderBy : 'name' " value="{{ option.id }}">{{ option.name }}</option>
                    </select>
                <span class="field-error" ng-show="inventoryTransactionForm.distributedTo.$error.required && showError"
                      openlmis-message="missing.value">
                </span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label for="dispatchReference">Dispatch reference<span class="label-required"> *</span></label>
                    <input id="dispatchReference" ng-model="inventoryTransaction.dispatchReference" name="dispatchId"  type="text" maxlength="50" ng-required="true"/>
                <span class="field-error" ng-show="inventoryTransactionForm.dispatchReference.$error.required && showError"
                      openlmis-message="missing.value">

                </span>
                </div>
                <div class="span4">
                    <label for="dispatchDate">Distribution Date<span class="label-required"> *</span></label>

                    <input id="dispatchDate" name="dispatchDate" type="text" ng-model="inventoryTransaction.dispatchDate"
                           readonly
                           ui-date="{dateFormat:'dd/mm/yy', changeYear: true}"
                           ui-date-format="yy-mm-dd"
                           ng-required="true"/>
                <span class="field-error" ng-show="inventoryTransactionForm.dispatchDate.$error.required && showError"
                      openlmis-message="missing.value">
                </span>
                </div>

                <div class="span4">
                    <label for="product" >Vaccine<span class="label-required"> *</span></label>
                    <select  id="product"  name="product" ng-model="inventoryTransaction.product.id"  required="true" style="width:90%;">
                        <option  ng-repeat="option in products" value="{{option.id}}">{{ option.name }}</option>
                    </select>
                <span class="field-error" ng-show="inventoryTransactionForm.product.$error.required && showError"
                      openlmis-message="missing.value">
                </span>
                </div>
            </div>

            <div class="row-fluid">
                <label for="shipment-status">Distribution Status<span class="label-required">*</span></label>

                <div id="shipment-status" class="span12">
                    <div ng-repeat="status in receivedStatus" class="{{spanLength}} form-inline">
                        <input style="margin: 0px;" id="statusSelected{{$index}}" name="statusSelected"  type="radio" ng-model="inventoryTransaction.status.id"
                               value="{{status.id}}"/>
                        &nbsp;<label for="statusSelected{{$index}}">{{status.name}}</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <label for="purpose">Purpose<span class="label-required">
                             *</span></label>
                <table id="purpose" class="table table-striped table-bordered">
                    <thead>
                    <tr  class="gradient-header">
                        <th>Routine</th>
                        <th>Campaign</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input id="routine" type="radio" name="purpose" value="routine" ng-model="inventoryTransaction.purpose"/></td>
                        <td><input id="campaign" type="radio" name="purpose" value="campaign" ng-model="inventoryTransaction.purpose"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4"></div>
        </div>
        <div class="row-fluid">
            <a href="" ng-click="addBatches()" class="pull-right btn btn-primary"><span id="distribution-batch-add-new"
                                                                                        openlmis-message="button.add.new"></span></a>

            <table ng-show="batches || batches.length > 0"  class="table table-striped table-bordered">
                <thead class="gradient-header">
                <th>Batch Number</th>
                <th>Expiry Date</th>
                <th>Production Date</th>
                <th>Quantity</th>
                </thead>
                <tbody>
                <tr ng-repeat="batch in batches">
                    <td>{{batch.batchNumber}}</td>
                    <td>{{ convertStringToCorrectDateFormat(batch.stringExpiryDate) }}</td>
                    <td>{{ convertStringToCorrectDateFormat(batch.stringProductionDate) }}</td>
                    <td>{{batch.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <label for="quantityValue">Quantity/Value<span class="label-required">
                             *</span></label>
                <table id="quantityValue" class="table table-striped table-bordered">
                    <thead>
                    <tr  class="gradient-header">
                        <th>Pack Size</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input id="packSize" type="text" name="packSize" ng-model="inventoryTransaction.packSize"/></td>
                        <td><input id="quantity" type="text" name="quantity" ng-model="inventoryTransaction.quantity"/></td>
                        <td><input id="unitPrice" type="text" name="unitPrice" ng-model="inventoryTransaction.unitPrice"/></td>
                        <td><input id="totalCost" type="text" name="totalCost" ng-model="inventoryTransaction.totalCost"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <label for="expectedDate">Expected date<span class="label-required"> *</span></label>

                <input id="expectedDate" name="expectedDate" type="text" ng-model="inventoryTransaction.expectedDate"
                       readonly
                       ui-date="{dateFormat:'dd/mm/yy', changeYear: true}"
                       ui-date-format="yy-mm-dd"
                       ng-required="true"/>
                    <span class="field-error" ng-show="inventoryTransactionForm.expectedDate.$error.required && showError"
                          openlmis-message="missing.value">
                    </span>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <label for="notes">Note</label>
                <textarea id="notes" 
                          name="notes"
                          ng-model="distributionBatch.notes" style="width: 400px;height: 200px;"/>
            </div>
        </div>

        <div form-toolbar id="action_buttons" class="action-buttons">
            <div class="form-cell button-row">
                <input id="distributionBatchSaveButton" type="submit" class="btn btn-primary save-button" openlmis-message="button.save"/>
                <input id="distributionBatchCancelButton" type="button" class="btn btn-cancel cancel-button" openlmis-message="button.cancel"
                       ng-click="cancelDistributionBatchSave()"/>
            </div>
            <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"/>
            <div class="toolbar-success" id="saveSuccessMsgDiv" openlmis-message="message" ng-show="message"/>
        </div>

    </form>


    <div id="addBatchesModal" style="width: 85%; left:30%" modal="addBatchesModal" options="{'backdrop':'static', 'escape':false}">
        <div class="modal-header">
            <h3>
                <span>Select batch to distribute</span>&nbsp;

            </h3>
        </div>

        <div class="modal-body">
            <form ng-submit="saveBatches()" id="add-batch" name="addBatchForm" novalidate>
                <table ng-show="usableBatches == undefined || usableBatches.length == 0"  class="table table-striped table-bordered">
                    <thead class="gradient-header">
                        <th>Batch Number</th>
                        <th>Expiry Date</th>
                        <th>Production Date</th>
                        <th>SOH</th>
                        <th>Quantity to send</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">No records found</td>
                        </tr>
                    </tbody>
                </table>
                <table ng-show="usableBatches || usableBatches.length > 0"  class="table table-striped table-bordered">
                    <thead class="gradient-header">
                        <th><div openlmis-message="label.select.all"></div><div><input type="checkbox" ng-model="formFilter.selectAll" ng-change="selectAllFacilities()"/></div></th>
                        <th>Batch Number</th>
                        <th>Expiry Date</th>
                        <th>Production Date</th>
                        <th>SOH</th>
                        <th>Quantity to send</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="batch in usableBatches">
                            <td><input type="checkbox" ng-model="batch.selected" ng-change="facilitySelectChange(row.selected)"/></td>

                            <td>{{batch.batchNumber}}</td>
                            <td>{{ convertStringToCorrectDateFormat(batch.stringExpiryDate) }}</td>
                            <td>{{ convertStringToCorrectDateFormat(batch.stringProductionDate) }}</td>
                            <td>{{batch.quantity}}</td>
                            <td><input type="number" ng-model="batch.dispatchQuantity"/>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="alert alert-error" id="saveFailMessage" openlmis-message="error" ng-show="error">
            </div>
        </div>
        <div class="modal-footer">
            <input id="addBatchButton" type="submit" ng-click="saveBatches()" class="btn btn-primary save-button" openlmis-message="button.save"/>
            <input type="button"
                   ng-click="resetAddBatchesModal()"
                   class="btn btn-cancel" openlmis-message="button.cancel"/>
        </div>
    </div>

</div>

</div>