<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div>
    <h2>
        <span id="vaccineManufacturerHeader" >Manufacturer</span>
        <a id="vaccine-target-new" ng-href="#/manufacturerEdit/0" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
    <div class="alert alert-danger" id="errorMsgDiv" ng-bind="error" ng-show="error"/>

    <table class="table table-striped table-bordered">
        <thead>
        <tr class="gradient-header">
            <th>#</th>
            <th openlmis-message="label.vaccine.manufacturer.name"></th>
            <th openlmis-message="label.vaccine.manufacturer.primary.phone"></th>
            <th openlmis-message="label.vaccine.manufacturer.email"></th>
            <th openlmis-message="label.action"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="manufacturer in vaccineManufacturers">
            <td>{{$index+1}}</td>
            <td>{{manufacturer.name}}</td>
            <td>{{manufacturer.primaryPhone}}</td>
            <td>{{manufacturer.email}}</td>
            <td> <a href ng-click="showRemoveVaccineManufacturerDialog(manufacturer)" openlmis-message="button.delete">Delete</a> | <a href="#/manufacturerEdit/{{manufacturer.id}}" openlmis-message="button.edit">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

