<div xmlns="http://www.w3.org/1999/html">
    <h2>Search User
        <a href="#" class="pull-right btn btn-primary">Add new</a>
    </h2>

    <input id="searchUser" class="search-query input-xlarge" type="text" ng-model="query" ng-change="showUserSearchResults(query)" placeholder="Enter user firstname, lastname or email" />
    <div class="form-tip">Minimum 3 characters</div>
    <div class="facility-list" ng-show="query.length > 2">
        <h3>
            <ng-pluralize count="resultCount"
                          when="{ 0: 'No matches found for \'{{query}}\'',
                            1: '1 match found for \'{{query}}\'',
                            other: '{} matches found for \'{{query}}\''}">

            </ng-pluralize>
        </h3>
        <a class="close-btn" href="javascript:void(0);" ng-click="clearSearch()">Close</a>
        <ul>
            <li ng-repeat="user in filteredUsers">
                <a ng-click="editUser(user.id)">{{user.firstName}} {{user.lastName}} - {{user.email}}</a>
            </li>
        </ul>
    </div>
</div>