<div class="fluid-grid" ng-controller="UserRoleAssignmentController" ng-show="showRoleAssignmentOptions()">
  <div class="row-fluid fluid-grid-header">
    <div class="span3">
      <div class="fluid-grid-cell">Program(s)</div>
    </div>
    <div class="span6">
      <div class="fluid-grid-cell">Roles</div>
    </div>
    <div class="span3">
      <div class="fluid-grid-cell">&nbsp;</div>
    </div>
  </div>

  <div class="row-fluid" ng-repeat="roleAssignment in user.roleAssignments">
    <div class="span3">
      <div class="fluid-grid-cell">
        <label ng-bind="getProgramName(roleAssignment.programId)"></label>
      </div>
    </div>
    <div class="span6">
      <div class="fluid-grid-cell">
        <select ui-select2 ng-model="roleAssignment.roleIds" placeholder="+ Add Role"
              multiple="multiple" style="width:400px" name="roles" id="roles">
          <option ng-repeat="role in allRoles" value="{{role.id}}" ng-bind="role.name"></option>
        </select>
        <span ng-show="roleAssignment.roleIds.length == 0" class="field-error">
         Please fill in this value
        </span>
      </div>
    </div>
    <div class="span3">
      <div class="fluid-grid-cell">
        <a class="delete-role" value="delete" ng-click="deleteCurrentRow($index)">&times;</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <select ng-options="programSupported.program.id as programSupported.program.name for programSupported in availablePrograms()" ng-model="programSelected">
        <option value="">Select program</option>
      </select>
      <span ng-show='hasError(programSelected)' class="field-error">
        Please select a program
      </span>
    </div>
    <div class="span6">
      <select ui-select2 ng-model="selectedRoleIds" placeholder="+ Add Role" multiple="multiple" style="width:400px">
        <option ng-repeat="role in $parent.allRoles" value="{{role.id}}">{{role.name}}</option>
      </select>
      <span ng-show='hasError(selectedRoleIds)' class="field-error">
        Please select role(s)
      </span>
    </div>
    <div class="span3">
      <a ng-click="addRole()" class="btn btn-primary">+ Add</a>
    </div>
  </div>
</div>
