<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div ng-controller="UserRoleAssignmentController">
  <div class="fluid-grid">
    <div class="row-fluid">
      <div class="span6">
        <div class="fluid-grid-cell">
          <select id="adminRoles" ui-select2 ng-model="user.adminRole.roleIds" placeholder="+ Add Role"
                  multiple="multiple" name="roles" id="roles">
            <option ng-repeat="role in adminRoles" value="{{role.id}}" ng-bind="role.name"></option>
          </select>
          <span ng-show="roleAssignment.roleIds.length == 0" class="field-error" openlmis-message="create.user.missingValue">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>