<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<div ng-controller="UserRoleAssignmentController">
  <div class="form-group">
    <h3 openlmis-message="create.user.homeFacility.roles"></h3>

    <div class="fluid-grid" ng-show="showHomeFacilityRoleAssignmentOptions()">
      <div class="row-fluid fluid-grid-header">
        <div class="span3">
          <div class="fluid-grid-cell" openlmis-message="program.header"></div>
        </div>
        <div class="span6">
          <div class="fluid-grid-cell" openlmis-message="create.user.role"></div>
        </div>
        <div class="span3">
          <div class="fluid-grid-cell">&nbsp;</div>
        </div>
      </div>

      <div class="row-fluid" ng-repeat="roleAssignment in user.homeFacilityRoles" tab-scroll>
        <div class="span3">
          <div class="fluid-grid-cell">
            <label ng-bind="getProgramName(roleAssignment.programId)"></label>
          </div>
        </div>
        <div class="span7">
          <div class="fluid-grid-cell">
            <select ui-select2 ng-model="roleAssignment.roleIds" placeholder="+ Add Role"
                    multiple="multiple" name="roles" id="roles">
              <option ng-repeat="role in nonAdminRoles" value="{{role.id}}" ng-bind="role.name"></option>
            </select>
            <span ng-show="roleAssignment.roleIds.length == 0" class="field-error" openlmis-message="missing.value">
            </span>
          </div>
        </div>
        <div class="span2">
          <a class="btn delete-role" value="delete" ng-click="deleteCurrentRow($index, false)" openlmis-message="button.remove"></a>
        </div>
      </div>
    </div>

    <div class="add-role-row" tab-scroll>
      <div class="row-fluid">

        <div class="span3">
          <div class="fluid-grid-cell">
            <select
                ng-options="programSupported.program.id as programSupported.program.name group by programSupported.program.status for programSupported in availableSupportedProgramsWithStatus()"
                ng-model="programSelected">
              <option value="" ng-bind="selectedProgramMessage"></option>
            </select>
            <span ng-show='hasMappingError(showHomeFacilityRoleMappingError, programSelected)' class="field-error"
                  openlmis-message="create.user.selectProgram">
            </span>
          </div>
        </div>

        <div class="span7 select2-roles">
          <div class="fluid-grid-cell">
            <select ui-select2 ng-model="selectedRoleIds" placeholder="+ Add Role" multiple="multiple"
                    style="width:400px">
              <option ng-repeat="role in nonAdminRoles" value="{{role.id}}">{{role.name}}</option>
            </select>
            <span ng-show='hasMappingError(showHomeFacilityRoleMappingError,selectedRoleIds)' class="field-error"
                  openlmis-message="create.user.selectRoles">
            </span>
          </div>
        </div>

        <div class="span2">
          <div class="fluid-grid-cell">
            <a ng-click="addHomeFacilityRole()" class="btn btn-primary" openlmis-message="button.add"></a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
