.content {
  min-height: 200px;
  background: white;
  padding: 10px 20px 20px;
  margin: 72px 12px 0 265px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.content h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0;
  color: #464646;
  border-bottom: 1px solid #d6d6d6;
}

/* TODO: Split into separate screen */
/* RnR Template config */
.rnr-template-head {
  border: 1px solid #BBB;
  background: #EEE;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.form-row {
  padding: 10px 0;
}
.form-row label {
  padding-bottom: 2px;
}

span[class^="tpl-"] {
  display: inline-block;
  padding: 10px;
  vertical-align: text-top;
}

.rnr-template-head span[class^="tpl-"] {
  padding: 8px 10px;
}

.tpl-used {
  width: 18%;
}

.tpl-label {
  width: 35%;
}

.tpl-position {
  width: 40px;
}

.tpl-position input {
  width: 20px;
}

.tpl-source {
  width: 18%;
}

.tpl-visible {
  width: 50px;
  text-align: center;
}

.rnr-template-columns {
  margin-bottom: 10px;
}

.rnr-template-columns ul {
  list-style: none;
  margin: 0;
}

.rnr-template-columns ul > li {
  border: 1px solid #DDD;
  border-color: transparent #BBB #DDD;
  border-top: 0;
  background: #FCFCFC;
  font-size: 0.9em;
  position: relative;
}
.rnr-template-columns ul > li .drag-handle {
  background: url("../images/sort-icon.png") no-repeat left center;
  position: absolute;
  width: 12px;
  height: 16px;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  cursor: move;
  display: none;
}
.rnr-template-columns ul > li:hover .drag-handle {
  display: block;
}

#sortable .ui-sortable-helper {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border: 1px solid rgba(82, 168, 236, 0.8);
}
#sortable .sortable-placeholder {
  border: 2px dashed #5BA5D6;
  margin: 10px 0;
  height: 70px;
  background: #E8F8FF;
}

.rnr-template-columns input[type="text"] {
  margin-bottom: 2px;
  font-size: 1em;
  height: 18px;
  width: 70%;
}

.rnr-template-columns .default-label {
  font-size: 0.9em;
  display: block;
}

.rnr-table {
  overflow: auto;
  width: 100%;
}
.rnr-table th {
  white-space: nowrap;
  background: #EEE;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

input[ui-date] {
  background: #FFF;
  cursor: default;
}

.info-box {
  border: 1px solid #B9B9B9;
  background: #F2F2F2;
  margin-bottom: 18px;
  padding: 9px 12px 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 white;
}

/* R&R form */
.col-product,
.col-remarks,
.col-reasonForRequestedQuantity,
.col-reasonForLossesAndAdjustments {
  min-width: 320px;
}
.col-packsToShip {
  min-width: 170px;
}
table td.col-formula {
  text-align: center;
}
.col-formula .indicator,
.rnr-template-columns .indicator {
  display: inline-block;
  font-weight: bold;
  font-size: 0.8em;
  padding: 1px 7px;
  color: white;
  background: #CE5959;
  border-radius: 26px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px #999;
}
.rnr-template-columns .indicator {
  font-size: 0.9em;
  margin-left: 6px;
}

.col-formula .formula {
  font-style: italic;
  border-top: 1px dashed #AAA;
  margin-top: 8px;
  padding-top: 5px;
  color: #249BD3;
  white-space: nowrap;
  cursor: pointer;
}
.col-formula .formula:hover {
  text-decoration: underline;
}
