.content {
  min-height: 200px;
  background: white;
  padding: 10px 20px 20px;
  margin: 72px 12px 0 265px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.content h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0;
  color: #464646;
  border-bottom: 1px solid #d6d6d6;
}

/* TODO: Split into separate screen */
/* RnR Template config */
.rnr-template-head {
  border: 1px solid #BBB;
  background: #EEE;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.app-form {
  border: 1px solid #CCC;
  background: #F8F8F8;
  padding: 10px;
  box-shadow: inset 1px 1px 0 white;
}

.form-row {
  padding: 6px 10px;
  margin: 5px 0;
}
.form-row.error {
  background: #FFEAEA;
}
.form-row label {
  padding-bottom: 2px;
}
.form-row input,
.form-row select {
  margin-bottom: 0;
}
.form-row input[type='radio'] {
  margin: -3px 5px 0 0;
}
.form-row input[type='text'] {
  width: 306px;
}
.form-row input[type='text']:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  color: #555 !important;
}

.form-row select {
  width: 320px;
}
.form-row .label-required {
  color: #D31717;
  font-weight: bold;
  font-size: 1.2em;
}
.form-row .form-field {
  position: relative;
}
.form-row .form-field .field-error {
  left: 340px;/*change the position*/
  top: -1px;/*change the position*/
  position:absolute;
  background-repeat:repeat-x;
  background-color: rgba(182, 22, 22, 1);/*change this and the background color for the :before element*/
  background-image : -webkit-linear-gradient(
    bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  background-image : -moz-linear-gradient(
    bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  height:30px;
  padding: 0 10px;
  z-index : 0;
  border-radius: 6px;
  /*
  border-top-left-radius : 10px 15px;
  border-bottom-left-radius : 10px 15px;
  */
  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow : 1px 1px 1px #999;
  font-size : 0.8em;
  display : block;
  text-align:center;
  color:#fff;
  text-shadow : 0px -1px 0px #000;
  line-height : 30px;
  font-family : HelveticaNeue, arial, sans-serif;
  font-weight: normal;
  -webkit-background-size : 30px;
  -moz-background-size : 30px;
}
.form-row .form-field .field-error .beak {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 8px solid #AD0B0B;
  position: absolute;
  left: -8px;
  top: 9px;
}
/*
.form-row .form-field .field-error:before{
  position:absolute;
  top:9.9%;
  left:-5px;
  -webkit-background-size : 22px 22px;
  -moz-background-size : 22px 22px;
  background-position :-2px -1.5px;
  background-color:rgba(182, 22, 22, 1);
  background-image :
    -webkit-gradient(linear, left bottom, right top,
    from(rgba(0,0,0,0)),
    color-stop(0.5, rgba(0,0,0,0)),
    color-stop(0.5, rgba(255,255,255,0.1)),
    to(rgba(255,255,255,0.3)));
  background-image :
    -moz-linear-gradient(bottom left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);
  height : 25px;
  width: 25px;
  -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
  -moz-transform : rotate(-45deg) skew(-10deg, -10deg);
  border-top-right-radius : 100px 40px;
  border-top-left-radius : 30px 2px;
  border-bottom-right-radius : 2px 30px;
  border-bottom-left-radius : 40px 100px;
  z-index : 1;
  content : ' ';
  border-left : 1.5px solid rgba(255,255,255,0.3);
  -webkit-mask-image :
    -webkit-gradient(linear, left top, right bottom,
    from(#000000),
    color-stop(0.33,#000000),
    color-stop(0.5, transparent),
    to(transparent));
  -moz-mask-image :
    -webkit-gradient(linear, left top, right bottom,
    from(#000000),
    color-stop(0.33,#000000),
    color-stop(0.5, transparent),
    to(transparent));
}
*/
.form-row .form-field.radio-group .field-error {
  left: 150px;
  top: -6px;
}


span[class^="tpl-"] {
  display: inline-block;
  padding: 10px;
  vertical-align: text-top;
}

.rnr-template-head span[class^="tpl-"] {
  padding: 8px 10px;
}

.tpl-used {
  width: 18%;
}

.tpl-label {
  width: 35%;
}

.tpl-indicator {
  width: 30px;
}

.tpl-position input {
  width: 20px;
}

.tpl-source {
  width: 18%;
}

.tpl-visible {
  width: 50px;
  text-align: center;
}

.rnr-template-columns {
  margin-bottom: 10px;
}

.rnr-template-columns ul {
  list-style: none;
  margin: 0;
}

.rnr-template-columns ul > li {
  border: 1px solid #DDD;
  border-color: transparent #BBB #DDD;
  border-top: 0;
  background: #FCFCFC;
  font-size: 0.9em;
  position: relative;
}
.rnr-template-columns ul > li .drag-handle {
  background: url("../images/sort-icon.png") no-repeat left center;
  position: absolute;
  width: 12px;
  height: 16px;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  cursor: move;
  display: none;
}
.rnr-template-columns ul > li:hover .drag-handle {
  display: block;
}

#sortable .ui-sortable-helper {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border: 1px solid rgba(82, 168, 236, 0.8);
}
#sortable .sortable-placeholder {
  border: 2px dashed #5BA5D6;
  margin: 10px 0;
  height: 70px;
  background: #E8F8FF;
}

.rnr-template-columns input[type="text"] {
  margin-bottom: 2px;
  font-size: 1em;
  height: 18px;
  width: 70%;
}
.rnr-template-columns select {
  margin-bottom: 5px;
}

.rnr-template-columns .col-desc {
  font-size: 0.9em;
  display: block;
  width: 74%;
  line-height: 14px;
  color: #555;
  padding: 0 0 0 1px;
}

.rnr-table {
  overflow: auto;
  width: 100%;
}
.rnr-table th {
  white-space: nowrap;
  background: #EEE;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.9em;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

input[ui-date] {
  background: #FFF url(../images/calendar-icon.png) no-repeat 98% center;
  cursor: default;
}

.info-box {
  border: 1px solid #B9B9B9;
  background: #F2F2F2;
  margin-bottom: 18px;
  padding: 9px 12px 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 white;
}
.info-box > table td {
  padding: 4px 20px 10px 0;
}

/* R&R form */
.col-product,
.col-remarks,
.col-reasonForRequestedQuantity,
.col-reasonForLossesAndAdjustments {
  min-width: 320px;
}
.col-packsToShip {
  min-width: 170px;
}
table td.col-formula {
  text-align: center;
}
.col-formula .indicator,
.rnr-template-columns .indicator {
  display: inline-block;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0 6px;
  color: white;
  background: #CE5959;
  border-radius: 26px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px #999;
}
.rnr-template-columns .indicator {
  font-size: 0.8em;
}

.col-formula .formula {
  font-style: italic;
  border-top: 1px dashed #AAA;
  margin-top: 6px;
  padding-top: 3px;
  color: #249BD3;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.9em;
}
.col-formula .formula:hover {
  text-decoration: underline;
}

table td.cell-input {
  padding: 0;
}
table td.cell-input .cell-text {
  padding: 8px;
  display: inline-block;
}
.cell-input input[type="text"] {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 100%;
  height: 35px;
}

.ui-widget { font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 0.9em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #4297d7; background: #5c9ccc; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc; font-weight: bold; color: #2e6e9e; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5; font-weight: bold; color: #1d5987; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #1d5987; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9; font-weight: bold; color: #e17009; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 2.8em; height: 1.8em; font-size: 0.9em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -12px; top: 50%; margin-top: -9px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

