
<div class="row-fluid" ng-controller="AlertsController">
    <!--  <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="pull-right" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne">
                          Expand
                      </a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <div>Alerts</div>
                      <table ng-show="datarows.length > 0" class="table-bordered table table-striped pull-right"
                             ng-table="tableParams" ng-table-Scroller  loading-method="loadData(tableParams)" style="display: block; height: 150px;overflow: auto;">
                          <tbody >
                          <tr ng-repeat="alert in datarows" >
                              <td data-title="Alerts">
                                  {{alert.percent}} {{alert.alert}}
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>-->
    <div class="span6">
        <!--<div class="pull-right legend">Showing records {{ ((tableParams.page - 1) *
            tableParams.count) + 1 }} to {{ (tableParams.page +1 ) * tableParams.count }} of {{totalAlerts}}
        </div>-->
        <div>Alerts</div>
        <table ng-show="datarows.length > 0" class="table-bordered table table-striped pull-right"
               ng-table="tableParams" ng-table-Scroller  loading-method="loadData(tableParams)" style="display: block; height: 150px;overflow: auto;">
            <tbody >
            <tr ng-repeat="alert in datarows" >
                <td data-title="Alerts">
                    {{alert.percent}} {{alert.alert}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">

    </div>
</div>