<!DOCTYPE html>
<script id="template/accordion/accordion.html" type="text/ng-template">
    <div class="accordion" ng-transclude></div>
</script>

<script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="accordion-group">
        <div class="accordion-heading" style="margin-bottom:0; border-bottom:0">
           <a style="bottom:0" class="accordion-toggle" ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a>
        </div>
        <div class="accordion-body" style="display:block; margin-bottom:0" collapse="!isOpen">

            <div class="accordion-inner" ng-transclude></div>  </div>
    </div>
</script>

<div xmlns="http://www.w3.org/1999/html">

<h2><span>Summary</span></h2>


<div class="row-fluid">
    <div class="span12">

        <ng-include src="'/public/pages/dashboard/shared/dashboard-form.html'"></ng-include>
    </div>
</div>

<div style="margin-top: 5px">

    <accordion>
        <accordion-group is-open="fillRates.openPanel">
            <accordion-heading>
                <div class="accordion-title">
                    <div class="caption">
                        <i  class="flaticon-speedometer1"/><span openlmis-message="label.fill.rates"></span>
                    </div>
                    <div class="tools">
                        <i  ng-class="{'icon-minus-sign': fillRates.openPanel, 'icon-plus-sign': !fillRates.openPanel}"></i>
                    </div>
                </div>
            </accordion-heading>
    <div class="fill-rate-header">
        <div class="row-fluid">
            <div class="span3">
                <div class="form-field">
                    <span>Facility<span class="label-required">*</span></span>
                    <select ui-select2 style="width:200px;" id="facility-name"  name="facility" ng-model="formFilter.facilityId"  required="true">
                        <option  ng-repeat="option in allFacilities" value="{{ option.id }}">{{ option.code }} - {{ option.name }}</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
              <div class="row-fluid">
                <div class="app-form span6">
                    <h2 openlmis-message="label.order.fill.rate"></h2>
                    <div ng-show="orderFillChart.data == undefined">
                        <label class="chart-note">
                            No data to render chart
                        </label>
                    </div>
                    <div ui-chart="orderFillChart.data" chart-options="orderFillChart.option" style="width:360px;height:300px;" ng-show="showOrderFill"></div>
                 </div>
                <div class="app-form span6">
                    <h2>Item Fill Rate</h2>
                    <div ng-show="productItemFillRates == undefined || productItemFillRates.length == 0">
                        <label class="chart-note">No data to render chart</label>
                    </div>
                    <table ng-show="showItemFill">
                        <tr>
                            <td ng-repeat="itemFillRate in productItemFillRates">
                                <span class="easychart" style="height: 75px" easypiechart options="itemFillRate.option"  percent="itemFillRate.percent">
                                <span class="easychart-percent" ng-bind="itemFillRate.percent"></span>
                                </span>
                                <div style="text-align: center">{{itemFillRate.name}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

  </accordion-group>
  </accordion>
</div>

    <div class="row-fluid" style="margin-top: 5px;">
        <div class="span6"> <!-- District Reporting Performance -->
            <accordion>
                <accordion-group is-open="districtReporting.openPanel">
                    <accordion-heading>
                        <div class="accordion-title">
                            <div class="caption">
                                <i  class="flaticon-pie2"/> <span openlmis-message="label.district.reporting"></span>
                            </div>
                            <div class="tools">
                                <i  ng-class="{'icon-minus-sign': districtReporting.openPanel, 'icon-plus-sign': !districtReporting.openPanel}"></i>
                            </div>
                        </div>
                    </accordion-heading>

            <!--<h2>District Reporting Performance</h2>-->
                    <div>
                        <a-float id="district-reporting" af-option="pieChartOption" af-data="pieChartData" class="chart"></a-float>
                        <div id="districtReportLegend" class="chartLegend"></div>
                    </div>

            </accordion-group>
          </accordion>
        </div>
        <div  class="span6"> <!-- Stocking Efficiency -->
            <accordion>
                <accordion-group is-open="stocking.openPanel">
                    <accordion-heading>
                        <div class="accordion-title">
                            <div class="caption">
                                <i  class="flaticon-bar"/><span openlmis-message="label.stocking.efficiency"></span>
                            </div>
                            <div class="tools">

                                <i  ng-class="{'icon-minus-sign': stocking.openPanel, 'icon-plus-sign': !stocking.openPanel}"></i>
                            </div>
                        </div>
                    </accordion-heading>
                    <div ng-hide="multiBarsData"><label class="chart-note">No data to render chart</label></div>
                    <div  ng-show="multiBarsData">
                        <a-float id="stocking-efficiency" af-option="multipleBarsOption" af-data="multiBarsData" class="chart"> </a-float>
                        <div id="multiBarsLegend" class="chartLegend"></div>
                    </div>

                </accordion-group>
            </accordion>
        </div>
    </div>

<!-- BEGIN TAB PORTLET-->
<div class="portlet box light-grey tabbable" style="margin-top: 5px;">
    <div class="portlet-title">
            <div class="caption">
                        <i class="fa fa-reorder"></i>Sample Tabs
            </div>
    </div>
    <div class="portlet-body">
        <div class=" portlet-tabs">
            <ul class="nav nav-tabs" id="dashboard-tabs">
                <li id="dashboard-tab-1" class="active"><a href="#dashboard-tab-1-1" data-toggle="tab">Tab 1</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dashboard-tab-1-1">
                    <a-float id="afloat1" af-option="barChartOption" af-data="barChartData"  class="chart"></a-float>
                    <div id="barChartLegend" class="chartLegend"></div>
                </div>
                <div class="tab-pane" id="dashboard-tab-2-2">
                    <h2>District Reporting Performance</h2>
                    <a-float id="afloat2" af-option="pieChartOption" af-data="pieChartData" class="chart"></a-float>
                </div>
                <div class="tab-pane" id="dashboard-tab-3-3">

                   <!-- <div   ng-model="eventSources" calendar="myCalendar"  ui-calendar="uiConfig.calendar"></div>-->
                    <a-float id="multipleBars" af-option="multipleBarsOption" af-data="multiBarsData" class="chart"> </a-float>
                    <!--<div id="multiBarsLegend" class="chartLegend"></div>-->
                </div>
                <div class="tab-pane" id="dashboard-tab-4-4">
                        <span class="easychart" easypiechart options="option1" percent="percent1">
                            <span class="easychart-percent" ng-bind="percent1"></span>
                        </span>
                        <span class="easychart" easypiechart   options="option2" percent="percent2">
                            <span class="easychart-percent" ng-bind="percent2"></span>
                        </span>
                        <span class="easychart" easypiechart  options="option3" percent="percent3">
                            <span class="easychart-percent" ng-bind="percent3"></span>
                        </span>
                        <span class="easychart" easypiechart   options="option4" percent="percent4">
                            <span class="easychart-percent" ng-bind="percent4"></span>
                        </span>
                        <input type="range" min="-100" max="100" step="1" ng-model="percent4" />
                        <!--span class="easychart" easypiechart percent="anotherPercent" options="anotherOptions">
                            <span class="easychart-percent" ng-bind="anotherPercent"></span>
                        </span>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TAB PORTLET-->
<div class="well">
    <table  class="table-bordered table table-striped pull-right"
           >
        <tbody style="height:200px" ng-scroll-viewport >
        <tr ng-scroll="alert in alertData" >
            <!--<td style="width: 20px;">{{$index + 1}}</td>-->
            <td data-title="Alerts" style="width:95%">
                {{alert.percent}} {{alert.alert}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row-fluid">
        <div class="box span4">
            <div class="center-justified"><h2>Events</h2></div>
            <div style="margin-bottom: 3px;">
                <button type="button" class="btn btn-primary" ng-click="addEvent()">
                    Add Event
                </button>
            </div>
            <div>
                <ul class="unstyled">
                    <li ng-repeat="e in events">
                        <div class="row-fluid" style="margin-bottom: 3px;">
                            <div class="span7"><div><input ng-model="e.title"/></div></div>
                            <div class="span3"><div>{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}</div></div>
                            <div class="span2"><div><button class="btn btn-primary" ng-click="remove($index)">Remove</button></div></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box span8">
            <div class="center-justified"><h2>Calendar Events View</h2></div>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <button class="btn" ng-click="changeView('agendaDay', myCalendar)">AgendaDay</button>
                    <button class="btn" ng-click="changeView('agendaWeek', myCalendar)">AgendaWeek</button>
                    <button class="btn" ng-click="changeView('month', myCalendar)">Month</button>
                </div>
            </div>
            <div class="calendar"  ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
        </div>
    </div>
</div>
</div>

