<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/rnr/partials/header.html'"></ng-include>
<div class="rnr-tabs">
  <ul class="clearfix">
    <li ng-class="{'selected': !showNonFullSupply, 'has-error': fullSupplyTabError}">
      <a ng-click="switchSupplyType('full-supply')" id="fullSupplyTab">Full Supply Product(s)</a></li>
    <li ng-class="{'selected': showNonFullSupply, 'has-error': nonFullSupplyTabError}">
      <a ng-click="switchSupplyType('non-full-supply')" id="nonFullSupplyTab">Non Full Supply Product(s)</a></li>
  </ul>
</div>

<div id="pageErrors" class="rnr-page-errors" ng-show="shownErrorPages">
  <div class="dropdown"><a class="dropdown-toggle">
    Errors found on
    <ng-pluralize count="shownErrorPages.length"
                  when="{ 1: '{} page',
                                  other: '{} pages'}">

    </ng-pluralize>
    |
  </a>
    <ul class="dropdown-menu">
      <li ng-repeat="page in shownErrorPages">
        <a ng-click="goToPage(page, $event)">{{page}}</a>
      </li>
    </ul>
  </div>
</div>

<form name="approvalForm" novalidate>
  <div style='width: 100%'>
    <div class="approveGrid grid-approval" ng-grid="rnrGrid" ng-show="pageLineItems.length>0"></div>
  </div>
  <div class="alert alert-success" id="noProductMessage" ng-hide="pageLineItems.length>0">
    No products.
  </div>

  <br><br>

  <div form-toolbar id="action_buttons" class="action-buttons">
    <ng-include src="'/public/pages/logistics/rnr/partials/total-cost.html'"></ng-include>

    <div class="form-cell button-row">
      <input type="button" value="Save" ng-click="saveRnr()" class="btn btn-primary save-button"/>
      <input type="button" ng-click="approveRnr()" class="btn btn-success submit-button" value="Approve"/>
    </div>
    <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
    <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message" ng-bind="message"></div>
  </div>
</form>
<div>
  <openlmis-pagination num-pages="numberOfPages" current-page="currentPage" max-size="10"
                       check-error-on-page="checkErrorOnPage(page)"></openlmis-pagination>
</div>
