<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/rnr/partials/header.html'"></ng-include>
<div class="rnr-tabs clearfix">
  <ul class="clearfix">
    <li ng-class="{'selected': !showNonFullSupply, 'has-error': fullSupplyTabError}">
      <a ng-click="switchSupplyType('full-supply')" id="fullSupplyTab" openlmis-message="label.full.supply.products"></a></li>
    <li ng-class="{'selected': showNonFullSupply, 'has-error': nonFullSupplyTabError}">
      <a ng-click="switchSupplyType('non-full-supply')" id="nonFullSupplyTab" openlmis-message="label.non.full.supply.products"></a></li>
  </ul>
  <a class="btn pull-right" ng-click="getFullScreen()">
    <i ng-class="{'icon-resize-full': !fullScreen, 'icon-resize-small': fullScreen}"></i>
  </a>
</div>

<form name="approvalForm" novalidate>
  <div id="pageErrors" class="rnr-page-errors" ng-show="shownErrorPages">
    <div ng-switch on="shownErrorPages.length" class="dropdown">
      <a ng-switch-when="1" class="dropdown-toggle" openlmis-message="error.one.page"></a>
      <a ng-switch-default class="dropdown-toggle">
        Errors found on {{shownErrorPages.length}} pages
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="page in shownErrorPages">
          <a ng-click="goToPage(page, $event)">{{page}}</a>
        </li>
      </ul>
    </div>

  </div>

  <ng-switch on="showNonFullSupply">
        <span ng-switch-when="true">
          <ng-include src="'/public/pages/logistics/rnr/partials/approve/approve-non-full-supply.html'"></ng-include>
        </span>
        <span ng-switch-default>
          <ng-include src="'/public/pages/logistics/rnr/partials/approve/approve-full-supply.html'"></ng-include>
        </span>
  </ng-switch>
  <br><br>

  <div form-toolbar id="action_buttons" class="action-buttons">
    <ng-include src="'/public/pages/logistics/rnr/partials/total-cost.html'"></ng-include>

    <div class="form-cell button-row">
      <input type="button" value="Save" ng-click="saveRnr()" class="btn btn-primary save-button"/>
      <input type="button" ng-click="approveRnr()" class="btn btn-primary submit-button" value="Approve"/>

      <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
      <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message" ng-bind="message"></div>
      <input id="comments" type="button" ng-click="showCommentBox=!showCommentBox" class="btn comments-button"
             value="Comments"/>
      <comment-box updatable="true" show="showCommentBox"></comment-box>
    </div>
  </div>
</form>
<div>
  <openlmis-pagination num-pages="numberOfPages" current-page="currentPage" max-size="10"
                       check-error-on-page="checkErrorOnPage(page)"></openlmis-pagination>
</div>
