<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<h2 openlmis-message="label.approve.requisitions"></h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="message" ng-bind="$parent.message"></div>

<div class="app-form">
  <div class="form-group">
    <h3 openlmis-message="label.requisition.list"></h3>

    <div class="alert alert-info" id="NoRequisitionsPendingMessage" ng-hide="requisitions.length" openlmis-message="message.no.rnr.pending.approval">
    </div>
    <div ng-show="requisitions.length">
      <div class="row-fluid">
        <div class="span4 offset8 grid-filters">
          <input id="searchRequisition" class="search-query" ng-change="filterRequisitions()" type="text"
                 ng-model="query" openlmis-message="placeholder.search"/>
         <span openlmis-message="label.in"></span>
          <select ng-model="searchField" ng-change="filterRequisitions()">
            <option value="" openlmis-message="option.value.all"></option>
            <option value="programName" openlmis-message="option.value.program"></option>
            <option value="facilityCode" openlmis-message="option.value.facility.code"></option>
            <option value="facilityName" openlmis-message="option.value.facility.name"></option>
          </select>
        </div>
      </div>
      <div id="approveReqList" class="gridStyle" ng-grid="gridOptions" ng-show="requisitions.length"></div>
    </div>
  </div>
</div>

